<div class="dropdown months">
  {{custom-select model=monthDropdown selected=pickedMonth classNames="registerEdit select-month" disabled=isDisabled
                  onChange=(action 'onMonthPick')}}
</div>

<div class="dropdown days">
  {{custom-select model=dateDropdown selected=pickedDate classNames="registerEdit select-date" disabled=isDisabled
                  onChange=(action 'onDayPick')}}

</div>

<div class="dropdown year">
  {{custom-select model=yearDropdown selected=pickedYear classNames="registerEdit select-year" disabled=isDisabled
                  onChange=(action 'onYearPick')}}
</div>

{{yield}}