<div class="member-wrapper">
  <div class="member-content">
    {{remote-user-profile-pic model=model.userId classNames="profilePicWrapper" alt="ProfilePic"}}
    {{#if isStreaming}}
      {{#remote-stream model=model.streaming classNames="video-holder"}}
        {{loading-view}}
      {{/remote-stream}}
    {{/if}}

    <div class="muted-holder {{if isMuted "active"}}">
      <img src="/assets/ic_streaming_mic_off_24px.svg" alt="streaming muted">
    </div>
    <div class="mic-holder">
      <img src="/assets/ic_streaming_mic.svg" alt="streaming mic">
    </div>
    <div class="overlay">
    </div>
  </div>
</div>
