<img src="/assets/ic-feed-event-item-time@2x.png">
<div class="feed-event-date-wrapper">
  <div class="feed-event-date-date">
    {{modelDate}}
  </div>
  <div class="feed-event-date-time">
    {{modelStart}} - {{modelEnd}}
  </div>

</div>
