{{#if isPhoto}}
	{{chat-message-img model=attachmentUrl classNames="message-img" maxWidthSelector='.group-profile-attachment'}}	
{{else}}
  <div class="message-attachment-holder">
    <a href={{attachmentUrl}} target="_blank" class="message-attachment-link">
      <div class="message-attachment-wrapper">
        <div class="message-attachment-icon">
          <img src="/assets/baseline_attachment_black_48dp.png" alt="message attachment"/>
        </div>
        <div class="message-attachment-name">
          {{attachmentName}}
        </div>
      </div>
    </a>
  </div>
{{/if}}
