<div class="text-content">
  <div class="name">
    <span class="content">{{model.displayName}}</span>
    <div class="unread-icon"></div>
  </div>

  <div class="last-message">
    {{lastMessageText}}
  </div>
</div>

<div class="pic-content">
  <div class="pic">
    <div class="profilePicWrapper">
      <img class="profilePic" src={{safe-profile-pic model.profilePic 'user'}} alt="icon">
    </div>
  </div>
  <div class="online-icon"></div>
</div>
