<div class="text-content">
  <div class="name">
    <div class="content">
      {{model.GroupName}}
    </div>
    <div class="unread-icon"></div>
  </div>
  <div class="last-message">
    {{lastMessageText}}
  </div>
</div>
<div class="pic-content">
  <div class="pic">
    <div class="split-profile-pic {{profilePicClass}}">
      {{#each members as |member index|}}
        {{#group-member-profile-pic classNames="member-icon" model=member index=index
                                    total=members.length}}

        {{/group-member-profile-pic}}
      {{/each}}
    </div>
  </div>
  <div class="online-icon"></div>
</div>
