<div class="feed-item-pic">
  <div class="pic">
    <div class="profilePicWrapper">
      <img class="profilePic" src={{safe-profile-pic model.ProfilePic}} alt="icon">
    </div>
  </div>
</div>
<div class="feed-item-title">
  {{model.GroupName}}
</div>
<div class="feed-item-views">
  <img src="/assets/ic_eye@2x.png" alt="views number" class="views-img">
  <div class="label">
    {{model.viewsNumber}}
  </div>
</div>
