<div class="friendsHeader">
  <div class="friendsCompose">
    {{#link-to "home.chat" "compose" "group"}}
      <img src="/assets/friends_compose@2x.png" class="composeIcon" alt="icon">
    {{/link-to}}
  </div>
  <div class="friendsTitle">
    <span class="friends noselect">Friends</span>
  </div>
</div>
{{#end-scrollable classNames="friendsList" onScrolledHalf=(action "loadMore") scrollChild=".friends-wrapper"
                  handleEnd=true blockScroll=true}}
  <div class="friends-wrapper">
    <div class="friendsSearchHolder">
      <div class="content">
        <img src="/assets/search_icon@2x.png" class="searchIcon" alt="icon">
        {{input value=friendsQuery classNames="friendsSearch" placeholder="Search in messaging"}}
      </div>
    </div>
    {{yield}}
    {{#each queriedModel as |friend|}}
      {{#if friend.isFriend}}
        {{#link-to "home.chat" friend.id "one2one" classNames="friend-chat-link"}}
          {{#home-friend-item model=friend classNames="friend"}}{{/home-friend-item}}
        {{/link-to}}
      {{else}}
        {{#link-to "home.chat" friend.id "group" classNames="friend-group-link"}}
          {{#home-group-item model=friend classNames="group"}}{{/home-group-item}}
        {{/link-to}}
      {{/if}}
    {{/each}}
    {{#if hasMoreFriends}}
      <div class="load-more" role="button" {{action 'loadMore'}}>Show more</div>
    {{/if}}

  </div>


{{/end-scrollable}}