<div class="profileName">
  <span class="firstName">{{model.firstName}}</span>
  <span class="lastName">{{model.lastName}}</span>
</div>

<div class="profilePicHolder {{playingClass}}">

  {{#if model.videoIsPlaying}}
    <div class="playing"></div>
    <div class="playing2"></div>
  {{/if}}
  <img class="profilePic" src="{{model.safeProfilePic}}"/>
  {{#if model.isOnline}}
    <div class="online"></div>
  {{/if}}
  {{#if model.hasNewMessages}}
    <img class="unread" src="/assets/friend_unread.png"/>
  {{/if}}

</div>
