<div class="friendsHeader">
  <div class="friendsCompose">
    <img src="/assets/friends_compose.png" class="composeIcon"/>
  </div>
  <div class="friendsTitle">
    <span class="friends">Friends</span>
  </div>
</div>

<div class="friendsSearchHolder">
  <div class="content">
    <img src="/assets/search_icon.png" class="searchIcon">
    {{input value=query classNames="friendsSearch" placeholder="Search in messaging"}}
  </div>
</div>
<div class="friendsList">
  {{#if loading}}
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  {{/if}}
  {{#each model as |friend|}}
    {{#link-to 'home.chat' friend.id 'one2one' classNames='friend-chat-link'}}
      {{#home-friend-item model=friend classNames='friend' chatAction=(action 'chatFriend')}}{{/home-friend-item}}
    {{/link-to}}
  {{/each}}

</div>
