{{#if displayEmoji}}
  <div class="emoji-back"></div>
  {{emoji-picker selectEmoji=(action "selectEmoji")}}
{{/if}}
<img class="show-emoji hovered" {{action 'toggleEmoji'}} src="/assets/insert_emoticon_black.png" alt="select emoji"/>
