<div class="icon-mic {{if isStreamingMic "active"}}" {{action "toggleMic"}}>
    <img src="/assets/ic-stream-mic-on@2x.png" class="img on">
    <img src="/assets/ic-stream-mic-off@2x.png" class="img off">
</div>
<div class="icon-camera {{if isStreamingCamera "active"}}" {{action "toggleCamera"}}>
    <img src="/assets/ic-stream-camera-on@2x.png" class="img on">  
    <img src="/assets/ic-stream-camera-off@2x.png" class="img off">
</div>
