<div class="notification-title">
  {{model.body}}
</div>
<div class="notification-actions" {{action "clearNotification" bubbles=false}} role="button">
  <img src="/assets/ic_clear_24px.svg" alt="remove notification" >
</div>
