{{#if display}}
	{{#user-profile-view model=model.id classNames="pic"}}
	  <div class="profilePicWrapper">
	    <img src={{profilePic}} class="profilePic" alt="icon">
	  </div>
	{{/user-profile-view}}
{{/if}}
