<img src={{videoThumbnail}} class="thumbnail" alt="icon">
<div class="videoTitle">
  <span>
    {{videoTitle}}
  </span>
</div>
<div class="channel-title">
  {{channelTitle}}
</div>
<div class="channel-desc">
  {{channelDesc}}
</div>