body, html {
  height: 100%;
}

/*.body {*/
/*min-height: 100%;*/
/*min-width: 1200px;*/
/*}*/

.background_gradient {
  background-image: linear-gradient(to bottom right, #87B7FA, #C837EA);
  height: 100%
}

.maxHeight {
  height: 100%;
}

/*header {*/
/*text-align: center;*/
/*}*/

/*section {*/
/*display: -webkit-flex;*/
/*display: flex;*/
/*}*/
/**/
/*footer {*/
/*text-align: center;*/
/*}*/
/**/
/*body > .ember-view {*/
/*height: 100%;*/
/*}*/

.header_title {
  font-size: 30px;
  color: white;
  vertical-align: middle;
}

.welcome_icon {
  width: 63px;
  height: 63px;
}

.welcomeHeader .usernameLabel {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.welcomeHeader .passwordLabel {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.welcomeHeaderPassword {
  margin-left: 10px;
}

.welcomeHeader input.username {
  display: block;
  border-radius: 20px;
  background: white;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
}

.welcomeHeader input.password {
  display: block;
  border-radius: 20px;
  background: white;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
}

.loginError {
  display: block;
  color: red;
  font-size: 15px;
  margin-left: 10px;
}
.welcomeHeader .forgotPassword {
  display: block;
  color: #D5AFED;
  font-size: 15px;
  margin-left: 10px;
}

.loginHolder {
  height: 100%;
  vertical-align: middle;
  align-self: center;
  margin-left: 10px;
}

.loginBtn {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  color: white;
  background: #71C3FF;
  border-width: 0;
  border-radius: 10px;
  padding: 2px 20px;
}

.welcomeIconHolder {
  text-align: center;
  padding-right: 200px;
}

.welcomeBody {
  margin: 0;
  padding: 0;
}
.welcomeHeader {
  padding-top: 20px;
  width: 100%;
}

.welcomeLeft {
  height: 100%;
  padding-right: 10px;
}

.welcomeLeft .content {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  background: white;
  border: 0;
  height: 100%;
  border-radius: 0 20px 20px 0;
}

.welcomeRight {
  height: 100%;

}

.welcomeRight .content {
  padding-left: 30px;
  background: white;
  border: 0;
  border-radius: 20px 0 0 20px;
  height: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
}

.welcomeContent {
  padding-top: 10px;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar > .container, .navbar > .container-fluid {
  margin: 0;
  padding: 0;
}
.rootContainer {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded {
  height: 70%;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-width: 1920px;
  min-height: 700px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


body > .container {

}

.container .text-muted {

}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.crHolder {
  text-align: center;
  position: relative;
}

.copyRight {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
}


.footerColumnHeader {
  padding-top: 20px;
  color: white;
  font-size: 12px;
  font-weight: 900;
}

.footerColumnItem {
  color: white;
  font-size: 12px;
}

.headerLoginControls {
  padding-left: 40px;
}

.registerEdit {
  border: 1px #DDDDDD;
  background: #F5F4F4;
  border-radius: 20px;
  padding: 5px 10px;
}

.welcomeRight .content .title {
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.welcomeRight .content .subTitle {
  font-size: 11px;
  margin-top: 0;
}

.firstLastName {
  display: inline-block;
}

.registerFirstName {
  display: inline-block;
}

.registerLastName {
  margin-left: 20px;
  display: inline-block;
}

.addFriend {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

.registerUsername {
  width: 50%;
}

.registerUsername input {
  width: 100%;
}

.registerPassword {
  width: 50%;
  margin-top: 10px;
}

.registerPassword input {
  width: 100%;
}

.birthdayLabel {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 10px;
}

.registerBirthday .editMonth {
  width: 60px;
}

.registerBirthday .editDate {
  width: 60px;
}

.registerBirthday .editYear {
  width: 60px;
}

.bdHint {
  display: inline-block;
  width: 200px;
  font-size: 10px;
  vertical-align: middle;
  padding-bottom: 0px;
  margin-bottom: 0;
  color: #009DFF;
}

.termsText {
  padding-top: 20px;
  font-size: 10px;
}

.signUpBtn {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  color: white;
  background: #71C3FF;
  border-width: 0;
  padding: 7px 30px;
  border-radius: 20px;
  margin-left: 60px;
}

/*
HOME
 */
.homeIcon {
  width: 45px;
  height: 45px;
}

.home.navbar {
  height: 60px;
}

.homeRoot {
  padding: 0;
}

.homeFriends .content {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  background: white;
  border: 0;
  height: 100%;
  border-radius: 0 20px 0 0;
}

.profilePic {
  width: 71px;
  height: 71px;
  border-radius: 50%;
}

.friend {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profileName {
  margin: auto;
  padding: 0;
}

.friend .firstName {
  display: block;
  color: black;
  font-size: 22px;
  text-align: right;
}

.friend .lastName {
  display: block;
  color: #A5A5A5;
  font-size: 18px;
  text-align: right;
}

.profilePicHolder {
  margin-right: 40px;
  position: relative;
  width: 91px;
  height: 71px;
}

.profilePic {
  margin-left: 20px;
}

.online {
  width: 20px;
  height: 20px;
  background: #07FF23;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  border: solid white 1px;
}

.unread {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -8px;
  top: -8px;

}

.friends {
  font-size: 24px;
  color: #B757EE;
}

.friendsHeader {
  padding: 20px 20px 15px 40px;
}

.friendsTitle {
  margin-right: 22px;
}

.divider {
  height: 1px;
  width: 100%;
  background: #E6E6E6;
}

.friendsSearchHolder {
  width: 100%;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.friendsSearch:focus {
  background: #F0F0F0;
  outline: none;
}

.friendsSearch {

  display: block;
  border-radius: 20px;
  background: #F0F0F0;
  border-width: 0;
  width: 100%;
  height: 46px;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 20px;
}

.searchIcon {
  position: absolute;
  left: 37px;
  top: 32px;
}

.composeIcon {
  width: 38px;
  height: 29px;
}

.friendsList {
  height: 300px;
  overflow: scroll;
}

.publicRooms {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  background: white;
  border: 0;
  height: 600px;
  border-radius: 20px 0px 0 0;
}

.publicRooms .content {
  padding-top: 20px;
}

.roomsTitleHolder {
  margin-bottom: 15px;
}

.roomsTitle {
  color: #88B3F9;
  font-size: 24px;
  margin-left: 20px;
}

.roomsSearchHolder {
  width: 100%;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.roomsSearch:focus {
  background: #F0F0F0;
  outline: none;
}

.roomsSearch {

  display: block;
  border-radius: 20px;
  background: #F0F0F0;
  border-width: 0;
  width: 100%;
  height: 46px;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 20px;
}
