body, html {
  height: 100%;
}

.background_gradient {
  background-image: linear-gradient(to bottom right, #87B7FA, #C837EA);
}

.welcomePage {
  .header_title {
    font-size: 30px;
    color: white;
    vertical-align: middle;
  }

  .welcome_icon {
    width: 63px;
    height: 63px;
  }

  .welcomeHeader .usernameLabel {
    color: white;
    font-size: 14px;
    margin-left: 10px;
  }

  .welcomeHeader .passwordLabel {
    color: white;
    font-size: 14px;
    margin-left: 10px;
  }

  .welcomeHeaderPassword {
    margin-left: 10px;
  }

  .welcomeHeader input.username {
    display: block;
    border-radius: 20px;
    background: white;
    border-width: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  }

  .welcomeHeader input.password {
    display: block;
    border-radius: 20px;
    background: white;
    border-width: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  }

  .loginError {
    display: block;
    color: red;
    font-size: 15px;
    margin-left: 10px;
  }

  .welcomeHeader .forgotPassword {
    display: block;
    color: #D5AFED;
    font-size: 15px;
    margin-left: 10px;
  }

  .loginHolder {
    height: 100%;
    vertical-align: middle;
    align-self: center;
    margin-left: 10px;
  }

  .loginBtn {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
    color: white;
    background: #71C3FF;
    border-width: 0;
    border-radius: 10px;
    padding: 2px 20px;
  }

  .welcomeIconHolder {
    text-align: center;
    padding-right: 200px;
  }

  .welcomeBody {
    margin: 0;
    padding: 0;
  }

  .welcomeHeader {
    padding-top: 20px;
    width: 100%;
  }

  .welcomeLeft {
    height: 100%;
    padding-right: 10px;
  }

  .welcomeLeft .content {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
    background: white;
    border: 0;
    height: 100%;
    border-radius: 0 20px 20px 0;
  }

  .welcomeRight {
    height: 100%;

  }

  .welcomeRight .content {
    padding-left: 30px;
    background: white;
    border: 0;
    border-radius: 20px 0 0 20px;
    height: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  }

  .welcomeContent {
    padding-top: 10px;
  }

  .navbar {
    margin: 0;
    padding: 0;
  }

  .navbar > .container, .navbar > .container-fluid {
    margin: 0;
    padding: 0;
  }

  .rootContainer {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }

  .page-row {
    display: table-row;
    height: 1px;
  }

  .page-row-expanded {
    height: 70%;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
  }


  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */


  body > .container {

  }

  .container .text-muted {

  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .crHolder {
    text-align: center;
    position: relative;
  }

  .copyRight {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
  }


  .footerColumnHeader {
    padding-top: 20px;
    color: white;
    font-size: 12px;
    font-weight: 900;
  }

  .footerColumnItem {
    color: white;
    font-size: 12px;
  }

  .headerLoginControls {
    padding-left: 40px;
  }

  .registerEdit {
    border: 1px #DDDDDD;
    background: #F5F4F4;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .welcomeRight .content .title {
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  .welcomeRight .content .subTitle {
    font-size: 11px;
    margin-top: 0;
  }

  .firstLastName {
    display: inline-block;
  }

  .registerFirstName {
    display: inline-block;
  }

  .registerLastName {
    margin-left: 20px;
    display: inline-block;
  }

  .addFriend {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .registerUsername {
    width: 50%;
  }

  .registerUsername input {
    width: 100%;
  }

  .registerPassword {
    width: 50%;
    margin-top: 10px;
  }

  .registerPassword input {
    width: 100%;
  }

  .birthdayLabel {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 10px;
    font-size: 10px;
  }

  .registerBirthday .editMonth {
    width: 60px;
  }

  .registerBirthday .editDate {
    width: 60px;
  }

  .registerBirthday .editYear {
    width: 60px;
  }

  .bdHint {
    display: inline-block;
    width: 200px;
    font-size: 10px;
    vertical-align: middle;
    padding-bottom: 0px;
    margin-bottom: 0;
    color: #009DFF;
  }

  .termsText {
    padding-top: 20px;
    font-size: 10px;
  }

  .signUpBtn {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
    color: white;
    background: #71C3FF;
    border-width: 0;
    padding: 7px 30px;
    border-radius: 20px;
    margin-left: 60px;
  }
}

body.home.index {
  .mainPage {
    .row-friends {
      background: white;
      height: 100%;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
      border-radius: 0 20px 0 0;
    }
  }

  .col-child-content {
    padding-left: 25px;
  }
}


body.home.chat {
  .mainPage {
    .row-friends {
      background: white;
      height: 100%;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
      border-right: 1px solid #D5D3D3;
    }
  }

  .col-child-content {
    padding-left: 15px;
  }
}

.mainPage {
  .navbar {
    padding: 0;

    .container-fluid {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .homeIcon {
    width: 45px;
    height: 45px;
  }

  .root {

    overflow: hidden;

    padding-right: 0;
    padding-left: 0;
  }

  .col-outlet {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
    background: white;
    border: 0;
    height: 100%;
    border-radius: 20px 0 0 0;
  }

  .friends {
    font-size: 24px;
    color: #B757EE;
  }

  .friendsHeader {
    display: grid;
    grid-template-columns: 80px auto;
    border-bottom: 1px solid #E6E6E6;
  }

  .friendsTitle {
    height: 50px;
    margin: 6px 20px auto auto;
  }

  .friendsCompose {
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
  }

  .composeIcon {
    margin-top: 6px;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: #E6E6E6;
  }

  .friendsSearchHolder {
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .friendsSearch:focus {
    background: #F0F0F0;
    outline: none;
  }

  .friendsSearch {

    display: block;
    border-radius: 20px;
    background: #F0F0F0;
    border-width: 0;
    width: 100%;
    height: 46px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 20px;
  }

  .searchIcon {
    position: absolute;
    left: 37px;
    top: 32px;
  }

  .composeIcon {
    width: 38px;
    height: 29px;
  }

  .friend {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 100px;
  }

  .friend-chat-link.active {
    .friend {
      background: #dadada;
    }
  }

  .profileName {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .friend .firstName {
    display: block;
    color: black;
    font-size: 22px;
    text-align: right;
  }

  .friend .lastName {
    display: block;
    color: #A5A5A5;
    font-size: 18px;
    text-align: right;
  }

  .profilePicHolder {
    position: relative;
    width: 91px;

    .profilePic {
      width: 71px;
      height: 71px;
      border-radius: 50%;
      margin-left: 20px;
      z-index: 30;
      position: absolute;
      top: 5px;
      right: 5.5px;
    }

  }

  .profilePicHolder.playing {
    position: relative;
    width: 91px;

    .playing {
      width: 75px;
      height: 75px;
      position: absolute;
      right: 0;
      top: 5px;
      border-radius: 50%;
      background: #f00;
      z-index: 21;
    }

    .playing2 {
      width: 66px;
      height: 66px;
      position: absolute;
      right: 4.5px;
      top: 9px;
      border-radius: 50%;
      background: #fff;
      z-index: 22;
    }

    .profilePic {
      margin-left: 20px;
      z-index: 30;
      position: absolute;
      top: 11px;
      right: 5.5px;
      width: 63px;
      height: 63px;
      border-radius: 50%;
    }

    .online {
      width: 20px;
      height: 20px;
      background: #07FF23;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 0;
      border: solid white 1px;
      z-index: 40;
    }
  }


  .unread {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -8px;
    top: -8px;
  }

  .friendsList {
    overflow: scroll;
    clear: both;
    text-align: center;

    .friend-chat-link {
      text-decoration: none;
    }

    .friend-chat-link:hover {
      text-decoration: none;
    }
  }

  .friendsOutlet {
    padding-right: 0px;
    display: grid;
    overflow: hidden;
    grid-template-rows: 50px 80px auto;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #f00;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


/*
CHAT
 */
.chatRoot {
  .content {
    .holder {
      background: #fff;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
      border-radius: 0 20px 0 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;


      #youtubePlaceHolder {
        width: 100%;
        height: 360px;
        display: none;
      }

      #youtubeHolder {
        display: none;
        width: 100%;
        position: relative;

        #ytplayer {
          width: 100%;
          position: absolute;
        }

        .controlsOverlay {
          width: 100%;
          height: 360px;
          display: none;
          position: absolute;
          background: rgba(0, 0, 0, 0.7);
        }

        .controlsHolder {
          width: 100%;
          height: 100%;
          position: relative;
          display: grid;
          grid-template-columns: 100px auto 80px auto 100px;
          grid-template-rows: auto 40px 20px;
        }

        .overlay {
          width: 100%;
          height: 360px;
          position: absolute;
        }

        .play {
          display: none;
          width: 80px;
          height: 80px;
          margin: auto;
          grid-column-start: 3;
        }

        .pause {
          display: none;
          width: 80px;
          height: 80px;
          margin: auto;
          grid-column-start: 3;
        }

        .close {
          grid-column-start: 5;
          width: 40px;
          height: 40px;
          margin-top: 20px;
          margin-left: auto;
          margin-right: 20px;
        }

        .video-title {
          color: white;
          grid-column-start: 1;
          grid-column-end: 6;
          margin-left: 20px;
          margin-top: auto;
        }

        .slider {
          grid-column-start: 1;
          grid-column-end: 6;
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          height: 4px;
          background: #C330FC;
          outline: none;
          margin-top: auto;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          border-radius: 25px;
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          background: #C330FC; /* Green background */
          cursor: pointer; /* Cursor on hover */
        }

        .slider::-moz-range-thumb {
          border-radius: 25px;
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          background: #C330FC; /* Green background */
          cursor: pointer; /* Cursor on hover */
        }
      }
      .back {
        text-align: center;
        margin: auto;
      }

      .titleHolder {
        flex: 0 0 auto;
        height: 50px;
        display: grid;
        grid-template-columns: auto 50px;
        border-bottom: 1px solid #E6E6E6;

        .title {
          text-align: center;
          vertical-align: middle;
          margin-top: auto;
          margin-bottom: auto;
        }

        .profilePic {
          width: 30px;
          height: 30px;
        }

        .divider {

        }
      }

      .searchHolder {
        flex: 0 0 auto;
        height: 50px;
        display: grid;
        grid-template-rows: auto;
        width: 100%;
        border-bottom: 1px solid #E6E6E6;

        .row {
          margin-top: auto;
          margin-bottom: auto;
        }

        .who {
          margin-left: 20px;
        }
      }

      .messagesHolder {
        flex: 1 1 auto;
        padding-left: 20px;
        padding-right: 20px;
        height: 100px;
        overflow: scroll;
        padding-bottom: 20px;

        .messageTime {
          color: #E3D636;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .messageHolder {
          display: grid;
          grid-template-columns: 80px 70%;
          margin-top: 20px;

          .profilePic {
            width: 37px;
            height: 37px;
            margin-top: auto;
            margin-bottom: auto;
          }

          .message-text {
            width: fit-content;
            background: white;
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.16);
            display: block;
            margin-top: auto;
          }

          .message-img {
            padding: 10px;

            img {
              border-radius: 20px;
              width: 200px;
            }
          }
        }

        .messageHolder.mine {
          grid-template-columns: auto 80%;

          .profilePic {
            display: none;
          }

          .message-text {
            grid-column-start: 2;
            justify-self: end;
            background: #F0F0F0;
          }

          .message-img {
            grid-column-start: 2;
            justify-self: end;
          }
        }
      }

      .newMessageHolder {
        border-top: 1px solid #E6E6E6;
        display: grid;
        grid-template-columns: auto 60px 80px;
        flex: 0 0 auto;
        height: 50px;

        input {
          background: none;
          border: none;
          padding-left: 20px;
        }

        input:focus {
          background: none;
          outline: none;
        }

        .file-upload {
          margin: auto;
        }
        img {
          width: 31px;
          height: 31px;
          margin: auto;
        }
      }
    }
  }

  /*
  CHAT MEDIA

   */
  .media {
    padding-left: 25px;
    padding-right: 0;

    .holder {
      flex-direction: column;
      width: 100%;
      background: #fff;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
      border-radius: 20px 0 0 0;

      .title {
        flex: 0 0 auto;
        height: 50px;
        display: grid;
        grid-template-columns: auto;
        border-bottom: 1px solid #E6E6E6;

        div {
          text-align: center;
          margin: auto;

          span {
            font-weight: 900;
          }
        }
      }
    }

    .search {
      border-radius: 20px;
      background: #F0F0F0;
      border-width: 0;
      display: grid;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 20px;
      grid-template-columns: 60px auto 80px;

      .searchInput:focus {
        background: none;
        outline: none;
      }

      .searchInput {
        background: none;
        border: none;
        display: block;
        width: 100%;
        height: 46px;
        font-size: 20px;

        padding-right: 20px;
      }

      .icon {
        margin: auto;
        left: 37px;
        top: 32px;
      }

      .trigger-search {
        cursor: pointer;
        display: grid;
        width: 100%;
        height: 100%;
        background: #BCD7FD;
        border-radius: 20px;
      }
    }

    .tabs {
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
      padding-bottom: 10px;

      .nav-item {
        cursor: pointer;
      }

      .nav-link {
        color: #A2A2A2;
        background: none;
        padding-bottom: 0;
        border-radius: 0;
      }

      .nav-link.active {
        background: none;

        color: #27BDD8;
        border-bottom: 4px solid #27BDD8;
        padding-bottom: 0;
        border-radius: 0;
      }
    }

    .tabs-content {
      flex: 1 1 auto;
      flex-basis: auto;
      height: 50px;
      overflow: scroll;

      .youtube-items {
        padding-left: 20px;
        padding-right: 20px;

        .youtube-item-music {
          display: grid;
          grid-template-columns: 80px auto;
          margin-top: 10px;
          border-radius: 20px;
          box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.16);
          padding-top: 10px;
          padding-bottom: 10px;

          .videoTitle {
            margin: auto auto auto 20px;

          }

          .thumbnail {
            width: 80px;
            border-radius: 10px;
          }
        }
        .youtube-item {
          cursor: pointer;
          margin-top: 10px;

          .thumbnail {
            width: 100%;
            border-radius: 20px;
          }
        }
      }

      .youtube-items.music {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}


.publicRooms {
  background: white;
  height: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  border-radius: 20px 0 0 0;

  .content {
    display: grid;
    grid-template-rows: 50px 80px auto;

    .title-holder {
      border-bottom: 1px solid #E6E6E6;
      height: 50px;

      .title {
        color: #88B3F9;
        margin-left: 20px;
        font-size: 24px;
        margin-top: 6px;
        display: block;
      }
    }

    .search-holder {
      height: 80px;

      .search-wrapper {
        border-radius: 20px;
        background: #F0F0F0;
        border-width: 0;
        display: grid;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
        grid-template-columns: 60px auto 80px;

        .searchInput:focus {
          background: none;
          outline: none;
        }

        .searchInput {
          background: none;
          border: none;
          display: block;
          width: 100%;
          height: 46px;
          font-size: 20px;

          padding-right: 20px;
        }

        .icon {
          margin: auto;
          left: 37px;
          top: 32px;
        }

      }
    }

    .roomsHolder {
      padding-left: 20px;
      padding-right: 20px;
      overflow: scroll;

      .room-chat-link {
        text-decoration: none;
        color: black;
        margin-top: auto;
      }

      .room-chat-link:hover {
        text-decoration: none;
        color: black;
      }

      .room {
        margin-top: 20px;

        .thumbnail {
          width: 315px;
          border-radius: 20px;
        }

        .title {
          font-weight: 400;
        }

        .watchers {
          font-size: 14px;
          color: #606060;
          display: block;
        }

        .creator {
          font-size: 17px;
          font-weight: 900;
        }
      }
    }
  }
}
