body, html {
  height: 100%;
}

.body {
  min-height: 100%;
  min-width: 1200px;
}

.background_gradient {
  background-image: linear-gradient(to bottom right, #87B7FA, #C837EA);
  height: 100%
}

.maxHeight {
  height: 100%;
}

header {
  text-align: center;
}

section {
  display: -webkit-flex;
  display: flex;
}

footer {
  text-align: center;
}

body > .ember-view {
  height: 100%;
}

.header_title {
  font-size: 30px;
  color: white;
  vertical-align: middle;
}

.welcome_icon {
  width: 63px;
  height: 63px;
}

.welcomeHeader .usernameLabel {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.welcomeHeader .passwordLabel {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.welcomeHeaderPassword {
  margin-left: 10px;
}

.welcomeHeader input.username {
  display: block;
  border-radius: 20px;
  background: white;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
}

.welcomeHeader input.password {
  display: block;
  border-radius: 20px;
  background: white;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
}

.welcomeHeader .forgotPassword {
  display: block;
  color: #D5AFED;
  font-size: 15px;
  margin-left: 10px;
}

.loginHolder {
  height: 100%;
  vertical-align: middle;
  align-self: center;
  margin-left: 10px;
}

.loginBtn {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  color: white;
  background: #71C3FF;
  border-width: 0;
  border-radius: 10px;
  padding: 2px 20px;
}

.welcomeIconHolder {
  text-align: center;
}

.welcomeHeader {
  padding-top: 20px;
}

.welcomeLeft {
  height: 100%;
  padding-right: 10px;
}

.welcomeLeft .content {
  background: white;
  border: 0;
  height: 100%;
  border-radius: 0 20px 20px 0;
}

.welcomeRight {
  height: 100%;

}

.welcomeRight .content {
  background: white;
  border: 0;
  border-radius: 20px 0 0 20px;
  height: 100%;
}

.welcomeContent {
  padding-top: 10px;
}

.rootContainer {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded {
  height: 70%;
}
