@import './chat/message-list.scss';
@import './component-styles/streaming-control.scss';

@mixin chat-controller{
  display: flex;
  flex-direction: row;
  .feed-parent{
    width: 100%;
    height: 100%;
    display: flex;
    .feed-content{
      flex: 0 0 67%;
      max-width: 67%;
      .feed-content-wrapper{
        @include chat-message-list;
      }
      .watchers-holder {
        z-index: 500;
        pointer-events: none;
        position: absolute;
        padding-left: 20px;
        margin-top: 55px;
        width: 80%;
        @include video-watchers-holder;

        .watcher {
          position: relative;
          pointer-events: all;
        }

        .watchers-streamer {

          .pic {
            background: $primary-gradient;
          }
        }
        .watchers-other {
          display: flex;
          width: 100%;
        }
        &.loading{
          .watchers{
            display: grid;
            grid-template-columns: auto 150px auto;
            grid-template-rows: auto 150px auto;
            height: 100%;
          }
          display: flex;
          width: 100%;
          height: 320px;
          .watchers-streamer {
            grid-column-start: 2;
            grid-row-start: 2;
            margin: auto;

            .watcher {
              animation-name: pulse;
              animation-duration: 1s;
              animation-iteration-count: infinite;
            }
            .pic {
              background: $primary-gradient;
              width: 140px;
              height: 140px;
              padding: 10px;
            }

            @keyframes pulse {
              from {
                transform: scale(1);
              }
              50% {
                transform: scale(0.85);
              }
              to {
                transform: scale(1);
              }
            }
          }

          .watchers-other {
            grid-column-start: 3;
            grid-row-start: 2;
            margin-top: auto;
          }
        }
        &.state-collapsed{
          display: none;
        }

      }
      #streamer-holder{
        pointer-events: none;
        position: absolute;
        display: flex;
        align-items: center;
        top: 45px;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        z-index: 500;
        .local-stream{
          margin-right: 10px;

          #localVideo{
            margin-left: 10px;
            width: 200px;
            border-radius: 20px;
          }
        }
        .remote-streams{
          flex-wrap: wrap;
          display: flex;
          flex-direction: row;
          .remote-stream{
            display: flex;
            place-items: center;
            align-items: center;
            margin-right: 10px;
            .flowplayer{
              width: 200px;
              display: flex;
              position: relative;
              align-items: baseline;
              .fp-chromecast-engine{
                display: none;
              }
              .fp-engine{
                display: block;
                width: 100%;
                border-radius: 20px
              }
              .fp-ui{
                display: none;
              }
              a{
                // display: none !important;
                left: 15px !important;
                bottom: 5px !important;
              }
              .fp-captions{
                display: none;
              }
            }
          }
        }
        &.fullscreen{
          right: 0;
          top: 50px;
          position: fixed;
          width: min-content;
          flex-direction: column;
          padding-right: 0;
          margin-right: 0;
          .local-stream{
            margin-right: 0;
            margin-bottom: 10px;
          }
          .remote-streams{
            .remote-stream{
              margin-right: 0;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .feed-sidebar{
      flex: 0 0 33%;
      max-width: 33%;
      display: flex;
      position: relative;
      .feed-sidebar-wrapper{
        background: white;
        width: 100%;
        .tabs{
          @include tabs;
          display: flex;
          .nav{
            margin: auto;
          }
        }
        .tab-content{
          overflow-y: scroll;
          padding-left: 15px;
          padding-right: 15px;
          #videos{
            .searchHolder{
              @include videos-search;
              .search{
                height: 40px;
              }
            }
            .chat-videos-list > div > .title{
              margin-top: 20px;
              font-size: 120%;
              flex: 0 0 auto;
              font-family: $medium-font;
            }
            .chat-videos-list{
              .login-providers{
                @include videos-auth-list;
              }
            }
            .youtube-items {
              @include youtube-videos

              .youtube-item{
                @include youtube-item
              }
            }
            .chat-videos-playlist{
              @include chat-playlist
              .playlist-content{
                @include youtube-videos
                .youtube-item{
                  @include youtube-item
                }
              }
            }
          }
          #music{
            .searchHolder{
              @include videos-search;
              .search{
                height: 40px;
              }
            }
            .youtube-items.music {
              display: grid;
              grid-template-columns: auto;
              grid-column-gap: 10px;
              grid-row-gap: 10px;
            }
            .youtube-item-music {
              display: grid;
              cursor: pointer;
              grid-template-columns: min-content auto;
              border-radius: 15px;
              box-shadow: $message-shadow;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 10px;
              &:hover {
                background: rgb(218, 218, 218);;

              }
              .songDesc {
                margin-left: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }

              .songTitle {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 16px;
              }

              .songArtist {
                font-size: 12px;
                color: #676767;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }

              .videoTitle {
                margin: auto auto auto 20px;
              }

              .thumbnail {
                height: 44px;
                border-radius: $video-round-corner;
              }
            }
          }
        }
      }
    }

  }
  .broadcast-stream{
    @include streaming-control;
  }
  &.group{
    .titleHolder{
      .name, .single-name{
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.mainPage{
  .col-child-content{
    flex: 0 0 75%;
    max-width: 75%;
  }
}
body.home.chat{
  .feed-root{
    @include chat-controller;
    &.room{
      .feed-parent{
        .feed-content{
          padding-left: 5px;
          border-right: 1px solid #D5D3D3;
          .feed-content-wrapper{
            border-top-left-radius: $main-table-radius;
          }
        }
      }
    }
    &.group, &.one2one{
      .feed-parent{
        .feed-content{
          padding-right: $table-gap;
          .feed-content-wrapper{
            border-top-right-radius: $main-table-radius;
            .titleHolder{
              .back{
                display: flex;
                align-items: center;
                left:0;
              }
            }
          }
        }
        .feed-sidebar{
          .feed-sidebar-wrapper{
            border-top-left-radius: $main-table-radius;
          }
        }
      }

    }
  }
}
