@import 'vars.scss';
@import 'feed/show.scss';
@import 'feed/index.scss';
@import 'component-styles/videos-list.scss';
@mixin main-controls-wrapper{
	background: #D7C6FF;
	border-radius: 15px;
	display: flex;
	align-self: center;
	.profile {
		cursor: pointer;
		margin-top: auto;
		margin-bottom: auto;
		border-radius: 15px;
		width: fit-content;
		text-align: center;
		padding: 5px 10px 5px 20px;
		display: grid;
		grid-template-columns: min-content auto;

		.name {
			color: black;
			font-size: 100%;
			margin: auto 10px auto auto;
		}

		.profilePicWrapper {
			border-radius: 50%;
			width: 25px;
			height: 25px;
		}
		&:hover{
				background: #CDBAFC;
		}
	}
	.controls{
		display: flex;
		margin-left: 40px;
		.dropdown{

			cursor: pointer;
			flex: 0 0 auto;
	    display: flex;
	    justify-items: center;
			justify-content: center;
	    place-content: center;
			margin-left: 10px;
			margin-right: 10px;

			.dropdown-toggle{
				position: relative;
				display: flex;
				align-self: center;
				width: 35px;
				height: 100%;

				img{
					height: 20px;
			    cursor: pointer;
			    margin: auto;
				}
				.new-requests{
					position: absolute;
					right: 2px;
					top: 6px;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: red;
				}
			}
			&:hover{
				background: #CDBAFC;
				border-radius: 50%;
				.dropdown-toggle{
					img{
						filter: brightness(1.2);
					}
				}
			}
			&.show{
				.dropdown-toggle{
					img{
						filter: brightness(2) !important;
					}
				}
			}
			&.followers, &.feedgroups{
				.dropdown-menu{
					margin-left: -457px;
					width: 500px;
					padding-top: 0;
				}
			}
			&.feedgroups{
				.followers-content{
					display: flex;
					flex-direction: column;
					padding-bottom: 10px;
					.title{
						font-family: $medium-font;
						border-bottom: 1px solid #DEDEDE;
						padding: 10px 20px;
						display: flex;
    				place-content: space-between;
						justify-content: space-between;
					}
					.notifications-title{
						border-bottom: 1px solid #DEDEDE;
						padding: 10px 20px;
						display: flex;
    				place-content: space-between;
						justify-content: space-between;
						.label{
							font-family: $medium-font;
						}
						.action{
							cursor: pointer;
						}
					}
					.group-notifications{
						padding: 0px 0px;
						.empty{
							min-height: 60px;
					    text-align: center;
					    display: flex;
							justify-content: center;
    					align-items: center;
					    color: #CECECE;
						}
						.user-notification{
							display: flex;
					    place-content: space-between;
					    place-items: center;
							align-items: center;
							justify-content: space-between;
					    cursor: pointer;
							padding: 10px 20px;
							&.read{
								background: rgba(0,0,0,0.1);
								color: rgba(0,0,0,0.4);
							}
							&:hover{
								background: rgba(0,0,0,0.2);
							}
							.notification-actions{
								padding: 5px;
								img{
									width: 10px;
								}
							}
						}
					}
					.follower-items{
						display: flex;
						flex-direction: column;
						max-height: 500px;
						overflow-y: scroll;
						font-family: $medium-font;
						.follower-items-empty{
							min-height: 60px;
							display: flex;
							.create-new{
								flex: 0 0 auto;
								margin: auto;
								@include iconned-button(#5AB9FF, 19px, 100%, 5px);
							}
						}
						.follower-item-feed-title{
							margin-left: 20px;
							margin-top: 10px;
							margin-bottom: 10px;
						}
						.follower-item-users{
							display: flex;
							flex-direction: column;
							padding: 0px 10px;
							.follower{
								@include follower-user-request;
							}
						}
					}
				}
			}
			&.followers{
				.followers-content {
					overflow: hidden;
					display: grid;
					grid-template-rows: 50px auto;
					height: 400px;

					.title {
						padding-left: 20px;
						font-size: 18px;
						font-weight: 600;
						border-bottom: 1px solid #dedede;
						display: grid;

						div {
							margin-top: auto;
							margin-bottom: auto;
						}
					}
					.follower-items {
						overflow-y: auto;
						padding-left: 10px;
						padding-top: 10px;
						padding-right: 10px;
						display: grid;
						grid-template-rows: repeat(auto-fit, 100px);
						grid-row-gap: 10px;

						.follower {
							@include follower-user-request;
						}
					}

				}
			}
		}
		.dropdown-menu {
				border-radius: 20px;
				box-shadow: $input-shadow;
		}

	}
}
.main-controls-wrapper{
	@include main-controls-wrapper;

}


.home.group{
  .mainPage {
    .row-friends {
			display: flex;
			flex-direction: column;
      background: white;
      height: 100%;
      box-shadow: $input-shadow;
      border-radius: 0 20px 0 0;
    }
  }
  .create-feed-group {
  	.content{
	  	display: grid;
	    grid-template-rows: 50px auto;
	    width: 100%;
	    background: white;
	    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
	    border-radius: 20px 0 0 0;
	    margin-left: 5px;
    }
		.error{
			position: absolute;
		}
		.limit{
			font-size: 90%;
			color: darkgray;
			text-align: right;
		}
    .feed-group-title-holder{
    	border-bottom: 1px solid #E6E6E6;
	    height: 45px;
	    display: flex;
	    padding-right: 20px;
	    .title{
	      height: 45px;
		    display: grid;
				margin: auto;
		    grid-template-columns: auto;
		    span {
					@include top-label;
		      margin-top: auto;
    			margin-bottom: auto;
		    }

	    }
	    .back {
				height: 45px;
				margin: auto;
				display: flex;
				place-items: center;
				padding: 0px 15px;
				align-items: center;
				position: absolute;
			}

    }
    .feed-group-create-content{
			display: flex;
	    flex-direction: column;
	    width: 60%;
	    margin: auto;
	    height: max-content;
			.error{
				font-size: 50%;
				color: red;
			}
	    .details{
	      display: flex;
    		flex-direction: row;
				.feed-group-profile-pic{
					flex: 0 0 auto;
				}
    		.info{
    		    flex: 1 1 auto;
    		}
    		.feed-group-channel-name{
    			margin-bottom: 20px;
    		}
    		input.edit{
    		    background: #F5F4F4;
			    border-radius: 18px;
			    border: 1px solid #D1D1D1;
			    padding: 5px 10px;
			    width: 100%;
			    outline: none;
    		}
    		.edit::placeholder{
    			color: #D1D1D1;
    		}
				.feed-group-channel-description{
					margin-bottom: 20px;
					background: none;
				}
    		textarea.edit {
    		  min-height: 100px;
    		  background: rgb(245, 244, 244);
			    border-radius: 18px;
			    border: 1px solid rgb(209, 209, 209);
			    padding: 5px 10px;
			    width: 100%;
			    outline: none;
			    max-height: 200px;
			    margin-top: 0px;
			    resize: none;
			    height: 100px;
    		}
    		.feed-group-location{
    			margin-bottom: 20px;
    		}

    		.feed-group-location-label{
    			color: #6F6F6F;
    			margin-bottom: 10px;
    		}
    		.feed-group-access{
    		    display: flex;
    		    .feed-group-access-label{
    		        margin-right: 20px;
								width: 60%;
    		        .title {
    		            color: #7B7878;
    		            font-family: $medium-font;
    		        }
								.subtitle{
									color: #6F6F6F;
									font-size: 90%;
								}

    		    }
    		    .feed-group-access-value {
    		        margin-top: auto;
    						margin-bottom: auto;
    		    }
    		}
				.feed-group-access-subtitle{
					color: #6F6F6F;
					font-size: 80%;
				}
    		.feed-group-access-value{
	    		.switch {
	              position: relative;
	              display: inline-block;
	              width: 60px;
	              height: 20px;
	              margin-top: auto;
	              margin-bottom: auto;
	            }

	            /* Hide default HTML checkbox */
	            .switch input {
	              opacity: 0;
	              width: 0;
	              height: 0;
	            }

	            /* The slider */
	            .switcher {
	              position: absolute;
	              cursor: pointer;
	              top: 0;
	              left: 0;
	              right: 0;
	              bottom: 0;
	              -webkit-transition: .4s;
	              transition: .4s;
	              background: white;
		    			  border: 3px solid black;
		    			  height: 25px;
	            }

	            .switcher:before {
	              position: absolute;
	              content: "";
								top: 2px;
	              border-radius: 50%;
	              height: 15px;
	              width: 15px;
	              bottom: 2.5px;
	              left: 4px;
	              background-color: black;
	              -webkit-transition: .4s;
	              transition: .4s;
	            }

	            input:checked + .switcher {
								background: #03e7b2;
								border: 3px solid #03e7b2;
	            }

	            input:focus + .switcher {
	              box-shadow: 0 0 1px #03e7b2;
	            }

	            input:checked + .switcher:before {
	              transform: translateX(30px) translateY(0px);
    			  background-color: black;
	              -webkit-transform: translateX(30px) translateY(0px);
	              -ms-transform: translateX(30px) translateY(0px);
	            }

	            /* Rounded sliders */
	            .switcher.round {
	              border-radius: 34px;
	            }

	            .switcher.round:before {
	              border-radius: 50%;
	            }
    		}
	    }
	    .fee-group-create{
		    background: #02E7B2;
		    width: max-content;
		    padding: 10px 30px;
		    color: white;
				font-family: $medium-font;
		    border-radius: 20px;
		    margin: auto;
		    margin-top: 20px;
		    cursor: pointer;
		}
		.fee-group-create:hover{
			background: #05c196;
		}


    	.feed-group-profile-pic{
    		width: 200px;
    		cursor: pointer;
    		height: 200px;
    		position: relative;
    		margin-right: 40px;
    		.file-upload{
    			cursor: pointer;
					&:hover{
						background: #eae8e8;
					}
    		}
    		.profilePicWrapper{
    		    width: 100%;
    			height: 100%;
    		}
    		.pic-border{
    			background: $primary-gradient;
    			width: 100%;
			    height: 100%;
			    border-radius: 50%;
    		}
    		.pic-content{
    		    position: absolute;
			    top: 10px;
			    width: 180px;
			    height: 180px;
			    margin: auto;
			    border-radius: 50%;
			    background: white;
			    left: 10px;
			    display: flex;
			    .placeholder-title{
			    	margin: auto;
			    	color: #727272;
			    	font-size: 90%;
			    }
    		}
    	}
    }

  }

}
