@import './vars.scss';
@mixin support-topic-bg($color){
  background: $color;
  &:hover{
    background: darken($color, 30%);
  }
}
@mixin help-about{
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  .top{
    display: flex;
    flex-direction: row;
    place-content: center;
    .left{
      display: flex;
      flex-direction: column;
      place-content: center;
      align-items: flex-end;
      padding-right: 40px;
      padding-bottom: 120px;
      .left-header{
        display: flex;
        align-items: center;
        font-size: 230%;
        font-family: $medium-font;
        .label{
          margin-right: 20px;
        }
        .img{
          img{
            width: 52px;
            height: 52px;
          }
        }
      }
      .text{
        text-align: right;
        font-size: 110%;
        margin-top: 5px;
        p{
          margin-bottom: 0;

        }
        p:last-child{
          margin-top: 15px;
        }
      }
    }
  }
  .arrow{
    cursor: pointer;
    display: flex;
    align-items: center;
    place-items: center;
    place-content: center;
    padding: 20px 0px;
    svg{
      stroke-width: 0px;
      width: 50px;
      -moz-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      margin-top: -60px;
    }
  }
  .bottom{
    display: flex;
    place-content: center;
    padding-top: 72px;
    padding-bottom: 55px;
  }
}
@mixin help-header{
  height: 100px;
  z-index: 200;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 6px lightgrey;
  justify-content: space-around;
  position: fixed;
  right: 0;
  left: 0;
  background: white;
  .help-header-brand{
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    .label{
      font-size: 30px;
      font-family: $medium-font;
    }
    .img{
      img{
        width: 63px;
        height: 63px;
      }
    }
  }
  .help-header-navigation{
    display: flex;
    align-items: center;
    .link{
      margin: 0px 25px;
      text-decoration: none;
      padding: 0 10px;
      color: #A0A09F;
      transition: color 0.4s ease 0s;
      font-family: $medium-font;
      line-height: 48px;
      font-size: 15px;
      &.active{
        color: #081723;
        transition: color 0.4s ease 0s;
      }
    }
  }
}
@mixin help-footer{
  flex-direction: row;
  align-items: stretch;
  background: rgb(245, 245, 245);
  display: flex;
  padding-bottom: 65px;
  padding-top: 25px;
  .sections{
    flex: 1 1 auto;
    .section1{
      display: flex;
      flex-direction: row;
      padding-bottom: 83px;
      place-content: flex-start;
      .column{
        display: flex;
        flex-direction: column;
        flex: 0 0 200px;
        .column-header{
          font-size: 110%;
          margin-bottom: 10px;
          font-family: $medium-font;
        }
        .item{
          font-size: 85%;
          color: #A0A09F;
        }
      }
    }
    .section2{
      flex-direction: row;
      margin-bottom: 43px;
      display: flex;
      .social > a > img{
        width: 42px;
        margin-right: 15px;
      }
    }
    .section3{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .link{
        flex: 0 1 auto;
        text-decoration: none;
        color: #000000;
        cursor: pointer;
      }
      .inc{
        flex: 1 1 auto;
        text-align: right;
      }
      .terms{
        margin-left: 60px;
      }
    }
  }
  .left,.right{
    flex: 0.3 1 auto;
  }
}
@mixin help-jobs{
  display: flex;
  flex-direction: column;
  .jobs-header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;

    background-image: url("/assets/help/jobs-header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 406px;
    .title{
      font-size: 110%;
      width: 69%;
      text-align: center;
      color: #605E5E;
    }
    .subtitle{
      font-size: 290%;
      margin-top: 20px;
      font-family: $medium-font;
    }
  }
  .jobs-list{
    padding-bottom: 30px;
    padding-top: 25px;
    width: 65%;
    place-self: center;
    .job-item{
      margin-top: 50px;
      padding-bottom: 10px;
      border-bottom: 1px solid;
      &:last-child{
        border-bottom: none;
      }
      .title{
        font-size: 140%;
        font-family: $medium-font;
        color: #2F2E2E;
      }
      .description{
        padding-top: 35px;
        line-height: 1.25;
        font-size: 110%;
      }
      .resp-label,.skills-label{
        padding-top: 20px;
        font-size: 118%;
        font-family: $medium-font;
        color: #2F2E2E;
      }
      .responsibilities, .skills{
        padding-top: 25px;
        color: #605E5E;
        line-height: 1.25;
      }
      .action{
        display: flex;
        justify-content: flex-end;
        a{
          text-decoration: none;

          background-color: rgba(61, 155, 233, 1);
          border: solid rgba(43, 104, 156, 1) 0px;
          cursor: pointer !important;
          color: white;
          border-radius: 20px;
          height: 40px;
          min-height: 22px;
          width: 142px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover{
            background-color: rgba(43, 104, 156, 1);
            border-color: rgba(61, 155, 233, 1);
          }
        }
      }
    }
  }
}
@mixin help-contact{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-height: 747px;
  > .title{
    padding-top: 40px;
    font-size: 85%;
    align-self: flex-start;
    width: 90%;
    text-align: right;

    color: #A0A09F;
    a{
      text-decoration: none;
      color: #E61997;
    }
  }
  .contact-form{
    flex: 0.6 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    .contact-title{
      font-family: $medium-font;
      font-size: 120%;
    }
    > .title{
      color: #2F2E2E;
      font-size: 110%;
      margin-top: 20px;
    }
    > .stitle{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 90%;
      color: #605E5E;
      text-decoration: none;
      margin-top: 10px;
      font-size: 90%;
      .item{
        font-size: 90%;
      }
      span{
        color: #E61997
      }
      a{
        color: #605E5E;
        text-decoration: none;
      }
    }
  }
}
@mixin help-terms{
  display: flex;
  flex-direction: column;
  color: #605E5E;
  p {
    margin: 0;
  }
  .title-row{
    background: rgb(109, 3, 148);
    height: 47px;
  }
  .terms-content{
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 45px;
    .title{
      padding-top: 45px;
      font-size: 200%;
      line-height: 1;
      padding: 0;
      margin: 0;
      text-align: center;
      color: black;
      font-family: $medium-font;
    }
    .title2{
      font-size: 200%;
      text-align: center;
      color: black;
      font-family: $medium-font;
    }
    .time{
      margin-top: 10px;
      color: #605E5E;
      text-align: center;
    }
    .time2{
      margin-bottom: 37px;
      color: #605E5E;
      text-align: center;
    }
    .margin-top{

      margin-top: 20px;
    }
    .margin-bottom{
      margin-bottom: 20px;
    }
    .header1{
      margin-top: 20px;
      text-align: left;
      font-family: $medium-font;
      margin-bottom: 20px;
      font-size: 120%;
      width: 100%;
      color: #2F2E2E;
    }
    .header2{
      margin-bottom: 20px;
      font-size: 96%;
      font-family: $medium-font;
      color: #2F2E2E;
    }
    .contact{
      margin-bottom: 102px;
      width: 100%;
      margin-top: 20px;
    }
  }

}
@mixin help-support-show{
  display: flex;
  flex-direction: column;
  .support-header{
    height: 169px;
    background: rgb(78, 194, 179);
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    color: white;
    background-image: url("/assets/help/support-header.webp");
    .img{
      img{
        width: 70px;
      }
    }
    .contact{
      align-self: start;
      margin-top: 15px;
      flex: 1.6 1 auto;
    }
    .back{
      flex: 2.4 1 auto;
      text-align: right;
      svg{
        width: 20px;
      }
    }
    .label{
      font-size: 250%;
      margin-top: 5px;
      margin-bottom: 10px;
      flex: 1 1 auto;
      text-align: right;
    }
  }
  .support-items{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-self: center;
    padding: 40px;
    .support-col1, .support-col2{
      flex: 1 1 50%;
      padding: 10px;
      min-width: 50%;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      .support-topic{
        .content{
          padding: 15px;
          margin-top: 30px;
          background: white;
          box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
          border-radius: 5px;
          .title{
            font-family: $medium-font;
            border-bottom: 3px solid rgba(242, 191, 94, 1);
            font-size: 180%;
            margin-bottom: 5px;
            padding-bottom: 5px;
          }
          .text{
            line-height: 1.5;
          }
        }
      }
    }

  }
}
@mixin help-support{
  .support-header{
    height: 298px;
    background: rgb(78, 194, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    color: white;
    background-image: url("/assets/help/support-header.webp");
    .img{
      img{
        width: 70px;
      }
    }
    .label{
      font-size: 250%;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  .support-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    min-height: 352px;
    .support-topic{
      margin-right: 15px;
      width: 230px;
      height: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
      place-content: center;
      color: white;
      cursor: pointer;
      padding: 10px;
      .title{
        font-size: 200%;
        text-align: center;
        margin-bottom: 20px;
      }
      svg{
        width: 40px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipW;
        -ms-filter: "FlipW";
      }
      &.color1{
        @include support-topic-bg(rgb(242, 191, 94));
      }
      &.color2{
        @include support-topic-bg(rgb(255, 97, 97));
      }
      &.color3{
        @include support-topic-bg(rgb(83, 110, 183));
      }
      &.color4{
        @include support-topic-bg(rgb(117, 203, 168));
      }

    }

  }
}
@mixin help-branding{
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 5px;
  justify-content: center;
  .branding-left{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    .title{
      font-size: 300%;
      word-break: normal;
      padding-bottom: 20px;
      font-family: $bold-font;
      margin-top: 37%;
    }
    .market{
      display: flex;
      flex-direction: row;
      place-content: space-around;
      a{
        .gplay{
          height: 40px;
        }
      }
    }
  }
  .branding-right{
    flex: 0 0 auto;
  }
}
body.help{
  min-width: 980px;
  .mainPage{
    background: rgb(255, 255, 255);
    header{
      display: none;
    }
    .help-header{
      @include help-header;
    }
    .help-content{
      padding-top: 100px;
    }
    .help-about-root{
      @include help-about;
    }
    .help-jobs-root{
      @include help-jobs;
    }
    .help-contact-root{
      @include help-contact;
    }
    .help-terms-root, .help-policy-root,.help-copyright-root,.help-community-root{
      @include help-terms;
    }
    .help-policy-root,.help-copyright-root{
      .time{
        margin-bottom: 55px;
      }
    }
    .help-copyright-root,.help-community-root{
      .terms-content{
        padding-bottom: 90px;
      }
    }
    .help-community-root{
      .terms-content{
        .title{
          padding-bottom: 70px;
        }
      }
    }
    .help-support-root{
      @include help-support;
    }
    .help-support-show-root{
      @include help-support-show;
    }
    .help-branding-root{
      @include help-branding;
    }
    .help-footer{
      @include help-footer;
    }
  }
}
