@import './vars.scss';
@mixin help-about{
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  .top{
    display: flex;
    flex-direction: row;
    place-content: center;
    .left{
      display: flex;
      flex-direction: column;
      place-content: center;
      align-items: flex-end;
      padding-right: 40px;
      padding-bottom: 120px;
      .left-header{
        display: flex;
        align-items: center;
        font-size: 230%;
        font-family: $medium-font;
        .label{
          margin-right: 20px;
        }
        .img{
          img{
            width: 52px;
            height: 52px;
          }
        }
      }
      .text{
        text-align: right;
        font-size: 110%;
        margin-top: 5px;
        p{
          margin-bottom: 0;

        }
        p:last-child{
          margin-top: 15px;
        }
      }
    }
  }
  .arrow{
    display: flex;
    align-items: center;
    place-items: center;
    place-content: center;
    padding: 20px 0px;
    svg{
      stroke-width: 0px;
      width: 50px;
      -moz-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      margin-top: -60px;
    }
  }
  .bottom{
    display: flex;
    place-content: center;
    padding-top: 72px;
    padding-bottom: 55px;
  }
}
@mixin help-header{
  height: 100px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 6px lightgrey;
  justify-content: space-around;
  .help-header-brand{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    .label{
      font-size: 30px;
      font-family: $medium-font;
    }
    .img{
      img{
        width: 63px;
        height: 63px;
      }
    }
  }
  .help-header-navigation{
    display: flex;
    align-items: center;
    .link{
      text-decoration: none;
      padding: 0 10px;
      color: #A0A09F;
      transition: color 0.4s ease 0s;
      font-family: $medium-font;
      line-height: 48px;
      font-size: 15px;
      &.active{
        color: #081723;
        transition: color 0.4s ease 0s;
      }
    }
  }
}
@mixin help-footer{
  flex-direction: row;
  align-items: stretch;
  background: rgb(245, 245, 245);
  display: flex;
  padding-bottom: 65px;
  padding-top: 25px;
  .sections{
    flex: 1 1 auto;
    .section1{
      display: flex;
      flex-direction: row;
      padding-bottom: 83px;
      place-content: flex-start;
      .column{
        display: flex;
        flex-direction: column;
        flex: 0 0 200px;
        .column-header{
          font-size: 110%;
          margin-bottom: 10px;
          font-family: $medium-font;
        }
        .item{
          font-size: 85%;
          color: #A0A09F;
        }
      }
    }
    .section2{
      flex-direction: row;
      margin-bottom: 43px;
      display: flex;
      .social > a > img{
        width: 42px;
        margin-right: 15px;
      }
    }
    .section3{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .link{
        flex: 0 1 auto;
        text-decoration: none;
        color: #000000;
        cursor: pointer;
      }
      .inc{
        flex: 1 1 auto;
        text-align: right;
      }
      .terms{
        margin-left: 60px;
      }
    }
  }
  .left,.right{
    flex: 0.3 1 auto;
  }
}
body.help{
  min-width: 980px;
  .mainPage{
    background: rgb(255, 255, 255);
    header{
      display: none;
    }
    .help-header{
      @include help-header;
    }
    .help-about-root{
      @include help-about;
    }
    .help-footer{
      @include help-footer;
    }
  }
}
