$primary-gradient: linear-gradient(to bottom right, #5CD9FD, #C837EA);
$input-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
$message-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
$friends-list-hover-color: rgba(218, 218, 218, 0.3686274509803922);
$header-height: 45px;
$search-icon-size: 16px;
$search-padding: 3px;
$hover-background: #dadada5e;
$bold-font: 'Conv_Segoe UI Bold';
$medium-font: 'Conv_Segoe UI, Medium';
$btn-blue: #71C3FF;
$video-round-corner: 10px;
$table-gap: 5px;
$main-table-radius: 20px;
$message-border-radius: 15.5px;
@mixin top-label{
  font-size: 110%;
  color: black;
  font-family: $medium-font;
}
@mixin multi-state-button($color-true,$color-false){
  border-radius: 20px;
  background: $color-false;
  cursor: pointer;
  &:hover{
    background: $color-true;
  }
  &.state-true{
    .action-true{
      display: block;
    }
    .action-false{
      display: none;
    }
    &:hover{
      .action-true{
        display: none;
      }
      .action-false{
        display: block;
      }
    }
  }
  &.state-false{
    .action-true{
      display: none;
    }
    .action-false{
      display: block;
    }
  }
  color: white;
  padding: 5px 10px;
}
@mixin unread-icon{
  width: 16px;
  display: block;
  height: 16px;
  border-radius: 50%;
  background: #5BC8F8;
}
@mixin iconned-button($color, $width, $font-size: 80%, $column-gap:5px) {
  cursor: pointer;
  background: $color;
  border-radius: 20px;
  display: grid;
  grid-template-columns: min-content auto;
  padding: 5px 10px;
  flex: 0 0 auto;
  grid-column-gap: $column-gap;
  &:hover{
    background: darken($color, 30%);
  }
  img{
    width: $width;
    margin: auto;
  }
  .label{
    color: white;
    margin-left: 5px;
    font-size: $font-size;
    display: flex;
    place-self: baseline;
    margin: auto;
  }
}

@mixin  videos-search($trigger-bg: #60D3FC,$search-icon-display: block, $top-margin: 10px, $empty-color: #B2B1B1, $close-right: 50px) {
  display: flex;
  .search {
    align-self: center;
    margin-top: $top-margin;
    border-radius: 20px;
    background: #F0F0F0;
    border-width: 0;
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    align-items: center;
    .searchInput {
      flex: 1 1 auto;
      font-size: 100%;
      background: none;
      border: none;
      display: block;
      padding-left: 30px;
      padding-right: 70px;
      &:focus {
        background: none;
        outline: none;
      }
      &::placeholder{
        color: $empty-color;
      }
    }
    .close-search{
      right: $close-right;
      visibility: hidden;
      position: absolute;
      margin-right: 15px;
    }

    > .icon {
      position: absolute;
      display: $search-icon-display;
      width: $search-icon-size;
      height: $search-icon-size;
    }


    .trigger-search {
      cursor: pointer;
      height: 100%;
      flex: 0 0 auto;
      padding: 0px 20px;
      background: $trigger-bg;
      border-radius: 20px;
      place-self: stretch;
      display: flex;
      position: absolute;
      right: 0;
      .icon{
        display: block;
        margin: auto;
        width: $search-icon-size;
        height: $search-icon-size;
      }
      &:hover{
        background: darken($trigger-bg, 30%) !important;
      }
    }

    .trigger-search.active {
      background: darken($trigger-bg, 30%) !important;
    }
  }
}
@mixin simple-button($background){
  background: $background;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  &:hover{
    background: darken($background, 30%);
  }

}

@mixin events-create-input{
  background: none;
  border: 1px solid #D1D1D1;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  .error{
    color: red;
    font-size: 50%;
  }
  &.with-error{
    border-color: red;
  }

}
@mixin chat-upload-item{
  max-width: 300px;
  margin-bottom: 5px;
  .chat-upload{
    height: 50px;
    margin-right: 10px;
    grid-column-gap: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    button{
      background: white;
      border-radius: 50%;
      flex: 0 0 auto;
      place-content: center;
      place-items: center;
      justify-items: center;
      justify-content: center;
      display: flex;
      align-self: center;
      padding: 0;
      &:hover{
        background: lightgray;
      }
    }
    .chat-upload-details{
      flex: 1 1 auto;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .chat-upload-state{
    font-size: 70%;

  }
  .chat-upload-loading, .chat-upload-details {
    margin: auto;
  }
  .chat-upload-loading{
    flex: 1 1 auto;
    padding: 0px 10px;
    .chat-upload-name{
      align-self: center;
      place-self: end;
      justify-self: center;
      text-align: center;
    }
  }
  &.new, &.loading{
    .chat-upload{
      color: #1e2430;
      background: #c7ccd8;
    }
  }

  &.new, &.completed{
    .chat-upload{
      background: #22a061;
      color: white;
    }
  }
}
@mixin events-create-input-holder{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  flex-direction: column;
  margin-top: 20px;
}
@mixin events-create{
  font-size: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  .back{
    padding: 10px;
    align-self: flex-start;
    position: absolute;
    cursor: pointer;
  }

  .error{
    position: absolute;
    color: red;
    font-size: 50%;
  }
  .create-label{
    font-size: 120%;
    text-align: center;
    margin-top: 20px;
  }
  .create-field-label{
    font-family: $medium-font;
  }
  .create-event-date-time{
    display: flex;
    flex-direction: row;
    .create-event-date{
      flex: 1 1 80%;
      max-width: 80%;
      padding-right: 10px;
    }
    .create-event-time{
      flex: 1 1 30%;
      max-width: 30%;
    }
  }
  .input-field-group{

    @include events-create-input-holder;
    .limit{
      font-size: 90%;
      color: darkgray;
      text-align: right;
    }
    .input-field-wrapper{
      width: 100%;
    }
    .create-description{
      @include events-create-input;
      textarea{
        resize: none;
        height: 100px;
        border: none;
        background: none;
        outline: none;
        width: 100%;
      }
      .create-uploads{
        margin: 0;
        padding: 0;
        .chat-upload-item{

          @include chat-upload-item;
          max-width: none;
          margin: 0;
          .chat-upload{
            margin: 0;
          }
        }

      }
      .new-event-pic-btn{
        display: flex;

        place-content: flex-end;
        justify-content: flex-end;
        padding-right: 5px;
        .file-upload{
          cursor: pointer;
          margin: 0;
          img{
            width: 30px;
          }
        }
      }
    }
    .edit{
      @include events-create-input;
    }
  }
  .create{
    @include events-create-input-holder;
    .create-btn{
      @include simple-button(#02E7B2);
      font-family: $medium-font;
      width: max-content;
      margin: auto;
    }
  }


}

@mixin events-list {
  padding-left: 10px;
  padding-right: 10px;
  .events-list-label{
    margin-top: 20px;
    font-family: $medium-font;
  }
  .events-list-empty{
    margin: 20px;
    text-align: center;
    color: lightgray;
  }
}
@mixin events-list-item-date{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  img{
    margin-top: 3px;
    flex: 0 0 auto;
    width: 20px;
    height: auto;
  }
  .feed-event-date-wrapper{
    margin-left: 10px;
    font-size: 90%;
    .feed-event-date-date{
      font-family: $medium-font;
    }
    .feed-event-date-time{
      color: #989898;
    }
  }
}
@mixin events-list-item{
  font-size: 80%;
  .feed-event-content{
    background: white;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    &:hover{
      background: darken(white, 5%);
    }
    .feed-event-body{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
    }
    .hidden-image{
      color: gray;
      text-align: center;
      margin-top: 10px;
    }
    .feed-event-header{
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      margin-right: 10px;
      .feed-event-title{
        font-size: 120%;
        flex: 1 1 auto;
        font-family: $medium-font;
      }
      .feed-event-seats{
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        text-align: center;
        img{
          width: 24px;
        }
        div{
          opacity: 0.59;
          font-size: 50%;
        }
      }
    }
    .feed-event-date-root{
      @include events-list-item-date;

    }
    .feed-event-description{
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .feed-event-footer{
      display: flex;
      flex-direction: row;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      border-top: 1px solid rgba(112, 112, 112, 0.24);
      .author-profile-pic{
        flex: 0 0 auto;
        width: 30px;
        height: 30px;
        place-self: center;
        .profilePicWrapper{
          width: 100%;
          height: 100%;
        }
      }
      .author-profile-name{
        margin-left: 10px;
        flex: 1 1;
        place-self: center;
        align-self: center;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .feed-reactions{
        @include feed-elem-reactions(15px);
        place-self: center;
        align-self: center;
      }
      .feed-action{
        margin-left: 7px;
        display: flex;
        place-items: center;
        .action-owner{
          pointer-events: none;
          @include simple-button(#D9D9D9);
        }
        .action-joined{
          @include multi-state-button(red,#D9D9D9);
        }
        .action-join{
          @include iconned-button(#02E7B2, 13px);
        }
      }
    }
    .feed-event-pic{
      margin-top: 10px;
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  .feed-event-comments{
    @include  feed-elem-comments;
  }
}
@mixin feed-elem-comments{
  padding-top: 10px;
  padding-left: 5px;
  .comments-header{
    display: flex;
    padding-bottom: 5px;
  }
  .no-comments{
    text-align: center;
    color: #ACACAC;
  }
  .comments, .likes {
    display: flex;
    .label {
      font-family: $medium-font;
    }
    .value {
      margin-left: 5px;
      opacity: 0.59;
    }
  }
  .likes{
    margin-left: 10px;
  }
  .new-comment{
    padding-top: 10px;
    padding-bottom: 20px;
    .input{
      width: 100%;
      border: none;
      background: #F0F0F0;
      border-radius: 15px;
      padding-left: 20px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      outline: none;
    }
  }
  .post-comment-item{
    border-top: 1px solid #7070704a;
    padding-top: 5px;
    padding-bottom: 10px;
    .header {
      display: flex;
      flex-direction: row;
      .comment-author-pic{
        .profilePicWrapper{
          width: 25px;
          height: 25px;
        }
      }
      .comment-author-name{
        opacity: 0.59;
        margin-left: 10px;
        flex: 1 1 auto;
      }
      .comment-like{
        place-self: center;
        justify-self: flex-end;
        img{
          cursor: pointer;
          width: 22px;
        }
      }
    }
    .comment-content{
      font-size: 90%;
      padding-left: 45px;
    }
  }
}
@mixin feed-elem-reactions($icon-width: 25px){
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .reaction-comments, .reaction-likes{
    display: grid;
    grid-template-columns: auto auto;
    cursor: pointer;
    img{
      margin: auto;
      width: $icon-width;
    }
    .label{
      opacity: 0.59;
      margin-left: 5px;
    }
  }
  .reaction-likes{
    margin-left: 10px;
  }
}
@mixin follower-user-request{
  background: #F0F0F0;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  .profilePicWrapper{
    width: 60px;
    height: 60px;
    place-self: center;
  }
  .name{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    place-self: center;
    .username{
      font-family: $medium-font;
    }
    .display-name{
      color: #A7A2A2;
      font-size: 80%;
    }
  }
  .follow-controls{
    flex: 0 0 auto;
    place-self: center;
    @include follow-controls;
  }
}
@mixin follow-controls{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  .added {
    @include iconned-button(#5AB9FF, 19px, 100%, 5px)
  }

  .removed {
    @include simple-button(#C4C4C4)
  }

  .add{
    @include iconned-button(#CF77FF, 19px,100%, 5px)
  }

  .cancel {
    @include simple-button(#C4C4C4)
  }
}

@mixin tabs{
  .nav-item {
    cursor: pointer;
    font-family: $medium-font;
  }

  .nav-link {
    color: #A2A2A2;
    background: none;
    padding-bottom: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .nav-link.active {
    background: none;

    color: #61D1FC;
    // border-bottom: 4px solid #27BDD8;
    border-bottom: none;
    padding-bottom: 0;
    border-radius: 0;
  }
  .nav-link.active::after{
    background:  #61D1FC;
    height: 4px;
    content: "1";
    width: 100%;
    color: transparent;
    border-radius: 20px;
  }
}
