$primary-gradient: linear-gradient(to bottom right, #5CD9FD, #C837EA);
$input-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
$message-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
$friends-list-hover-color: #dadada5e;
$header-height: 45px;
$search-icon-size: 16px;
$search-padding: 3px;
$hover-background: #dadada5e;
$bold-font: 'Conv_Segoe UI Bold';
$medium-font: 'Conv_Segoe UI, Medium';
$btn-blue: #71C3FF;
$video-round-corner: 10px;
$table-gap: 5px;
$message-border-radius: 14px;

@mixin iconned-button($color, $width) {
  cursor: pointer;
  background: $color;
  border-radius: 20px;
  display: grid;
  grid-template-columns: min-content auto;
  padding: 5px 10px;
  flex: 0 0 auto;
  &:hover{
    background: darken($color, 30%);
  }
  img{
    width: $width;
    margin: auto;
  }
  .label{
    color: white;
    margin-left: 5px;
    font-size: 80%;
  }
}

@mixin  videos-search($trigger-bg: #BCD7FD) {
  display: flex;
  .search {
    margin-top: 10px;
    border-radius: 20px;
    background: #F0F0F0;
    border-width: 0;
    display: flex;
    width: 100%;
    align-items: center;
    .searchInput {
      flex: 1 1 auto;
      font-size: 100%;
      background: none;
      border: none;
      display: block;
      &:focus {
        background: none;
        outline: none;
      }
    }
    .close-search{
      margin-right: 5px;
    }

    .icon {
      margin: 0px 15px;
      width: $search-icon-size;
      height: $search-icon-size;
    }

    .trigger-search {
      cursor: pointer;
      flex: 0 0 auto;
      padding: 5px 20px;
      background: $trigger-bg;
      border-radius: 20px;
    }

    .trigger-search.active {
      background: darken($trigger-bg, 30%) !important;
    }
  }
}
@mixin youtube-videos{
    .loading-holder {
      margin-top: 20px;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    // display: grid;
    // grid-template-columns: 50% 50%;
    // grid-column-gap: 5px;
    // grid-row-gap: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .chat-playlist{
      @include chat-playlist
    }
}
@mixin youtube-item{
  position: relative;
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex: 1 1 50%;
  max-width: 50%;
  flex-direction: column;
  .youtube-video-remove{
    width: min-content;
    position: absolute;
    right: -5px;
    background: white;
    border-radius: 50%;
    top: -10px;
    .icon{
      width: 20px;
      cursor: pointer;
      &:hover{
        filter: invert(1);
      }
    }
  }
  .youtube-video-add{
    position: absolute;
    right: 10px;
    background: rgb(111, 111, 111);
    border-radius: 50%;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    top: 9px;
    img{
      width: 12px;
      margin: auto;
      flex: 0 0 auto;
    }
    &:hover{
      background: darken(rgb(111, 111, 111), 30%);
    }
    cursor: pointer;
  }
  // display: grid;
  // grid-template-rows: max-content auto max-content max-content;
  // grid-row-gap: 2px;
  .request-overlay {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(1,1,1,0.3);
      border-radius: 10px;
      .request-btn{
        margin: auto;
        background: blueviolet;
        color: white;
        padding: 10px 25px;
        border-radius: 20px;
      }
      .request-btn:hover{
        background: #5e1f98;
      }
  }
  .title-holder {
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .videoTitle {
    font-size: 80%;
    font-family: $medium-font;
    margin-bottom: 0;
  }

  .channel-title, .channel-desc {
    font-size: 65%;
    color: #696969;
  }
  .thumbnail {
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: $video-round-corner;
  }

  &:hover{
      background: rgb(218, 218, 218);
      border-radius: 10px;
      padding: 5px;
     .request-overlay {
       display:grid;
     }

     .block-with-text:after {
       background: rgb(218, 218, 218);;
     }
  }

  &.addable, &.removable{
    cursor: unset;
    &:hover{
        background: none;
        .block-with-text:after {
          background: white;
        }
    }
  }
}

@mixin chat-playlist{
  padding-top: 10px;
  .youtube-item{
    margin-top: 10px;
  }
  .playlist-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    .playlist-title{
      font-size: 120%;
      font-family: $medium-font;
    }
    .playlist-edit{
      cursor: pointer;
      img{
        width: 20px;
      }
    }
    .playlist-save{
      color: #4D9CB4;
      font-size: 80%;
      cursor: pointer;
    }
  }
  .playlist-empty{
    text-align: center;
    padding: 20px 0px;
    color: #989898;
  }
  .playlist-search-error{
    text-align: center;
    padding: 20px 0px;
    color: #989898;
  }
  .playlist-add{
    background: white;
    border-radius: 20px;
    border: 1px solid #C4C3C3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
    margin-top: 10px;
    input{
      flex: 1 1 auto;
      border: none;
      outline: none;
      background: none;
    }
    img{
      width: 30px;
      cursor: pointer;
      flex: 0 0 auto;
    }
  }
  .playlist-add-video-item{
    @include playlist-add-video-item
  }
}
@mixin playlist-add-video-item{
  background: #E8E8E8;
  border-radius: $video-round-corner;
  padding: 10px;
  margin-top: 10px;
  .add-video-holder{
    display: flex;
    justify-content: center;
    .add-video{
      @include simple-button(#02E7B2)
    }
  }
  .video-item{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    .thumbnail{
      border-radius: $video-round-corner;
      flex: 1 1 50%;
    }
    .details{
      padding-left: 10px;
      .title-holder{
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        .videoTitle{
          font-size: 80%;
          font-family: $medium-font;
          margin-bottom: 0;
        }
      }
      .channel-title{
        font-size: 65%;
        color: #696969;
      }
      .channel-desc{
        font-size: 65%;
        color: #696969;
      }

    }
  }
}

@mixin simple-button($background){
  background: $background;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  &:hover{
    background: darken($background, 30%);
  }

}
