$primary-gradient: linear-gradient(to bottom right, #5CD9FD, #C837EA);
$input-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
$message-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
$friends-list-hover-color: #dadada5e;
$header-height: 45px;
$search-icon-size: 16px;
$search-padding: 3px;
$hover-background: #dadada5e;
$bold-font: 'Conv_Segoe UI Bold';
$medium-font: 'Conv_Segoe UI, Medium';
$btn-blue: #71C3FF;
$video-round-corner: 10px;
$table-gap: 5px;
$message-border-radius: 14px;
@mixin multi-state-button($color-true,$color-false){
  border-radius: 20px;
  background: $color-false;
  cursor: pointer;
  &:hover{
    background: $color-true;
  }
  &.state-true{
    .action-true{
      display: block;
    }
    .action-false{
      display: none;
    }
    &:hover{
      .action-true{
        display: none;
      }
      .action-false{
        display: block;
      }
    }
  }
  &.state-false{
    .action-true{
      display: none;
    }
    .action-false{
      display: block;
    }
  }
  color: white;
  padding: 5px 10px;
}
@mixin iconned-button($color, $width) {
  cursor: pointer;
  background: $color;
  border-radius: 20px;
  display: grid;
  grid-template-columns: min-content auto;
  padding: 5px 10px;
  flex: 0 0 auto;
  &:hover{
    background: darken($color, 30%);
  }
  img{
    width: $width;
    margin: auto;
  }
  .label{
    color: white;
    margin-left: 5px;
    font-size: 80%;
  }
}

@mixin  videos-search($trigger-bg: #BCD7FD) {
  display: flex;
  .search {
    margin-top: 10px;
    border-radius: 20px;
    background: #F0F0F0;
    border-width: 0;
    display: flex;
    width: 100%;
    align-items: center;
    .searchInput {
      flex: 1 1 auto;
      font-size: 100%;
      background: none;
      border: none;
      display: block;
      &:focus {
        background: none;
        outline: none;
      }
    }
    .close-search{
      margin-right: 5px;
    }

    .icon {
      margin: 0px 15px;
      width: $search-icon-size;
      height: $search-icon-size;
    }

    .trigger-search {
      cursor: pointer;
      flex: 0 0 auto;
      padding: 5px 20px;
      background: $trigger-bg;
      border-radius: 20px;
    }

    .trigger-search.active {
      background: darken($trigger-bg, 30%) !important;
    }
  }
}
@mixin youtube-videos{
    .loading-holder {
      margin-top: 20px;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    // display: grid;
    // grid-template-columns: 50% 50%;
    // grid-column-gap: 5px;
    // grid-row-gap: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .chat-playlist{
      @include chat-playlist
    }
}
@mixin youtube-item{
  position: relative;
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex: 1 1 50%;
  max-width: 50%;
  flex-direction: column;
  .youtube-video-remove{
    width: min-content;
    position: absolute;
    right: -5px;
    background: white;
    border-radius: 50%;
    top: -10px;
    .icon{
      width: 20px;
      cursor: pointer;
      &:hover{
        filter: invert(1);
      }
    }
  }
  .youtube-video-add{
    position: absolute;
    right: 10px;
    background: rgb(111, 111, 111);
    border-radius: 50%;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    top: 9px;
    img{
      width: 12px;
      margin: auto;
      flex: 0 0 auto;
    }
    &:hover{
      background: darken(rgb(111, 111, 111), 30%);
    }
    cursor: pointer;
  }
  // display: grid;
  // grid-template-rows: max-content auto max-content max-content;
  // grid-row-gap: 2px;
  .request-overlay {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(1,1,1,0.3);
      border-radius: 10px;
      .request-btn{
        margin: auto;
        background: blueviolet;
        color: white;
        padding: 10px 25px;
        border-radius: 20px;
      }
      .request-btn:hover{
        background: #5e1f98;
      }
  }
  .title-holder {
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .videoTitle {
    font-size: 80%;
    font-family: $medium-font;
    margin-bottom: 0;
  }

  .channel-title, .channel-desc {
    font-size: 65%;
    color: #696969;
  }
  .thumbnail {
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: $video-round-corner;
  }

  &:hover{
      background: rgb(218, 218, 218);
      border-radius: 10px;
      padding: 5px;
     .request-overlay {
       display:grid;
     }

     .block-with-text:after {
       background: rgb(218, 218, 218);;
     }
  }

  &.addable, &.removable{
    cursor: unset;
    &:hover{
        background: none;
        .block-with-text:after {
          background: white;
        }
    }
  }
}

@mixin chat-playlist{
  padding-top: 10px;
  .youtube-item{
    margin-top: 10px;
  }
  .playlist-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    .playlist-title{
      font-size: 120%;
      font-family: $medium-font;
    }
    .playlist-edit{
      cursor: pointer;
      img{
        width: 20px;
      }
    }
    .playlist-save{
      color: #4D9CB4;
      font-size: 80%;
      cursor: pointer;
    }
  }
  .playlist-empty{
    text-align: center;
    padding: 20px 0px;
    color: #989898;
  }
  .playlist-search-error{
    text-align: center;
    padding: 20px 0px;
    color: #989898;
  }
  .playlist-add{
    background: white;
    border-radius: 20px;
    border: 1px solid #C4C3C3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
    margin-top: 10px;
    input{
      flex: 1 1 auto;
      border: none;
      outline: none;
      background: none;
    }
    img{
      width: 30px;
      cursor: pointer;
      flex: 0 0 auto;
    }
  }
  .playlist-add-video-item{
    @include playlist-add-video-item
  }
}
@mixin playlist-add-video-item{
  background: #E8E8E8;
  border-radius: $video-round-corner;
  padding: 10px;
  margin-top: 10px;
  .add-video-holder{
    display: flex;
    justify-content: center;
    .add-video{
      @include simple-button(#02E7B2)
    }
  }
  .video-item{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    .thumbnail{
      border-radius: $video-round-corner;
      flex: 1 1 50%;
    }
    .details{
      padding-left: 10px;
      .title-holder{
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        .videoTitle{
          font-size: 80%;
          font-family: $medium-font;
          margin-bottom: 0;
        }
      }
      .channel-title{
        font-size: 65%;
        color: #696969;
      }
      .channel-desc{
        font-size: 65%;
        color: #696969;
      }

    }
  }
}

@mixin simple-button($background){
  background: $background;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  &:hover{
    background: darken($background, 30%);
  }

}

@mixin events-create-input{
  background: none;
  border: 1px solid #D1D1D1;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  .error{
    color: red;
    font-size: 50%;
  }
  &.with-error{
    border-color: red;
  }

}
@mixin events-create-input-holder{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  flex-direction: column;
  margin-top: 20px;
}
@mixin events-create{
  font-size: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  .back-icon{
    margin: 10px;
    align-self: flex-start;
    position: absolute;
    cursor: pointer;
  }
  .error{
    color: red;
    font-size: 50%;
  }
  .create-label{
    font-size: 120%;
    text-align: center;
    margin-top: 20px;
  }
  .create-field-label{
    font-family: $medium-font;
  }
  .create-event-date-time{
    display: flex;
    flex-direction: row;
    .create-event-date{
      flex: 1 1 80%;
      max-width: 80%;
      padding-right: 10px;
    }
    .create-event-time{
      flex: 1 1 30%;
      max-width: 30%;
    }
  }
  .input-field-group{
    @include events-create-input-holder;
    .input-field-wrapper{
      width: 100%;
    }
    .edit{
      @include events-create-input;
    }
    textarea{
      resize: none;
      height: 100px;
    }
  }
  .create{
    @include events-create-input-holder;
    .create-btn{
      @include simple-button(#02E7B2);
      width: max-content;
      margin: auto;
    }
  }


}

@mixin events-list {
  padding-left: 10px;
  padding-right: 10px;
  .events-list-label{
    margin-top: 20px;
    font-family: $medium-font;
  }
  .events-list-empty{
    margin: 20px;
    text-align: center;
    color: lightgray;
  }
}
@mixin events-list-item-date{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  img{
    margin-top: 3px;
    flex: 0 0 auto;
    width: 20px;
    height: auto;
  }
  .feed-event-date-wrapper{
    margin-left: 10px;
    font-size: 90%;
    .feed-event-date-date{
      font-family: $medium-font;
    }
    .feed-event-date-time{
      color: #989898;
    }
  }
}
@mixin events-list-item{
  font-size: 80%;
  .feed-event-content{
    background: white;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    &:hover{
      background: darken(white, 5%);
    }
    .feed-event-body{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
    }
    .feed-event-header{
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      margin-right: 10px;
      .feed-event-title{
        font-size: 120%;
        flex: 1 1 auto;
        font-family: $medium-font;
      }
      .feed-event-seats{
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        text-align: center;
        img{
          width: 24px;
        }
        div{
          opacity: 0.59;
          font-size: 50%;
        }
      }
    }
    .feed-event-date-root{
      @include events-list-item-date;

    }
    .feed-event-description{
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .feed-event-footer{
      display: flex;
      flex-direction: row;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      border-top: 1px solid rgba(112, 112, 112, 0.24);
      .author-profile-pic{
        width: 30px;
        height: 30px;
        place-self: center;
        .profilePicWrapper{
          width: 100%;
          height: 100%;
        }
      }
      .author-profile-name{
        margin-left: 10px;
        flex: 1 1;
        place-self: center;
      }
      .feed-reactions{
        @include feed-elem-reactions(15px);
        place-self: center;
      }
      .feed-action{
        margin-left: 7px;
        display: flex;
        place-items: center;
        .action-owner{
          pointer-events: none;
          @include simple-button(#D9D9D9);
        }
        .action-joined{
          @include multi-state-button(red,#D9D9D9);
        }
        .action-join{
          @include iconned-button(#02E7B2, 13px);
        }
      }
    }
  }
  .feed-event-comments{
    @include  feed-elem-comments;
  }
}
@mixin feed-elem-comments{
  padding-top: 10px;
  padding-left: 5px;
  .comments-header{
    display: flex;
    padding-bottom: 5px;
  }
  .comments, .likes {
    display: flex;
    .label {
      font-family: $medium-font;
    }
    .value {
      margin-left: 5px;
      opacity: 0.59;
    }
  }
  .likes{
    margin-left: 10px;
  }
  .new-comment{
    padding-top: 10px;
    padding-bottom: 20px;
    .input{
      width: 100%;
      border: none;
      background: #F0F0F0;
      border-radius: 15px;
      padding-left: 20px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      outline: none;
    }
  }
  .post-comment-item{
    border-top: 1px solid #7070704a;
    padding-top: 5px;
    padding-bottom: 10px;
    .header {
      display: flex;
      flex-direction: row;
      .comment-author-pic{
        .profilePicWrapper{
          width: 25px;
          height: 25px;
        }
      }
      .comment-author-name{
        opacity: 0.59;
        margin-left: 10px;
        flex: 1 1 auto;
      }
      .comment-like{
        place-self: center;
        justify-self: flex-end;
        img{
          cursor: pointer;
          width: 22px;
        }
      }
    }
    .content{
      font-size: 90%;
      padding-left: 45px;
    }
  }
}
@mixin feed-elem-reactions($icon-width: 25px){
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .reaction-comments, .reaction-likes{
    display: grid;
    grid-template-columns: auto auto;
    cursor: pointer;
    img{
      margin: auto;
      width: $icon-width;
    }
    .label{
      opacity: 0.59;
      margin-left: 5px;
    }
  }
  .reaction-likes{
    margin-left: 10px;
  }
}
