$primary-gradient: linear-gradient(to bottom right, #5CD9FD, #C837EA);
$input-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
$message-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
$friends-list-hover-color: #dadada5e;
$header-height: 45px;
$search-icon-size: 16px;
$search-padding: 3px;
$hover-background: #dadada5e;
$bold-font: 'Conv_Segoe UI Bold';
$medium-font: 'Conv_Segoe UI, Medium';
$btn-blue: #71C3FF;
$video-round-corner: 10px;
$table-gap: 5px;
$message-border-radius: 14px;
