<div class="container-fluid publicRoomsHolder">
  <div class="publicRooms">
    <div class="content">
      <div class="roomsTitleHolder">
        <span class="roomsTitle">Public rooms</span>
      </div>
      <div class="divider"></div>
      <div class="roomsSearchHolder">
        <img src="/assets/search_icon.png" class="searchIcon">
        {{input value=query classNames="roomsSearch" placeholder="Search for Rooms"}}
      </div>
      <div class="roomsHolder">
        {{#if loading}}
          Loading
        {{/if}}
        {{#each model as |room|}}
          {{room.creatorName}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
