<div class="publicRooms row">
  <div class="content h-100">
    <div class="title-holder">
      <div class="title">
        <span class="noselect">Public rooms</span>
      </div>
      {{#link-to "home.create" classNames="create noselect" tagName="div"}}
        <div class="button hoveredBtn">
          <img src="/assets/ic_plus@2x.png" alt="icon">
          <div>Create Public Room</div>
        </div>
      {{/link-to}}
    </div>
    <div class="search-holder">
      <div class="search-wrapper">

        <img src="/assets/search_icon@2x.png" class="icon" alt="icon">
        {{input value=roomQuery classNames="searchInput" placeholder="Search for Rooms" autocomplete='off'}}
      </div>
    </div>
    <div class="roomsHolder">
      <div class="row">
        {{#if loading}}
          Loading
        {{/if}}
        {{#each filteredModel as |room|}}
          {{#link-to "home.chat" room.id "room" classNames="room-chat-link col-4"}}
            {{#home-room-item model=room classNames="room"}}

            {{/home-room-item}}
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
</div>