<div class="publicRooms row">
  <div class="content h-100">
    <div class="room-title-holder">
      <div class="title">
        <span class="noselect">Groups</span>
      </div>
      {{#link-to "home.group" classNames="create noselect" tagName="div"}}
        <div class="button hoveredBtn">
          <img src="/assets/ic_plus@2x.png" alt="icon">
          <div>Create Group</div>
        </div>
      {{/link-to}}
    </div>
    {{#fit-parent-height parentSelector=".publicRooms" classNames="feed-list-root" minusSelector='.room-title-holder'}}
      <div class="feed-content">
      </div>
      <div class="feed-sidebar">
        <div class="side-content">
          <div class="feeds-own feeds-item">
            <div class="title">
              Your Groups
            </div>
            <div class="list">
              {{home-feed-list model=myFeeds}}
            </div>
          </div>
          <div class="feeds-follows feeds-item">
            <div class="title">
              Following Groups
            </div>
            <div class="list">
              {{home-feed-list model=followedFeeds}}
            </div>
          </div>
          <div class="feed-public feeds-item">
            <div class="title">
              Discover
            </div>
            <div class="list">
              {{home-feed-list model=publicFeeds isPublic=true classNames="feed-list" onFollowGroup=(action "followGroup") onUnFollowGroup=(action "unFollowGroup")}}
            </div>
          </div>
        </div>

      </div>
    {{/fit-parent-height}}
  </div>
</div>
