<div class="publicRooms">
  <div class="content h-100">
    <div class="title-holder">
      <div class="title">
        <span>Public rooms</span>
      </div>
    </div>
    <div class="search-holder">
      <div class="search-wrapper">

        <img src="/assets/search_icon.png" class="icon">
        {{input value=query classNames="searchInput" placeholder="Search for Rooms"}}
      </div>
    </div>
    <div class="roomsHolder">
      <div class="row">
        {{#if loading}}
          Loading
        {{/if}}
        {{#each model as |room|}}
          {{#link-to 'home.chat' room.id 'room' classNames='room-chat-link col-3'}}
            {{#home-room-item model=room classNames='room'}}{{/home-room-item}}
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
</div>