@import '../component-styles/multi-image-holder.scss';

@mixin feed-post-content{
  box-shadow: $message-shadow;
  display: flex;
  background: white;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  align-self: center;
  .post-header{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;    
    .profilePicWrapper{
      width: 25px;
      height: 25px;
    }
    .post-author-name{
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 5px;
      font-size: 90%;
    }
    .post-time{
      color: #838383;
      justify-self: flex-end;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      font-size: 90%;
    }
  }

  .post-message{
    font-size: 90%;
    margin-left: 10px;
    padding-bottom: 5px;
    .emojione{
      margin-top: -1px;
      height: auto;
      width: 20px;
    }
  }
  .post-body{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    .post-message{
      flex: 1 1 auto;
      margin: 0;
      padding: 0;
    }
    .post-time{
      flex: 0 0 auto;
      color: #838383;
      justify-self: flex-end;
      margin-left: auto;
      font-size: 90%;
    }
  }
  .post-attachments{
    padding-bottom: 10px;
    .multi-image-holder{
      @include multi-image-holder;
    }
    .post-attachment-item{
      .message-video{
        margin-left: -10px;
        margin-right: -10px;
        .video-holder{
          video{
            width: 100%;
          }
        }
      }
      .message-attachment-holder{
        background: #dedede;
        border-radius: 10px;
        padding: 5px;
        text-decoration: none;
        .message-attachment-wrapper{
          display: flex;
          .message-attachment-icon{
            img{
              width: 40px;
            }
          }
          .message-attachment-name{
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 20px;
            font-size: 90%;
          }
        }
      }
    }
    .message-img{
      .img-fluid{

      }
    }
  }
  .post-reactions{
    @include feed-elem-reactions(15px);
  }
}
