@import '../vars.scss';
@import 'home-feed-item-public.scss';
@import '../component-styles/home/user-feed-list.scss';

.feed-list-root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #F4F4F4;
  .feed-content{
    flex: 1 1 69%;
    max-width: 69%;
    .tabs {
      margin-left: auto;
      margin-right: auto;

      @include tabs;
      .nav{
        padding-top: 10px;
        padding-left: 20px;
        .nav-link{
          padding: 0px 10px;
        }
      }
      #following{
        overflow-y: auto;
        .main-content{
          padding-bottom: 40px;
        }
        .home-user-feed{
          @include home-user-feed
        }
      }
      #discover{
        .feed-discover-list-root{
          overflow: scroll;
        }
        .feed-list{
          padding: 10px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .home-feed-item-link{
            padding: 10px;
            text-decoration: none;
            color: black;
            display: flex;
            flex: 1 1 50%;
            max-width: 50%;
            .home-feed-item-public{
              background: #fff;
              border-radius: 15px;
              @include home-feed-item-public
            }
          }

        }
      }
    }
  }
  .feed-sidebar{
    flex: 1 1 31%;
    max-width: 31%;
    display: flex;
    .side-content{
      flex-direction: column;
      display: flex;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      padding-right: 16px;
      .side-wrapper{
        padding-top: 10px;
        padding-left: 3px;
        .feeds-item{
          display: flex;
          flex-direction: column;
          background: white;
          border-radius: 10px;
          width: 100%;
          margin-bottom: 10px;
          box-shadow: $message-shadow;
          padding-top: 10px;
          padding-bottom: 10px;
          .title{
            color: #898989;
            padding-left: 10px;
            font-size: 90%;
            font-family: $medium-font;
          }
          .list{
            .empty{
              color: #b9b9b9;
              margin: auto;
              text-align: center;
              padding-top: 10px;
              padding-bottom: 10px;
            }
            .home-feed-item-link{
              text-decoration: none;
              color: black;
            }
            .home-feed-item{
              padding-left: 10px;
              padding-right: 10px;
              display: flex;
              flex-direction: row;
              padding-top: 10px;
              padding-bottom: 10px;
              cursor: pointer;
              &:hover{
                background: $friends-list-hover-color;
              }
              .feed-item-content{
                flex: 1 1 auto;
                margin-left: 10px;
                place-self: center;
                align-self: center;
                overflow-wrap: break-word;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                .feed-item-title{
                  overflow-wrap: break-word;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  flex: 0 0 auto;
                  margin: 0;
                  color: black;
                  font-family: $medium-font;
                }
                .feed-item-online{
                  flex: 0 0 auto;
                  margin-left: 10px;
                  .feed-item-members{
                    display: flex;
                  }
                  .feed-item-member-item{
                    height: 30px;
                    .member-item-pic{
                      width: 25px;
                      height: 25px;
                      background: white;
                      border-radius: 50%;
                      padding: 2px;
                      box-shadow: $message-shadow;
                      .profilePicWrapper{
                        width: 100%;
                        height: 100%;
                      }
                    }

                  }
                }
              }
              .feed-item-pic{
                flex: 0 0 auto;
                width: 55px;
                height: 55px;
                display: flex;
                border-radius: 50%;
                padding: 2px;
                .pic{
                  margin: auto;
                  display: flex;
                  background: white;
                  border-radius: 50%;
                  width: 100%;
                  height: 100%;
                  padding: 2px;
                  background: white;
                  box-shadow: $message-shadow;
                  .profilePicWrapper{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                  }
                }
                &.online{
                  background: $primary-gradient;
                  box-shadow: $message-shadow;
                  .pic{
                    box-shadow: none;
                  }
                }
              }

              .feed-item-info{
                display: flex;
                flex-direction: column;
                .feed-item-views{
                  display: grid;
                  grid-template-columns: auto auto;
                  flex: 0 0 auto;
                  img{
                    width: 12px;
                    margin-top: 4px;
                  }
                  .label{
                    font-size: 70%;
                    color: #989898;
                    margin-left: 4px;
                  }
                }
                .feed-item-status{
                  flex: 1 1 auto;
                  display: flex;
                  align-items: center;
                  .feed-item-online-label{
                    color: #8B8787;
                    font-size: 50%;
                  }
                }
              }

            }

            .feed-list{
              padding: 10px;
            }
            .home-feed-item-public{
              @include home-feed-item-public
              &:hover{
                background: $friends-list-hover-color;
                border-radius: 15px;
              }
            }
          }
        }
      }


    }
  }
}
