@import '../vars.scss';
.feed-list-root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #F4F4F4;
  .feed-content{
    flex: 1 1 65%;
    max-width: 65%;
  }
  .feed-sidebar{
    flex: 1 1 35%;
    max-width: 35%;
    border-left: 1px solid #E8E8E8;
    display: flex;
    .side-content{
      flex-direction: column;
      display: flex;
      overflow-y: auto;
      width: 100%;
      padding: 20px 10px;
      .feeds-item{
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 10px;
        box-shadow: $message-shadow;
        padding-top: 10px;
        padding-bottom: 10px;
        .title{
          color: #898989;
          padding-left: 10px;
          font-size: 90%;
          font-family: $medium-font;
        }
        .list{
          .empty{
            color: #898989;
            margin: auto;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .home-feed-item-link{
            text-decoration: none;
            color: black;
          }
          .home-feed-item{
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            .feed-item-content{
              flex: 1 1 auto;
              margin-left: 10px;
              place-self: center;
              .feed-item-title{
                flex: 0 0 auto;
                margin: 0;
                color: black;
                font-family: $medium-font;
              }
              .feed-item-online{
                flex: 0 0 auto;
                margin-left: 10px;
                .feed-item-member-item{

                  .member-item-pic{
                    width: 25px;
                    height: 25px;
                    background: white;
                    border-radius: 50%;
                    padding: 2px;
                    box-shadow: $message-shadow;
                    .profilePicWrapper{
                      width: 100%;
                      height: 100%;
                    }
                  }

                }
              }
            }
            .feed-item-pic{
              width: 60px;
              height: 60px;
              display: flex;
              border-radius: 50%;
              padding: 2px;
              .pic{
                margin: auto;
                display: flex;
                background: white;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                padding: 2px;
                background: white;
                box-shadow: $message-shadow;
                .profilePicWrapper{
                  width: 100%;
                  height: 100%;
                  margin: auto;
                }
              }
              &.online{
                background: $primary-gradient;
                box-shadow: $message-shadow;
                .pic{
                  box-shadow: none;
                }
              }
            }

            .feed-item-info{
              display: flex;
              flex-direction: column;
              .feed-item-views{
                display: grid;
                grid-template-columns: auto auto;
                flex: 0 0 auto;
                img{
                  width: 12px;
                  margin-top: 4px;
                }
                .label{
                  font-size: 70%;
                  color: #989898;
                  margin-left: 4px;
                }
              }
              .feed-item-status{
                flex: 1 1 auto;
                display: flex;
                align-items: center;
                .feed-item-online-label{
                  color: #8B8787;
                  font-size: 50%;
                }
              }
            }

          }
          .home-feed-item:hover{
            background: #dadada5e;
          }
          .feed-list{
            padding: 10px;
          }
          .home-feed-item-public{
            padding: 10px;
            cursor: pointer;
            .header{
              display: flex;
              position: relative;
              .feed-item-pic-wrapper{
                margin: auto;
                .feed-item-pic{
                  width: 120px;
                  height: 120px;
                  display: flex;
                  border-radius: 50%;
                  padding: 3px;
                  .pic{
                    margin: auto;
                    display: flex;
                    background: white;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    padding: 3px;
                    .profilePicWrapper{
                      width: 100%;
                      height: 100%;
                      margin: auto;
                    }
                  }
                }
              }

              .details{
                position: absolute;
                display: flex;
                right: 0;
                overflow: hidden;
                flex-direction: column;
                .feed-item-views{
                  display: grid;
                  grid-template-columns: auto auto;
                  width: min-content;
                  align-self: flex-end;
                  img{
                    width: 14px;
                    margin-top: 6px;
                  }
                  .label{
                    margin-left: 5px;
                    color: #989898;
                    font-size: 80%;
                  }
                }
                .feed-actions{
                  padding-top: 10px;
                  .action-following, .action-follow-request{
                    background: #F4F4F4;
                    cursor: pointer;
                    border-radius: 20px;
                    display: flex;
                    padding: 5px 10px;
                    font-size: 80%;
                    border: 1px solid #D6D6D6;
                    color: #777778;
                    .action{
                      display: none;
                      color: white;
                    }
                  }
                  .action-following:hover{
                    background: #ff1818;
                    .action{
                      display: block;
                    }
                    .simple{
                      display: none;
                    }
                  }
                  .action-follow{
                    cursor: pointer;
                    background: #5AB9FF;
                    border-radius: 20px;
                    display: grid;
                    grid-template-columns: min-content auto;
                    padding: 5px 10px;
                    img{
                      width: 13px;
                      margin: auto;
                    }
                    div{
                      color: white;
                      margin-left: 5px;
                      font-size: 80%;
                    }
                  }
                  .action-follow:hover{
                    background: #3cabfd
                  }
                }

              }
            }
            .feed-title{
              font-size: 120%;
              text-align: center;
              font-family: $medium-font;
            }
            .feed-description{
              text-align: center;
              padding-top: 10px;
              padding-bottom: 10px;
            }
            .private-group{
              box-shadow: $message-shadow;
              background: #F4F4F4;
              border-radius: 15px;
              height: 90px;
              font-size: 80%;
              color: #989898;
              display: flex;
              .label{
                margin: auto;
              }
            }
          }
          .home-feed-item-public:hover{
            background: #dadada5e;
            border-radius: 15px;
          }
        }
      }

    }
  }
}
