@import '../vars.scss';
@import 'feed-post-content.scss';
@import '../friends/list-item.scss';
$post-content-width: 60%;
.home.group.show {
  .feed-root {
    padding-left: 5px;
    .feed-parent {
      width: 100%;
      height: 100%;
      display: flex;
      .feed-private-group{
        display: flex;
        flex: 1 1 auto;
        .label{
          margin: auto;
        }
      }

      .feed-wrapper {
        flex: 1 1 67%;
        max-width: 67%;
        display: flex;
        flex-direction: column;
        position: relative;
        background: #F1F1F1;
        border-top-left-radius: 20px;
        .feed-content{
          display: flex;
          flex-direction: column;
          height: 100%;
          .back{
            z-index: 4;
            position: absolute;
            width: 40px;
            height: 45px;
            display: flex;
            cursor: pointer;
            a{
              margin: auto;
            }
          }
          .feed-header{
            margin-top: $header-height;
            display: flex;
            overflow-x: hidden;
            flex-direction: column;
            .feed-header-body{
              display: flex;
              flex-direction: row;
              padding-right: 30px;
              padding-left: 60px;
              padding-bottom: 10px;
              border-top-left-radius: 20px;
              z-index: 1;
              .feed-pic-holder{
                flex: 0 0 auto;
                display: flex;
                place-items: center;
                .feed-pic {
                  cursor: pointer;
                  border-radius: 50%;
                  padding: 5px;
                  width: 150px;
                  height: 150px;
                  .pic-holder {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    background: white;
                    border-radius: 50%;
                    box-shadow: $message-shadow;
                    padding: 5px;
                    .profilePicWrapper {
                      width: 100%;
                      height: 100%;
                      margin: auto;
                    }
                    .hover{
                      pointer-events: none;
                      position: absolute;
                      top: 0;
                      width: 100%;
                      height: 100%;
                      color: white;
                      background: rgba(0, 0, 0, 0.30);
                      place-content: center;
                      place-items: center;
                      display: none;
                    }
                    &:hover{
                      .hover{
                        display: flex;
                      }
                    }
                    .file-upload{
                      width: 100%;
                      height: 100%;
                      margin: 0;
                      padding: 0;
                    }
                  }
                  &.active{
                    box-shadow: $message-shadow;
                    background: $primary-gradient;
                    .pic-holder{
                      box-shadow: none;
                    }
                  }
                }
              }

              .feed-middle {
                flex: 0 1 auto;
                width: 100%;
                max-width: auto;
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                overflow-wrap: break-word;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                .feed-edit-save{
                  align-self: flex-end;
                  cursor: pointer;
                  color: #4D9CB4;
                  font-size: 80%;
                }
                .feed-title-edit{
                  display: flex;
                  background: #F5F4F4;
                  border-radius: 20px;
                  border: 1px solid #D1D1D1;
                  padding-left: 10px;
                  padding-right: 10px;
                  padding-top: 5px;
                  padding-bottom: 5px;
                  margin-right: 35px;
                  input{
                    flex: 1 1 auto;
                    background: none;
                    border: none;
                    outline: none;
                    padding-left: 5px;
                  }
                }
                .feed-description-edit{
                  background: #F5F4F4;
                  border-radius: 20px;
                  border: 1px solid #D1D1D1;
                  margin-top: 10px;
                  margin-right: 35px;
                  textarea{
                    width: 100%;
                    background: none;
                    border: none;
                    resize: none;
                    outline: none;
                    padding: 10px;
                    border-radius: 20px;
                    font-size: 80%;
                  }
                }
                .feed-edit {
                  height: 1.5em;
                  display: flex;
                  .edit-img {
                    width: 12px;
                    margin-left: auto;
                    flex: 0 0 auto;
                    height: 12px;
                    cursor: pointer;
                  }
                }
                .feed-title {
                  @include home-list-friend-item-label;
                  font-size: 150%;
                  z-index: 2;
                  font-family: $medium-font;
                }
                .feed-description {
                  font-size: 90%;
                  margin-top: 10px;
                  padding-left: 10px;
                  white-space: normal;
                  height: 4.5em;
                  overflow: hidden;
                }
                .feed-admins-root {
                  display: flex;
                  height: 30px;
                  margin-top: 10px;
                  margin-left: 10px;
                  .feed-admins-edit{
                    cursor: pointer;
                    background: #5AB9FF;
                    border-radius: 20px;
                    display: grid;
                    grid-template-columns: min-content auto;
                    padding: 5px 10px;
                    margin-left: 10px;
                    flex: 0 0 auto;
                    img{
                      width: 13px;
                      margin: auto;
                    }
                    div{
                      color: white;
                      margin-left: 5px;
                      font-size: 80%;
                    }
                  }
                  .feed-admins-edit:hover{
                    background: #3cabfd;
                  }
                  .label{
                    flex: 0 0 auto;
                    margin-top: auto;
                    margin-bottom: auto;
                    font-family: $medium-font;
                    font-size: 60%;
                  }
                  .users{
                    place-items: center;
                    flex: 1 1 auto;
                    overflow-y: auto;
                    display: flex;
                    margin-left: 10px;
                    .feed-admin-item{
                      flex: 0 0 auto;
                      width: 25px;
                      height: 25px;
                      padding: 2px;
                      margin-right: 5px;
                      border-radius: 50%;
                      box-shadow: $message-shadow;
                      .profilePicWrapper{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
                &.edit{
                  .feed-admins-root{
                    margin-right: 35px;
                  }
                  .users{

                    flex: 1 1 50%;
                  }
                }
              }

              .feed-info{
                flex: 0 0 120px;
                max-width: 120px;
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                .feed-views {
                  flex: 0 0 auto;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  .views-img {
                    width: 14px;
                    height: 9px;
                    flex: 0 0 auto;
                    margin-top: 6px;
                    margin-right: 5px;
                  }
                  .label {
                    flex: 0 0 auto;
                    color: #989898;
                    height: min-content;
                    font-size: 80%;
                  }
                }
                .feed-actions{
                  padding-top: 10px;
                  .action-following, .action-follow-request{
                    background: #F4F4F4;
                    cursor: pointer;
                    border-radius: 20px;
                    display: flex;
                    padding: 5px 10px;
                    font-size: 80%;
                    border: 1px solid #D6D6D6;
                    color: #777778;
                    .action{
                      display: none;
                      color: white;
                    }
                  }
                  .action-following:hover{
                    background: #ff1818;
                    .action{
                      display: block;
                    }
                    .simple{
                      display: none;
                    }
                  }
                  .action-follow{
                    cursor: pointer;
                    background: #5AB9FF;
                    border-radius: 20px;
                    display: grid;
                    grid-template-columns: min-content auto;
                    padding: 5px 10px;
                    img{
                      width: 13px;
                      margin: auto;
                    }
                    div{
                      color: white;
                      margin-left: 5px;
                      font-size: 80%;
                    }
                  }
                  .action-follow:hover{
                    background: #3cabfd;
                  }
                }
              }
            }
            .feed-header-footer{
              padding: 10px;
              .feed-watcher-items{
                display: flex;
                place-content: flex-end;
                justify-content: flex-end;
                .feed-watcher-item{
                  margin-right: 5px;
                  width: 35px;
                  height: 35px;
                  padding: 2px;
                  box-shadow: $message-shadow;
                  border-radius: 50%;
                  .profilePicWrapper{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
          .feed-messages-holder{
            flex: 1 1 auto;
            padding-left: 20px;
            padding-right: 20px;
            height: 100px;
            overflow-y: auto;
            padding-bottom: 20px;
            padding-top: 285px;
            position: absolute;
            width: 100%;
            height: 100%;
            .message-scroll-date-holder{
              width: 100%;
              opacity: 0.95;
              position: absolute;
              padding-right: 40px;
              padding-top: 20px;
              .title{
                width: max-content;
                justify-content: center;
                margin: auto;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
                background: #F0EAFF;
                padding: 10px 20px;
                border-radius: 20px;
                color: #807E7E;
              }
            }
            .feed-messages-root{
              display: grid;
              grid-template-columns: auto;
              .feed-post-time{
                margin-top: 20px;
                z-index: 1;
                .messageTime{
                  opacity: 0.95;
                  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
                  width: max-content;
                  margin: auto;
                  background: #F0EAFF;
                  padding: 10px 20px;
                  border-radius: 20px;
                  color: #807E7E;
                  text-align: center;
                }
              }
              .feed-post-item{
                display: flex;
                flex-direction: column;
                padding-top: 5px;
                padding-bottom: 5px;
                .post-content{
                  width: $post-content-width;
                  @include feed-post-content;
                }
                .post-comments{
                  width: $post-content-width;
                  font-size: 90%;
                  padding-top: 10px;
                  padding-left: 5px;
                  align-self: center;
                  .no-comments{
                    text-align: center;
                    color: #ACACAC;
                  }
                  .comments-header{
                    display: flex;
                    padding-bottom: 5px;
                  }
                  .comments, .likes {
                    display: flex;
                    .label {
                      font-family: $medium-font;
                    }
                    .value {
                      margin-left: 5px;
                      opacity: 0.59;
                    }
                  }
                  .likes{
                    margin-left: 10px;
                  }
                  .new-comment{
                    padding-top: 10px;
                    padding-bottom: 20px;
                    .input{
                      width: 100%;
                      border: none;
                      background: white;
                      border-radius: 15px;
                      padding-left: 20px;
                      padding-right: 10px;
                      padding-top: 5px;
                      padding-bottom: 5px;
                      outline: none;
                    }
                  }
                  .post-comment-item{
                    border-top: 1px solid #7070704a;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    .header {
                      display: flex;
                      flex-direction: row;
                      .comment-author-pic{
                        .profilePicWrapper{
                          width: 20px;
                          height: 20px;
                        }
                      }
                      .comment-author-name{
                        opacity: 0.59;
                        margin-left: 10px;
                        flex: 1 1 auto;
                      }
                      .comment-like{
                        place-self: center;
                        justify-self: flex-end;
                        img{
                          cursor: pointer;
                          width: 15px;
                        }
                      }
                    }
                    .comment-content{
                      font-size: 90%;
                      padding-left: 31px;
                    }
                  }

                }

              }
            }
          }

          .feed-uploads{
            display: flex;
            padding: 5px 10px;
            flex-wrap: wrap;
            .chat-upload-item{
              @include chat-upload-item;
            }
          }
          .feed-post-holder{
            display: flex;
            place-content: center;
            justify-content: center;
            .feed-post-wrapper{
              display: flex;
              background: white;
              border-radius: 20px;
              width: $post-content-width;
              margin-bottom: 20px;
              flex-direction: column;
              box-shadow: $message-shadow;
              .feed-post {
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                flex: 0 0 auto;
                min-height: 50px;
                .emoji-picker-holder{
                  display: flex;
                  .show-emoji {
                    margin: auto;
                    margin-left: 5px;
                  }
                  img{
                    cursor: pointer;
                    flex: 0 0 auto;
                    width: 31px;
                    height: 31px;
                  }
                }
                .ember-content-editable{
                  margin: auto;
                  max-height: 150px;
                  overflow-y: auto;
                  flex: 1 1 auto;
                  width: 100%;
                  outline: none;
                  font-size: 90%;
                  padding: 5px 10px 5px;
                }
                .ember-content-editable:empty{
                  color: #a9a9a9;
                }
                .ember-content-editable:focus {
                  outline: none;
                }
                .file-upload{
                  cursor: pointer;
                  width: 30px;
                  height: 30px;
                  display: flex;
                  place-content: center;
                  margin: auto;
                  box-shadow: $message-shadow;
                  flex: 0 0 auto;
                  background: #F2F2F2;
                  border-radius: 50%;
                  padding: 7px;
                  &:hover{
                    background: darken(#F2F2F2, 30%);
                  }
                  img{
                    cursor: pointer;
                    flex: 0 0 auto;
                    width: 100%;
                    height: 100%;
                  }
                }
                .imgHolder{
                  margin: auto;
                  font-weight: $medium-font;
                  flex: 0 0 auto;
                  margin-left: 15px;
                }
                .chat-action-send{
                  cursor: pointer;
                  margin-right: 10px;
                  color: #61D1FC;
                }
                .chat-action-send.disabled{
                  pointer-events: none;
                  color: #ccc;
                }

              }
            }
          }
        }
        // .feed-content{
        //   $tr-duration: 10s;
        //   .feed-header{
        //     transition: margin-top $tr-duration;
        //     .feed-header-body{
        //       transition: height $tr-duration,padding-bottom $tr-duration;
        //       .feed-pic-holder{
        //         .feed-pic{
        //           transition: top $tr-duration, height $tr-duration,width $tr-duration;
        //           .pic-holder{
        //             transition: padding $tr-duration;
        //           }
        //         }
        //       }
        //       .feed-middle{
        //         transition: padding-left $tr-duration, justify-content $tr-duration;
        //         .feed-edit{
        //           // transition: opacity 1s, height 1s;
        //         }
        //         .feed-description{
        //           // transition: opacity 1s, height 1s;
        //         }
        //         .feed-admins-root{
        //           // transition: opacity 1s, height 1s;
        //         }
        //
        //       }
        //     }
        //     .feed-info{
        //       transition: opacity $tr-duration, height $tr-duration;
        //     }
        //   }
        // }
        &.collapsed{
          .feed-content{
            .feed-header{
              margin-top: 0px;
              .feed-header-body{
                padding-bottom: 0;
                height: $header-height;

                .feed-pic-holder{
                  .feed-pic{
                    width: 40px;
                    height: 40px;
                    .pic-holder{
                      padding: 2px;
                    }
                  }
                }
                .feed-middle{
                  padding-left: 10px;
                  justify-content: center;
                  .feed-edit{
                    opacity: 0;
                    height: 0;
                  }
                  .feed-description{
                    opacity: 0;
                    height: 0;
                    margin: 0;
                  }
                  .feed-admins-root{
                    opacity: 0;
                    height: 0;
                    margin: 0;
                  }

                }
              }
              .feed-info{
                opacity: 0;
                height: 0;
                margin: 0;
              }
            }
          }
        }
      }
      .feed-sidebar{
        background: white;
        flex: 1 1 33%;
        max-width: 33%;
        border-left: 1px solid #D5D3D3;
        display: flex;
        flex-direction: column;

        .header{
          padding: 0px 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .tabs {
            @include tabs;
          }
          .create-event{
            @include iconned-button(#7FDBFC, 14px);
          }
        }
        .tab-content{
          overflow-y: scroll;
          #videos{
            .col-12{
              padding: 0px 10px;
            }
            .title{
              margin-top: 20px;
              font-size: 120%;
              flex: 0 0 auto;
              font-family: $medium-font;
            }
            .searchHolder{
              @include videos-search;
            }
            .youtube-items {
              @include youtube-videos

              .youtube-item{
                @include youtube-item
              }
            }
            .chat-videos-playlist{
              @include chat-playlist
              .playlist-content{
                @include youtube-videos
                .youtube-item{
                  @include youtube-item
                }
              }
            }
          }
          #events{
            padding-bottom: 20px;
            .feed-sidebar-playing-root{
              margin-left: 10px;
              margin-right: 10px;
            }
            .events-create-root{
              @include events-create;
            }
            .events-show-root{
              display: flex;
              flex-direction: column;
              padding-top: 10px;
              .events-show-header{
                display: flex;
                flex-direction: row;
                place-items: center;
                padding-left: 10px;
                padding-right: 10px;
                .back-icon{
                  cursor: pointer;
                  flex: 0 0 auto;
                  position: absolute;
                }
                .create-label{
                  flex: 1 1 auto;
                  text-align: center;
                  font-family: $medium-font;
                }
              }
              .events-show-pic{
                margin-top: 10px;
              }
              .events-show-date-root{
                margin-top: 20px;
                margin-left: 40px;
                margin-right: 40px;
                @include events-list-item-date;
              }
              .feed-event-creator{
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                margin-left: 40px;
                margin-right: 40px;
                .profilePicWrapper{
                  width: 30px;
                  height: 30px;
                }
                .creator-name{
                  margin-left: 10px;
                  font-family: $medium-font;
                }
              }
              .feed-event-description{
                margin-top: 20px;
                margin-left: 40px;
                margin-right: 40px;
              }
              .feed-event-joiners-label{
                font-family: $medium-font;
                margin-top: 20px;
                margin-left: 10px;
                margin-right: 10px;
              }
              .feed-event-joiners-list{
                margin-left: 10px;
                margin-right: 10px;
                .edit{
                  width: 100%;
                  background: #F0F0F0;
                  border: none;
                  outline: none;
                  border-radius: 20px;
                  padding: 5px 20px;
                }
                .feed-event-member{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  border-bottom: 1px solid rgba(181, 177, 181,0.3);
                  padding-top: 10px;
                  padding-bottom: 10px;
                  .profilePicWrapper{
                    width: 40px;
                    height: 40px;
                  }
                  .member-name{
                    margin-left: 10px;
                  }
                }
              }
              .feed-event-actions{
                display: flex;
                margin-top: 20px;
                place-content: center;
                justify-content: center;
                .action-owner{
                  @include simple-button(red);
                }
                .action-joined{
                  @include multi-state-button(red,#D9D9D9);
                }
                .action-join{
                  @include iconned-button(#02E7B2, 13px);
                }
              }
            }
            .events-list-root{
              @include events-list;
              .events-list-item{
                @include events-list-item;
                .feed-event-pic{
                  margin-top: 10px;
                  margin-left: -10px;
                  margin-right: -10px;
                }
              }
            }
          }
        }
        .feed-sidebar-playing-root{
          margin-top: 10px;
          .header-label{
            display: flex;
            padding-left: 10px;
            padding-right: 10px;
            .label{
              place-self: center;
              margin-right: 10px;
              font-family: $medium-font;
            }
            .header-icon{
              flex: 0 0 auto;
              border-radius: 50%;
              box-shadow: $message-shadow;
              place-self: center;
              width: 40px;
              height: 40px;
              padding: 5px;
              .profilePicWrapper{
                width: 100%;
                height: 100%;
              }
            }
          }
          .feed-sidebar-playing-wrapper{
            margin-top: 10px;
            background: $primary-gradient;
            border-radius: 15px;
            padding: 10px;
            .feed-sidebar-playing-holder{
              background: white;
              border-radius: 15px;
              padding: 10px 15px;
              .playing-title-label{
                font-size: 80%;
                color: #606060;
              }
              .playing-title{
                margin-top: 10px;
                font-size: 90%;
                margin-bottom: 10px;
                font-family: $medium-font;
              }
              .playing-thumbnail{
                flex: 0 0 auto;
                position: relative;
                border-radius: 15px;
                .thumbnail{
                  background-position: center;
                  background-size: cover;
                  width: 100%;
                  border-radius: 10px;
                }
                .action{
                  display: flex;
                  position: absolute;
                  top: 0;
                  right: 0;
                  left: 0;
                  bottom: 0;
                  .action-join{
                    margin: auto;
                    @include iconned-button(#02E7B2, 18px)
                  }
                }
              }
              .playing-members{
                display: flex;
                margin-top: 10px;
                .playing-members-list{
                  flex: 1 1 auto;
                  display: flex;
                  flex-direction: row;
                  .playing-member-item{
                    width: 30px;
                    height: 30px;
                    flex: 0 0 auto;
                    border-radius: 50%;
                    box-shadow: $message-shadow;
                    padding: 2px;

                    .profilePicWrapper{
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
                .playing-members-views{
                  display: flex;
                  align-items: center;
                  .views-img{
                    width: 15px;
                    flex: 0 0 auto;
                    height: auto;
                  }
                  .label{
                    color: #989898;
                    font-size: 70%;
                    margin-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
    #modalEditAdmins{
      .modal-content{
        border-radius: 20px;
        border: none;
        .modal-header{
          border-bottom: none;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .back-holder{
            cursor: pointer;
            position: absolute;
            left: 0;
            padding: 20px;
          }
        }
      }
      .modal-title{
        place-self: center;
        font-size: 130%;
      }
      .modal-body{
        .modal-title{
          margin-top: 40px;
          text-align: center;
          margin-bottom: 20px;
        }
      }
      .feed-item-admins-current{
        padding-left: 20px;
        padding-right: 20px;
        .feed-item-admins-item{
          display: flex;
          padding: 15px 0px;
          flex-direction: row;
          .profilePicWrapper{
            place-self: center;
            width: 40px;
            height: 40px;
          }


          .admin-name{
            place-self: center;
            margin-left: 10px;
            font-family: $medium-font;
          }
          .admin-actions{
            display: flex;
            place-items: flex-end;
            flex: 1 1 auto;
            color: #B9B9B9;
            flex-direction: row;
            align-self: center;
            place-content: flex-end;
            .admin-action{
              justify-self: flex-end;
            }
            .admin{
              margin-right: 20px;
            }
            .remove{
              cursor: pointer;
              color: #FF8686;
              &:hover{
                color: darken(#FF8686, 30%);
              }
            }
            .owner{
              color: #B9B9B9;
            }
          }
        }

      }
      .feed-item-admins-add{
        padding-left: 20px;
        padding-right: 20px;
        .search-holder{
          padding-left: 40px;
          padding-right: 40px;
          @include videos-search(#60D3FC);
        }
        .search-result-label{
          margin-top: 20px;
          font-family: $medium-font;
        }
        .search-results{
          .user-result-item{
            display: flex;
            place-items: center;
            padding: 10px 0px;
            .profilePicWrapper{
              width: 40px;
              height: 40px;
            }
            .user-name{
              margin-left: 10px;
              flex: 1 1 auto;
              place-self: center;
            }
            .user-actions{
              .action-add{
                color: #27BDD8;
                font-family: $medium-font;
                cursor: pointer;
              }
              .action-added{
                color: #D872FF;
                font-family: $medium-font;
              }
            }
          }
        }
      }
    }
  }
}
