@import '../vars.scss';
@import 'feed-post-content.scss';
.home.group.show {
  .feed-root {    
    padding-left: 5px;
    .feed-parent {
      background: white;
      width: 100%;
      height: 100%;
      border-top-left-radius: 20px;
      display: flex;
      .feed-private-group{
        display: flex;
        flex: 1 1 auto;
        .label{
          margin: auto;
        }
      }
      .feed-content {
        flex: 1 1 67%;
        max-width: 67%;
        display: flex;
        flex-direction: column;
        position: relative;
        .back{
          width: 40px;
          height: 45px;
          display: flex;
          cursor: pointer;
          a{
            margin: auto;
          }
        }
        .feed-header{
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #D6D6D6;
          .feed-header-body{
            display: flex;
            flex-direction: row;
            margin-left: 30px;
            margin-right: 30px;
            padding-bottom: 10px;
            .feed-pic {
              flex: 0 0 auto;
              cursor: pointer;
              border-radius: 50%;
              padding: 5px;
              width: 150px;
              height: 150px;
              .pic-holder {
                width: 100%;
                height: 100%;
                display: flex;
                background: white;
                border-radius: 50%;
                box-shadow: $message-shadow;
                padding: 5px;
                .profilePicWrapper {
                  width: 100%;
                  height: 100%;
                  margin: auto;
                }
                .file-upload{
                  width: 100%;
                  height: 100%;
                  margin: 0;
                  padding: 0;
                }
              }
              &.active{
                box-shadow: $message-shadow;
                background: $primary-gradient;
                .pic-holder{
                  box-shadow: none;
                }
              }
            }
            .feed-middle {
              width: 100%;
              flex: 1 1 auto;
              display: flex;
              flex-direction: column;
              padding-left: 20px;
              .feed-edit-save{
                align-self: flex-end;
                cursor: pointer;
                color: #4D9CB4;
                font-size: 80%;
              }
              .feed-title-edit{
                background: #F5F4F4;
                border-radius: 20px;
                border: 1px solid #D1D1D1;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-right: 35px;
                input{
                  background: none;
                  border: none;
                  outline: none;
                  padding-left: 5px;
                }
              }
              .feed-description-edit{
                background: #F5F4F4;
                border-radius: 20px;
                border: 1px solid #D1D1D1;
                margin-top: 10px;
                margin-right: 35px;
                textarea{
                  width: 100%;
                  background: none;
                  border: none;
                  resize: none;
                  outline: none;
                  padding: 10px;
                  border-radius: 20px;
                  font-size: 80%;
                }
              }
              .feed-edit {
                display: flex;
                .edit-img {
                  width: 12px;
                  margin-left: auto;
                  flex: 0 0 auto;
                  height: 12px;
                  cursor: pointer;
                }
              }
              .feed-title {
                font-size: 150%;
                font-family: $medium-font;
              }
              .feed-description {
                font-size: 90%;
                margin-top: 10px;
                padding-left: 10px;
              }
              .feed-admins-root {
                display: flex;
                margin-top: 10px;
                margin-left: 10px;
                .feed-admins-edit{
                  cursor: pointer;
                  background: #5AB9FF;
                  border-radius: 20px;
                  display: grid;
                  grid-template-columns: min-content auto;
                  padding: 5px 10px;
                  margin-left: 10px;
                  flex: 0 0 auto;
                  img{
                    width: 13px;
                    margin: auto;
                  }
                  div{
                    color: white;
                    margin-left: 5px;
                    font-size: 80%;
                  }
                }
                .feed-admins-edit:hover{
                  background: #3cabfd;
                }
                .label{
                  flex: 0 0 auto;
                  margin-top: auto;
                  margin-bottom: auto;
                  font-family: $medium-font;
                  font-size: 60%;
                }
                .users{
                  flex: 1 1 auto;
                  overflow-y: scroll;
                  display: flex;
                  margin-left: 10px;
                  .feed-admin-item{
                    flex: 0 0 auto;
                    width: 25px;
                    height: 25px;
                    padding: 2px;
                    margin-right: 5px;
                    border-radius: 50%;
                    box-shadow: $message-shadow;
                    .profilePicWrapper{
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }

            }
            .feed-middle.edit{
              .feed-admins-root{
                margin-right: 35px;
              }
              .users{
                flex: 1 1 50%;
              }

            }
            .feed-info{
              flex: 1 1 30%;
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              .feed-views {
                flex: 0 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-right: 20px;
                .views-img {
                  width: 14px;
                  height: 9px;
                  flex: 0 0 auto;
                  margin-top: 6px;
                  margin-right: 5px;
                }
                .label {
                  flex: 0 0 auto;
                  color: #989898;
                  height: min-content;
                  font-size: 80%;
                }
              }
              .feed-actions{
                padding-top: 10px;
                .action-following, .action-follow-request{
                  background: #F4F4F4;
                  cursor: pointer;
                  border-radius: 20px;
                  display: flex;
                  padding: 5px 10px;
                  font-size: 80%;
                  border: 1px solid #D6D6D6;
                  color: #777778;
                  .action{
                    display: none;
                    color: white;
                  }
                }
                .action-following:hover{
                  background: #ff1818;
                  .action{
                    display: block;
                  }
                  .simple{
                    display: none;
                  }
                }
                .action-follow{
                  cursor: pointer;
                  background: #5AB9FF;
                  border-radius: 20px;
                  display: grid;
                  grid-template-columns: min-content auto;
                  padding: 5px 10px;
                  img{
                    width: 13px;
                    margin: auto;
                  }
                  div{
                    color: white;
                    margin-left: 5px;
                    font-size: 80%;
                  }
                }
                .action-follow:hover{
                  background: #3cabfd;
                }
              }
            }
          }
          .feed-header-footer{
            padding: 10px;
            .feed-watcher-items{
              display: flex;
              .feed-watcher-item{
                margin-right: 5px;
                width: 35px;
                height: 35px;
                padding: 2px;
                box-shadow: $message-shadow;
                border-radius: 50%;
                .profilePicWrapper{
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
        .feed-messages-holder{
          flex: 1 1 auto;
          padding-left: 20px;
          padding-right: 20px;
          height: 100px;
          overflow-y: auto;
          padding-bottom: 20px;
          .message-scroll-date-holder{
            width: 100%;
            opacity: 0.95;
            position: absolute;
            padding-right: 40px;
            padding-top: 20px;
            .title{
              width: max-content;
              justify-content: center;
              margin: auto;
              box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
              background: #F0EAFF;
              padding: 10px 20px;
              border-radius: 20px;
              color: #807E7E;
            }
          }
          .feed-messages-root{
            display: grid;
            grid-template-columns: auto;
            .feed-post-time{
              margin-top: 20px;
              z-index: 1;
              .messageTime{
                opacity: 0.95;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
                width: max-content;
                margin: auto;
                background: #F0EAFF;
                padding: 10px 20px;
                border-radius: 20px;
                color: #807E7E;
                text-align: center;
              }
            }
            .feed-post-item{
              display: flex;
              flex-direction: column;
              padding-top: 5px;
              padding-bottom: 5px;
              .post-content{
                width: 55%;
                @include feed-post-content;
              }
              .post-content.mine{
                align-self: flex-end;
              }
              .post-comments{
                width: 55%;
                font-size: 90%;
                padding-top: 10px;
                padding-left: 5px;
                .no-comments{
                  text-align: center;
                  color: #ACACAC;
                }
                .comments-header{
                  display: flex;
                  padding-bottom: 5px;
                }
                .comments, .likes {
                  display: flex;
                  .label {
                    font-family: $medium-font;
                  }
                  .value {
                    margin-left: 5px;
                    opacity: 0.59;
                  }
                }
                .likes{
                  margin-left: 10px;
                }
                .new-comment{
                  padding-top: 10px;
                  padding-bottom: 20px;
                  .input{
                    width: 100%;
                    border: none;
                    background: #F0F0F0;
                    border-radius: 15px;
                    padding-left: 20px;
                    padding-right: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    outline: none;
                  }
                }
                .post-comment-item{
                  border-top: 1px solid #7070704a;
                  padding-top: 5px;
                  padding-bottom: 10px;
                  .header {
                    display: flex;
                    flex-direction: row;
                    .comment-author-pic{
                      .profilePicWrapper{
                        width: 20px;
                        height: 20px;
                      }
                    }
                    .comment-author-name{
                      opacity: 0.59;
                      margin-left: 10px;
                      flex: 1 1 auto;
                    }
                    .comment-like{
                      place-self: center;
                      justify-self: flex-end;
                      img{
                        cursor: pointer;
                        width: 15px;
                      }
                    }
                  }
                  .content{
                    font-size: 90%;
                    padding-left: 35px;
                  }
                }

              }
              .post-comments.mine{
                align-self: flex-end;
              }
            }
          }
        }

        .feed-uploads{
          border-top: 1px solid #E6E6E6;
          display: flex;
          padding: 5px 10px;
          flex-wrap: wrap;
          button:focus {
            outline: none;
          }
          button{
            margin: auto;
          }
          .chat-upload-item{
            max-width: 300px;
            margin-bottom: 5px;
            .chat-upload{
                height: 50px;
                margin-right: 10px;
                grid-column-gap: 10px;
                border-radius: 10px;
                padding-left: 10px;
                padding-right: 10px;
                display: grid;
                grid-template-columns: min-content auto min-content;
            }
            .chat-upload-state{
              font-size: 70%;

            }
            .chat-upload-loading, .chat-upload-details {
              margin: auto;
            }
          }
          .chat-upload-item.new,.chat-upload-item.loading{
            .chat-upload{
              color: #1e2430;
              background: #c7ccd8;
            }
          }
          .chat-upload-item.new,.chat-upload-item.completed{
            .chat-upload{
              background: #22a061;
              color: white;
            }
          }
        }
        .feed-post {
          border-top: 1px solid #E6E6E6;
          display: flex;
          grid-template-columns: minmax(0, auto) 50px 50px;
          flex: 0 0 auto;
          min-height: 50px;
          .emoji-picker-holder{
            display: flex;
            .show-emoji {
              margin: auto;
              margin-left: 5px;
            }
            img{
              cursor: pointer;
              flex: 0 0 auto;
              width: 31px;
              height: 31px;
            }
          }
          .ember-content-editable{
            margin: auto;
            max-height: 150px;
            overflow-y: auto;
            flex: 1 1 auto;
            width: 100%;
            outline: none;
            font-size: 90%;
            padding: 5px 10px 5px;
          }
          .ember-content-editable:empty{
            color: #a9a9a9;
          }
          .ember-content-editable:focus {
            outline: none;
          }
          .file-upload{
            margin: auto;
            width: 60px;
            img{
              cursor: pointer;
              flex: 0 0 auto;
              width: 31px;
              height: 31px;
            }
          }
          .imgHolder{
            margin: auto;
            width: 50px;
          }
          .chat-action-send{
            cursor: pointer;
            margin-right: 10px;
            color: #3399FF;
          }
          .chat-action-send.disabled{
            pointer-events: none;
            color: #ccc;
          }

        }
        .feed-post.has-uploads{
          border-top: none;
        }
      }
      .feed-sidebar{
        flex: 1 1 33%;
        max-width: 33%;
        border-left: 1px solid #D5D3D3;
        display: flex;
        flex-direction: column;

        .header{
          padding: 0px 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .tabs {
            .nav-item {
              cursor: pointer;
            }

            .nav-link {
              color: #A2A2A2;
              background: none;
              padding-bottom: 0;
              border-radius: 0;
            }

            .nav-link.active {
              background: none;

              color: #27BDD8;
              border-bottom: 4px solid #27BDD8;
              padding-bottom: 0;
              border-radius: 0;
            }
          }
          .create-event{
            @include iconned-button(#7FDBFC, 14px);
          }
        }
        .tab-content{
          overflow-y: scroll;
          #videos{
            .col-12{
              padding: 0px 10px;
            }
            .title{
              margin-top: 20px;
              font-size: 120%;
              flex: 0 0 auto;
              font-family: $medium-font;
            }
            .searchHolder{
              @include videos-search;
            }
            .youtube-items {
              @include youtube-videos

              .youtube-item{
                @include youtube-item
              }
            }
            .chat-videos-playlist{
              @include chat-playlist
              .playlist-content{
                @include youtube-videos
                .youtube-item{
                  @include youtube-item
                }
              }
            }
          }
          #events{
            .feed-sidebar-playing-root{
              margin-left: 10px;
              margin-right: 10px;
            }
            .events-create-root{
              @include events-create;
            }
            .events-show-root{
              display: flex;
              flex-direction: column;
              padding-top: 10px;
              .events-show-header{
                display: flex;
                flex-direction: row;
                place-items: center;
                padding-left: 10px;
                padding-right: 10px;
                .back-icon{
                  cursor: pointer;
                  flex: 0 0 auto;
                  position: absolute;
                }
                .create-label{
                  flex: 1 1 auto;
                  text-align: center;
                  font-family: $medium-font;
                }
              }
              .events-show-date-root{
                margin-top: 20px;
                margin-left: 40px;
                margin-right: 40px;
                @include events-list-item-date;
              }
              .feed-event-creator{
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                margin-left: 40px;
                margin-right: 40px;
                .profilePicWrapper{
                  width: 30px;
                  height: 30px;
                }
                .creator-name{
                  margin-left: 10px;
                  font-family: $medium-font;
                }
              }
              .feed-event-description{
                margin-top: 20px;
                margin-left: 40px;
                margin-right: 40px;
              }
              .feed-event-joiners-label{
                font-family: $medium-font;
                margin-top: 20px;
                margin-left: 10px;
                margin-right: 10px;
              }
              .feed-event-joiners-list{
                margin-left: 10px;
                margin-right: 10px;
                .edit{
                  width: 100%;
                  background: #F0F0F0;
                  border: none;
                  outline: none;
                  border-radius: 20px;
                  padding: 5px 20px;
                }
                .feed-event-member{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  border-bottom: 1px solid rgba(181, 177, 181,0.3);
                  padding-top: 10px;
                  padding-bottom: 10px;
                  .profilePicWrapper{
                    width: 40px;
                    height: 40px;
                  }
                  .member-name{
                    margin-left: 10px;
                  }
                }
              }
              .feed-event-actions{
                display: flex;
                margin-top: 20px;
                place-content: center;
                .action-owner{
                  @include simple-button(red);
                }
                .action-joined{
                  @include multi-state-button(red,#D9D9D9);
                }
                .action-join{
                  @include iconned-button(#02E7B2, 13px);
                }
              }
            }
            .events-list-root{
              @include events-list;
              .events-list-item{
                @include events-list-item;
              }
            }
          }
        }
        .feed-sidebar-playing-root{
          margin-top: 10px;
          .header-label{
            display: flex;
            padding-left: 10px;
            padding-right: 10px;
            .label{
              place-self: center;
              margin-right: 10px;
              font-family: $medium-font;
            }
            .header-icon{
              flex: 0 0 auto;
              border-radius: 50%;
              box-shadow: $message-shadow;
              place-self: center;
              width: 40px;
              height: 40px;
              padding: 5px;
              .profilePicWrapper{
                width: 100%;
                height: 100%;
              }
            }
          }
          .feed-sidebar-playing-wrapper{
            margin-top: 10px;
            background: $primary-gradient;
            border-radius: 15px;
            padding: 10px;
            .feed-sidebar-playing-holder{
              background: white;
              border-radius: 15px;
              padding: 10px 15px;
              .playing-title-label{
                font-size: 80%;
                color: #606060;
              }
              .playing-title{
                margin-top: 10px;
                font-size: 90%;
                margin-bottom: 10px;
                font-family: $medium-font;
              }
              .playing-thumbnail{
                flex: 0 0 auto;
                position: relative;
                border-radius: 15px;
                .thumbnail{
                  background-position: center;
                  background-size: cover;
                  width: 100%;
                  border-radius: 10px;
                }
                .action{
                  display: flex;
                  position: absolute;
                  top: 0;
                  right: 0;
                  left: 0;
                  bottom: 0;
                  .action-join{
                    margin: auto;
                    @include iconned-button(#02E7B2, 18px)
                  }
                }
              }
              .playing-members{
                display: flex;
                margin-top: 10px;
                .playing-members-list{
                  flex: 1 1 auto;
                  display: flex;
                  flex-direction: row;
                  .playing-member-item{
                    width: 30px;
                    height: 30px;
                    flex: 0 0 auto;
                    border-radius: 50%;
                    box-shadow: $message-shadow;
                    padding: 2px;

                    .profilePicWrapper{
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
                .playing-members-views{
                  display: flex;
                  align-items: center;
                  .views-img{
                    width: 15px;
                    flex: 0 0 auto;
                    height: auto;
                  }
                  .label{
                    color: #989898;
                    font-size: 70%;
                    margin-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
    #modalEditAdmins{
      .modal-content{
        border-radius: 20px;
        border: none;
        .modal-header{
          border-bottom: none;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .back-holder{
            cursor: pointer;
            position: absolute;
            left: 0;
            padding: 20px;
          }
        }
      }
      .modal-title{
        place-self: center;
        font-size: 130%;
      }
      .modal-body{
        .modal-title{
          margin-top: 40px;
          text-align: center;
          margin-bottom: 20px;
        }
      }
      .feed-item-admins-current{
        padding-left: 20px;
        padding-right: 20px;
        .feed-item-admins-item{
          display: flex;
          padding: 15px 0px;
          flex-direction: row;
          .profilePicWrapper{
            place-self: center;
            width: 40px;
            height: 40px;
          }


          .admin-name{
            place-self: center;
            margin-left: 10px;
            font-family: $medium-font;
          }
          .admin-actions{
            display: flex;
            place-items: flex-end;
            flex: 1 1 auto;
            color: #B9B9B9;
            flex-direction: row;
            align-self: center;
            place-content: flex-end;
            .admin-action{
              justify-self: flex-end;
            }
            .admin{
              margin-right: 20px;
            }
            .remove{
              cursor: pointer;
              color: #FF8686;
              &:hover{
                color: darken(#FF8686, 30%);
              }
            }
            .owner{
              color: #B9B9B9;
            }
          }
        }

      }
      .feed-item-admins-add{
        padding-left: 20px;
        padding-right: 20px;
        .search-holder{
          padding-left: 40px;
          padding-right: 40px;
          @include videos-search(#60D3FC);
        }
        .search-result-label{
          margin-top: 20px;
          font-family: $medium-font;
        }
        .search-results{
          .user-result-item{
            display: flex;
            place-items: center;
            padding: 10px 0px;
            .profilePicWrapper{
              width: 40px;
              height: 40px;
            }
            .user-name{
              margin-left: 10px;
              flex: 1 1 auto;
              place-self: center;
            }
            .user-actions{
              .action-add{
                color: #27BDD8;
                font-family: $medium-font;
                cursor: pointer;
              }
              .action-added{
                color: #D872FF;
                font-family: $medium-font;
              }
            }
          }
        }
      }
    }
  }
}
