@import '../component-styles/watcher-item.scss';

@mixin chat-message-list{
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  #youtubePlaceHolder {
    width: 100%;
    height: 360px;
    display: none;
    background: #000;
  }

  .youtube-music-holder {
    display: none;
    position: relative;
    z-index: 20;

    .slider {
      position: absolute;
      bottom: 0;
      grid-column-start: 1;
      grid-column-end: 6;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 4px;
      background: #C330FC;
      outline: none;
      margin-top: auto;
      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        border-radius: 50%;
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background: #C330FC; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
      &::-moz-range-thumb {
        border-radius: 50%;
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background: #C330FC; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
    }

    .music-player {
      background: #a47df330;
      padding-top: 5px;
      box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.16);
      padding-bottom: 5px;
      display: grid;
      grid-template-columns: auto 50% min-content;

      .watchers {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;

        .profilePicWrapper {
          width: 30px;
          height: 30px;
        }
      }

      .details {
        display: flex;

        .thumbnail {
          height: 50px;
          border-radius: $video-round-corner;
        }

        .info {
          overflow-wrap: inherit;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-left: 10px;

          .song-artist {
            overflow-wrap: inherit;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 80%;
          }

          .song-name {
            overflow-wrap: inherit;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      .controls {
        margin: auto 20px auto auto;
        display: flex;
        place-items: center;
        align-items: center;
        flex: 1 0 auto;
        .pause-btn, .play-btn{
          display: none;
        }
        img {
          width: 30px;
          margin: 0px 10px;
          cursor: pointer;
        }
        .mute{
          img{
            width: 25px;
          }
          .off{
            display: none;
          }
          &.active{
            .off{
              display: block;
            }
            .on{
              display: none;
            }
          }
        }
        .collapse-video{
          cursor: pointer;
          flex: 0 0 auto;
          align-items: center;
          padding: 0px 10px;
          align-self: center;
          margin-left: 10px;
          img{
            width: 20px;
            margin: 0;
          }
          .label{
            font-size: 60%;
            color: black;
            text-align: center;
          }
        }
      }
    }
    &[play-state="1"]{//playing
      .controls {
        .pause-btn{
          display: flex;
        }
      }
    }
    &[play-state="2"]{//paused
      .controls {
        .play-btn{
          display: flex;
        }
      }
      // .pause{
        // display: flex;
      // }
    }
  }

  #youtubeHolder {
    height: 360px;
    display: none;
    width: 100%;
    background: #000;
    position: relative;

    #ytplayer {
      width: 100%;
      position: absolute;
    }

    .controlsOverlay {
      z-index: 2;
      width: 100%;
      height: 360px;
      display: none;
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
    }

    .controlsHolder {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;

      .switch-holder {
        align-self: flex-end;
        margin-top: 10px;
        margin-left: 10px;
        flex: 0 0 auto;
        display: none;
        flex-direction: row;
        margin-right: 10px;
        .label {
          margin-right: 10px;
          color: white;
          margin-top: auto;
          margin-bottom: auto;
        }

        /* The switch - the box around the slider */
        .switch {

          position: relative;
          display: inline-block;
          width: 60px;
          height: 20px;
          margin-top: auto;
          margin-bottom: auto;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .switcher {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transition: .4s;
          transition: .4s;
          background: #919191;
          height: 20px;
        }

        .switcher:before {
          position: absolute;
          content: "";
          border-radius: 50%;
          height: 15px;
          width: 15px;
          bottom: 2.5px;
          left: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .switcher {
          background-color: #2196F3;
        }

        input:focus + .switcher {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .switcher:before {
          -webkit-transform: translateX(37px);
          -ms-transform: translateX(37px);
          transform: translateX(37px);
        }

        /* Rounded sliders */
        .switcher.round {
          border-radius: 34px;
        }

        .switcher.round:before {
          border-radius: 50%;
        }
      }
      .control {
        flex: 1 0 auto;
        display: flex;

        .play, .pause {
          cursor: pointer;
          display: none;
          margin: auto;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .overlay-footer{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        padding-right: 10px;
        .control{
          flex: 0 0 auto;
          align-items: center;
          padding: 0px 10px;
          align-self: center;
          .footer-play, .footer-pause{
            cursor: pointer;
            display: flex;
            display: none;
            align-items: center;
            img{
              height: auto;
              width: 20px;
            }
          }

        }
        .video-title {
          color: white;
          margin-left: 10px;
          flex: 1 1 auto;
          align-self: center;
          display: flex;
          overflow-wrap: break-word;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .mute{
          cursor: pointer;
          flex: 0 0 auto;
          display: none;
          align-items: center;
          padding: 0px 10px;
          align-self: center;
          img{
            width: 20px;
          }
          .off{
            display: none;
          }
          &.active{
            .off{
              display: block;
            }
            .on{
              display: none;
            }
          }
        }
        .full-off{
          display: none;
          cursor: pointer;
          flex: 0 0 auto;
          align-items: center;
          padding: 0px 10px;
          align-self: center;
          margin-left: 10px;
          img{
            width: 20px;
            height: 20px;
          }
        }
        .full{
          cursor: pointer;
          flex: 0 0 auto;
          display: none;
          align-items: center;
          padding: 0px 10px;
          align-self: center;
          margin-left: 10px;
          img{
            width: 20px;
            height: 20px;
          }
        }

      }
      .collapse-video{
        cursor: pointer;
        flex: 0 0 auto;
        display: none;
        align-items: center;
        padding: 0px 10px;
        align-self: flex-end;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        img{
          width: 20px;
        }
        .label{
          font-size: 60%;
          color: white;
          text-align: center;
        }
      }
      .close {
        cursor: pointer;
        grid-column-start: 5;
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: 20px;
      }


      .slider {
        cursor: pointer;
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 6;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 4px;
        background: #C330FC;
        outline: none;
        margin-top: auto;
        &::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          border-radius: 25px;
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          background: #C330FC; /* Green background */
          cursor: pointer; /* Cursor on hover */
        }

        &::-moz-range-thumb {
          border-radius: 25px;
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          background: #C330FC; /* Green background */
          cursor: pointer; /* Cursor on hover */
        }
      }
    }
    .controlsOverlay[play-state="1"]{//playing
      .pause, .mute,.full,.collapse-video,.switch-holder{
        display: flex;
      }
    }
    .controlsOverlay[play-state="2"]{//paused
      .play, .mute,.full,.collapse-video,.switch-holder{
        display: flex;
      }
      // .pause{
        // display: flex;
      // }
    }
    .controlsOverlay[play-state="1"].fullscreen-video{
      .overlay-footer{
        .control{
          .footer-pause{
            display: flex;
          }
        }
      }
    }
    .controlsOverlay[play-state="2"].fullscreen-video{
      .overlay-footer{
        .control{
          .footer-play{
            display: flex;
          }
        }
      }
    }
    .overlay {
      width: 100%;
      height: 360px;
      position: absolute;
    }

    &.active{
      overflow: hidden;
      #ytplayer {
        filter: blur(15px);
      }

      .controlsHolder {
        display: none;
        pointer-events: none;
      }

      .video-title, .switch-holder, .close,.overlay-footer, .control, input.slider {
        display: none !important;
      }
    }
  }


  .chat-members {
    display: flex;
    position: absolute;
    top: 60px;
    left: 10px;

    .member {
      position: relative;

      .profile-back {
        position: absolute;
        top: -2px;
        background: #fff;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        left: -2px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
      }
    }

    .member:not(:first-child) {
      margin-left: -10px;
    }

    .profilePicWrapper {
      z-index: 1;
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }

  .titleHolder {
    flex: 0 0 auto;
    height: $header-height;
    display: flex;
    position: relative;
    border-bottom: 1px solid #E6E6E6;
    .back{
      width: 40px;
      height: 45px;
      display: flex;
      position: absolute;
      place-items: center;
      cursor: pointer;
      a{
        margin: auto;
      }
      img{
        margin: auto;

      }
    }
    .title {
      cursor: pointer;
      vertical-align: middle;
      display: flex;
      margin: auto;
    }

    .title-holder {
      height: 44px;
      margin: auto auto auto 10px;
      display: grid;
    }
    .title-holder-compose{
      display: flex;
      height: 44px;
      margin: auto;
    }

    .single-name, .compose-name {
      margin-top: auto;
      margin-bottom: auto;
    }
    .name{
      margin-left: 10px;
      margin-top: auto;
      margin-bottom: auto;
    }

    .online {
      color: #A5A5A5;
      margin-top: -5px;
      width: 100%;
      font-size: 75%;
      display: block;
    }

    .profilePicWrapper {
      width: 30px;
      height: 30px;
      margin: auto;
    }

    .divider {

    }
  }

  .searchHolder {
    flex: 0 0 auto;
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    border-bottom: 1px solid #E6E6E6;

    .row {
      margin-top: auto;
      margin-bottom: auto;
    }

    .compose-row {
      .error-tip {
        right: auto;
        margin-top: 3px;
        left: 50%;
      }
    }

    .who {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 10px;
    }

    .compose-search {
      display: flex;
      padding-top: 5px;

      .twitter-typeahead {
        margin-bottom: 5px;
        flex: 1 1 auto;
      }

      .twitter-typeahead input:focus {
        outline: none;
        box-shadow: none;
      }

      .twitter-typeahead:nth-child(3) {
        position: relative;
        display: inline-block;
        flex: 1 0 25%;
      }

      .chips-holder {
        display: block;
        flex-wrap: wrap;
        width: 100%;
        overflow: unset;
        padding-left: 10px;
        flex: 0 0 auto;

        .chips-wrapper {
          display: flex;
          flex-wrap: wrap;

          .chip {
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: pointer;
            margin-right: 5px;
            display: grid;
            grid-template-columns: min-content auto;
            background: $primary-gradient;
            border-radius: 10px;
            padding: 5px;
            color: white;
            grid-column-gap: 5px;

            .profilePicWrapper {
              width: 20px;
              height: 20px;
              margin: auto;
            }
          }

          .chip.selected {
            background: #87B7FA;
          }
        }
      }

      .tt-menu {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.16);
        padding: 10px;
        width: max-content;

        .suggestion-item {
          cursor: pointer;
          display: grid;
          grid-template-columns: min-content auto;
          grid-column-gap: 10px;
          margin-bottom: 5px;

          .profilePicWrapper {
            width: 30px;
            height: 30px;
          }

          .name {
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }

      input {
        margin-left: 10px;
        background: none;
        border: none;
      }

      input:focus {
        outline: none;
      }
    }
  }
  .message-uploads{
    border-top: 1px solid #E6E6E6;
    display: flex;
    padding: 5px 10px;
    flex-wrap: wrap;
    button:focus {
      outline: none;
    }
    button{
      margin: auto;
    }
    .chat-upload-item{
      max-width: 300px;
      margin-bottom: 5px;
      .chat-upload{
          height: 50px;
          margin-right: 10px;
          grid-column-gap: 10px;
          border-radius: 10px;
          padding-left: 10px;
          padding-right: 10px;
          display: grid;
          grid-template-columns: min-content auto min-content;
      }
      .chat-upload-state{
        font-size: 70%;

      }
      .chat-upload-loading, .chat-upload-details {
        margin: auto;
      }
    }
    .chat-upload-item.new,.chat-upload-item.loading{
      .chat-upload{
        color: #1e2430;
        background: #c7ccd8;
      }
    }
    .chat-upload-item.new,.chat-upload-item.completed{
      .chat-upload{
        background: #22a061;
        color: white;
      }
    }
  }
  .message-uploads.has-in-reply{
    border-top: none;
  }
  $sidebar-width: 125px;
  .messages-holder-full{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .messages-holder-content{
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      position: relative;
      .message-scroll-date-holder{
        width: 100%;
        display: flex;
        opacity: 0.95;
        position: absolute;
        padding-top: 30px;

        .title{
          width: max-content;
          justify-content: center;
          margin: auto;
          box-shadow: $message-shadow;
          background: #F0EAFF;
          padding: 5px 10px;
          font-size: 80%;
          border-radius: 20px;
          color: #807E7E;
        }
      }
      .messagesHolder {
        flex: 1 1 auto;
        padding-left: 20px;
        padding-right: 20px;
        height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 20px;
        .messagesWrappper {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding-bottom: 10px;
          flex: 1 1 auto;
          .typing-indicators {
            margin-top: 20px;

            .indicator {
              animation: slideup 2s;
              display: grid;
              grid-template-columns: min-content min-content;

              .profilePicWrapper {
                width: 25px;
                height: 25px;
              }

              .typing-icon {
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        .chat-message-time-item{
          margin-top: 30px;
          margin-bottom: 30px;
          z-index: 1;
        }




        .message-time-wrapper {
          place-items: center;
          display: flex;
          opacity: 0.95;
          place-content: center;
          flex-direction: column;
          align-content: center;
          margin: auto;
          text-align: center;
          .message-time{
            margin: auto;
            background: #F0EAFF;
            box-shadow: $message-shadow;
            padding: 5px 10px;
            font-size: 80%;
            border-radius: 20px;
            color: #807E7E;
          }
        }
        @-webkit-keyframes blinks-animation {
          0%, 49% {
            background: rgba(99, 99, 99, 0.11);
            border-radius: 10px;
          }
          50%, 100% {
            background-color: none;
          }
        }
        .messageHolder {
          display: flex;
          position: relative;
          width: 100%;
          &.sender-space{
            margin-top: 30px;
          }
          &:hover{
            .reply-holder{
              visibility: visible;
              display: inline-block;
            }
          }

          .message-item-attachments {
            display: flex;
            flex-direction: column;
            .message-item-attachment {
              align-self: flex-end;
            }
          }
          .message-attachment-holder {
            display: flex;
            justify-content: end;
            justify-self: end;
            .message-attachment-link {
              display: block;
              cursor: pointer;
            }
            .message-attachment-wrapper {
              margin-top: 5px;
              margin-bottom: 5px;
              background: #dedede;
              border-radius: 10px;
              width: 300px;
              display: flex;
              padding: 5px;
              display: flex;
              margin-right: 10px;
              margin-left: 10px;
            }
            .message-attachment-name{
                margin: auto;
                overflow-wrap: break-word;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .message-attachment-icon {
              img {
                width: 40px;
              }
            }
          }
          .video-request-holder{
            width: max-content;
            background: #f3f2f2;
            border-radius: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            box-shadow: $message-shadow;
            .youtube-item {
              background: white;
              border-radius: 10px;
              max-width: 200px;
              cursor: pointer;
              margin: 5px;
              padding: 5px;
              display: grid;
              grid-template-rows: max-content auto max-content max-content;
              grid-row-gap: 2px;

              .title-holder {
                padding-right: 10px;
                padding-top: 4px;
                padding-bottom: 4px;
              }
              .videoTitle {
                font-size: 80%;
                font-family: $medium-font;
                margin-bottom: 0;
                //margin-right: 10px;
                //font-family: unset;
                //font-weight: 600;
              }

              .channel-title, .channel-desc {
                font-size: 65%;
                color: #696969;
              }


              .thumbnail {
                background-position: center;
                background-size: cover;
                width: 100%;
                border-radius: $video-round-corner;
              }
            }
          }
          .video-request-holder.active:hover{
            background: #4a53ff;
          }
          .message-text-author {
            font-size: 90%;
            font-family: $medium-font;
            cursor: pointer;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 5px;
          }
          > .profilePicWrapper {
            flex: 0 0 auto;
            margin-right: 10px;
            display: flex;
            width: 25px;
            height: 25px;
            margin-top: auto;
          }
          .message-text-holder{
            display: flex;
            flex: 1 1 75%;
            max-width: 75%;
            .in-reply-to-message{
              cursor: pointer;
              margin-left: 10px;
              margin-right: 10px;
              margin-top: 10px;
              padding-left: 5px;
              padding-right: 5px;
              color: #C1C1C1;
              font-size: 95%;
              margin-top: 5px;
              margin-bottom: 5px;
              display: flex;
              flex-direction: row;
              .line{
                background: #C1C1C1;
                border-radius: 4px;
                width: 4px;
                flex: 0 0 auto;
                margin-right: 10px;
              }
              .reply-author{
                cursor:pointer;
                font-family: $medium-font;
                margin-bottom: 5px;
              }
            }
          }
          .message-text {

            width: fit-content;
            background: #F4F4F4;
            font-size: 90%;
            border-radius: $message-border-radius;
            box-shadow: $message-shadow;
            display: inline-block;
            margin-top: 2px;
            .text {
              word-break: break-all;
              word-wrap: break-all;
              padding-left: 15px;
              padding-right: 15px;
              padding-top: 5px;
              padding-bottom: 5px;
              .emojione{
                height: 20px;
                margin-top: -1px;
              }
            }
          }
          .message-text.multiple-first{
            border-bottom-left-radius: 5px;
          }
          .message-text.multiple-middle{
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
          }
          .message-text.single{

          }
          .message-text.multiple-last{
            border-top-left-radius: 5px;
          }

          .reply-holder{
            visibility: hidden;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
            cursor: pointer;
            img{
              width: 18px;
              height: 18px;
            }
            img:hover{
              filter: invert(1);
            }
          }
          .sent-message{
            background: $primary-gradient;
            padding: 3px;
            display: flex;
            width: 15px;
            height: 15px;
            right: -17px;
            bottom: 0;
            text-align: right;
            grid-column-start: 2;
            position: absolute;
            border-radius: 50%;
            .sent-message-inside{
              margin: auto;
              width: 100%;
              height: 100%;
            }
          }
          .local-message{
            background: $primary-gradient;
            padding: 2px;
            display: flex;
            width: 15px;
            height: 15px;
            right: -17px;
            bottom: 0;
            text-align: right;
            grid-column-start: 2;
            position: absolute;
            border-radius: 50%;
            .local-message-inside{
              background: white;
              margin: auto;
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          .last-seen {
            text-align: right;
            grid-column-start: 2;
            position: absolute;
            right: -17px;
            bottom: 0;
            .profilePicWrapper {
              width: 15px;
              height: 15px;
              text-align: right;
              float: right;
              margin-top: 5px;

              .profilePic {
                display: block;
              }
            }
          }

          .message-video-request {
            background: white;
            border-radius: 20px;
            box-shadow: $message-shadow;
            display: grid;
            width: 100%;
            margin-top: 10px;
            padding: 5px 10px;
            grid-template-rows: min-content 100px 0px;
            grid-template-columns: min-content auto;

            .title {
              grid-column-start: 1;
              grid-column-end: 10;
            }

            .thumbnailHolder > img {
              height: 100px;
              border-radius: $video-round-corner;
            }

            .channel {
              margin-top: auto;
              margin-bottom: auto;
              margin-left: 20px;
            }
          }

          .message-img {
            cursor: pointer;
            padding: 10px;

            .img-fluid {
              border-radius: $message-border-radius;
              background-size: contain;
              height: 200px;
              &.loaded{
                height: auto;
              }
            }
          }

          .message-video {
            cursor: pointer;
            grid-column-start: 2;
            width: auto;
            position: relative;
            height: 200px;
            border-radius: $message-border-radius;
            display: grid;

            .video-holder {
              width: min-content;
              border-radius: $message-border-radius;
              overflow: hidden;
              box-shadow: $message-shadow;
              video{
                border-radius: $message-border-radius;
              }

            }

            video {
              height: 200px;
              margin-left: auto;
            }
          }
          &.mine{
            place-content: flex-end;
            justify-content: flex-end;
            .video-request-holder{
              justify-self: end;
            }
            .message-attachment-holder {
              .message-attachment-wrapper {
                background: #1486f9;
                .message-attachment-name{
                  color: white;
                }
              }
            }
            .message-video {
              justify-content: end;
              justify-self: end;

              .video-holder {
                margin-left: auto;
              }
            }

            > .profilePicWrapper {
              display: none;
            }

            .message-text-holder{
                display: flex;
                place-content: flex-end;
                justify-content: flex-end;
                justify-self: end;

                .in-reply-to-message{

                  color: #DBEDFF;
                  .line{
                    background: #DBEDFF;
                  }
                  .reply-author{
                    cursor:pointer;
                    margin-bottom: 5px;
                    font-family: $medium-font;
                  }
                }
            }
            .reply-holder{
                visibility: hidden;
                margin-right: 10px;
            }
            .message-text {
              background: #3399FF;
              display: inline-block;
              display: flex;
              flex-direction: column;
              place-content: center;
              .text {
                color: white;
                word-break: break-all;
                word-wrap: break-all;
              }
              &.multiple-first{
                border-bottom-left-radius: $message-border-radius;
                border-bottom-right-radius: 5px;
              }
              &.multiple-middle{
                border-bottom-left-radius: $message-border-radius;
                border-top-left-radius: $message-border-radius;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                margin-top: 2px;
              }
              &.multiple-last{
                border-top-left-radius: $message-border-radius;
                border-top-right-radius: 5px;
                margin-top: 2px;
              }
            }


            .message-img {
              grid-column-start: 2;
              justify-self: end;
            }
          }
          &.blinks{
            -webkit-animation: blinks-animation 1s infinite;  /* Safari 4+ */
            -moz-animation: blinks-animation 1s infinite;  /* Fx 5+ */
            -o-animation: blinks-animation 1s infinite;  /* Opera 12+ */
            animation: blinks-animation 1s infinite;  /* IE 10+, Fx 29+ */
          }
        }

        .message-video-request.clickable {
          cursor: pointer;

          .channel {
            color: #4573EF;
          }
        }
        .messageHolder.mine:hover{
          .reply-holder{
            cursor: pointer;
            display: inline-block;
            visibility: visible;
          }
        }
      }
      .in-reply-to{
        display: grid;
        grid-template-columns: auto min-content;
        grid-template-rows: min-content min-content;
        border-top: 1px solid #E6E6E6;
        padding-bottom: 5px;
        padding-top: 5px;
        .reply-name {
          margin-left: 10px;
          font-size: 80%;
        }
        .reply-text {
          grid-row-start: 2;
          margin-left: 10px;
          color: #969494;
          font-size: 80%;
          border-left: 4px solid #969494;
          padding-left: 5px;
        }
        .reply-close {
          grid-column-start: 2;
          grid-row-start: 1;
          grid-row-end: 3;
          margin: auto;
          cursor: pointer;
          img{
            width: 23px;
            height: 23px;
            margin-right: 20px;
          }
        }
        &.fullscreen{
          border-top: none;
          color: white;
          .reply-text{
            border-left-color: white ;
            color: white;
          }
          .reply-close{
            filter: invert(1);
          }
        }
      }
      //Loading chat message
      .chat-message-loading{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 5px;
        padding-bottom: 5px;
        .loading-wrapper {
          display: flex;
          width: 200px;
          height: 100px;
          background: #F0F0F0;
          border-radius: 10px;
          box-shadow: $message-shadow;
          .lds-ripple .loading-view{
            margin: auto;
          }
        }
      }

      .message-share-video-holder{
        padding-bottom: 15px;
        padding-top: 15px;
        grid-column-start: 1;
        grid-column-end: 3;
        place-content: center;
        width: 100%;
        display: flex;
        .message-share-video-title{
          text-decoration: underline;
          cursor: pointer;
          box-shadow: $message-shadow;
          overflow-wrap: break-word;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          background: #D9F6FF;
          padding: 5px 10px;
          border-radius: 10px;
          color: #00A2D9;
          max-width: 80%;
          font-size: 90%;
        }
        .message-share-video-title:hover{
          background: #75ddfd;
        }
      }
      .newMessageHolder {
        border-top: 1px solid #E6E6E6;
        display: flex;
        grid-template-columns: minmax(0, auto) 50px 50px;
        flex: 0 0 auto;
        min-height: 50px;
        .chat-action-send{
          cursor: pointer;
          margin-right: 10px;
          color: #3399FF;
        }
        .chat-action-send:hover{
          color: #0078f1;
        }
        .chat-action-send.disabled{
          pointer-events:none;
          color: #ccc;
        }
        .emoji-picker-holder {
          display: flex;
        }
        .show-emoji{
          margin: auto;
          margin-left: 10px;
          width: 25px;
          height: 25px;
        }
        .messageContent:focus {
          outline: none;

        }

        .messageContent:empty:not(:focus):before {
          content: attr(placeholder);
          color: grey;
        }

        .messageContent {
          margin: auto;
          max-height: 150px;
          overflow-y: auto;
          flex: 1 1 auto;
          width: 100%;


          outline: none;
          font-size: 90%;
          padding: 5px 10px 5px;
          br{
            display: none;
          }
          br.leave{
            display: block;
          }
          .emojione{
            margin-top: -1px;
            height: auto;
            width: 20px;
          }

        }

        textarea {
          resize: none;
          background: none;
          border: none;
          padding-left: 20px;
        }

        textarea:focus {
          background: none;
          outline: none;
        }

        .file-upload{
          cursor: pointer;
          width: 30px;
          height: 30px;
          display: flex;
          place-content: center;
          margin: auto;
          box-shadow: $message-shadow;
          flex: 0 0 auto;
          background: #F2F2F2;
          border-radius: 50%;
          padding: 7px;
          margin-right: 10px;
          &:hover{
            background: darken(#F2F2F2, 30%);
          }
          img{
            cursor: pointer;
            flex: 0 0 auto;
            width: 100%;
            height: 100%;
          }
        }

        .imgHolder {
          margin: auto;
          width: 50px;
        }

        img {
          cursor: pointer;
          flex: 0 0 auto;
          width: 31px;
          height: 31px;
        }
        img.hovered:hover{
          filter: invert(1);
        }
      }
      .newMessageHolder.has-in-reply{
        border-top: none;
      }
      .newMessageHolder.has-uploads{
        border-top: none;
      }
    }
    &.fullscreen{
      z-index: 200;
      top: 0;
      position: fixed;
      right: 0;
      width: 35.6%;
      display: flex;
      flex-direction: row;
      bottom: 0px;
      height: 100%;
      padding-bottom: 15px;
      pointer-events: none;
      flex-wrap: nowrap;
      .messages-holder-content{
        background: rgba(0, 0, 0, 0.5);
        border-bottom-left-radius: 20px;
        flex: 1 0 auto;
        pointer-events: all;
        width: 100px;
        .messagesHolder{
          .message-scroll-date-holder{
            padding-right: $sidebar-width !important;
            place-content: center;
            align-content: center;
            .title{
              margin-right: 40px;
            }
          }
          .message-text-holder{
            flex: 1 1 90% !important;
            max-width: 90% !important;
          }
          .message-text{
            color: white !important;
            background: #212121 !important;

            &.mine{
              background: #585858 !important;
            }

          }
        }
        .newMessageHolder{
          border-top: none !important;
          background: #2C2C2C !important;
          border-radius: 40px !important;
          margin-left: 20px !important;
          margin-right: 20px !important;
          margin-bottom: 20px !important;
          min-height: 40px !important;
          .in-reply-to{
            border-top: none !important;
          }
          .messageContent{
            color: white !important;
          }
        }
        .message-scroll-date-holder{}
      }
      .messages-holder-sidebar{
        flex: 0 0 auto;
        pointer-events: all;
        min-width: $sidebar-width;
        display: flex;
        flex-direction: column;
        .sidebar-members{

        }
      }
    }
  }

}
