@import '../../vars.scss';
@mixin user-feed-title{
  display: flex;
  flex-direction: row;
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding: 5px 25px;
  .feed-icon{
    background: white;
    padding: 2px;
    width: 35px;
    height: 35px;
    flex: 0 0 auto;
    box-shadow: $message-shadow;
    border-radius: 50%;
    .profilePicWrapper{
      width: 100%;
      height: 100%;
    }
  }
  .feed-title{
    flex: 1 1 auto;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    place-items: center;
    align-items: center;
    font-size: 80%;
    span{
      font-family: $medium-font;
    }
    .label{
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 5px;
      font-family: $medium-font;
    }
  }
  .feed-action{
    place-items: center;
    display: flex;
    .live{
      color: red;
      margin-left: 10px;
      margin-right: 10px;
      font-family: $medium-font;
    }
    .action-following, .action-follow-request{
      background: #F4F4F4;
      cursor: pointer;
      border-radius: 20px;
      display: flex;
      padding: 5px 10px;
      font-size: 80%;
      border: 1px solid #D6D6D6;
      color: #777778;
      .action{
        display: none;
        color: white;
      }
    }
    .action-following:hover{
      background: #ff1818;
      .action{
        display: block;
      }
      .simple{
        display: none;
      }
    }
    .action-follow{
      cursor: pointer;
      background: #5AB9FF;
      border-radius: 20px;
      display: grid;
      grid-template-columns: min-content auto;
      padding: 5px 10px;
      img{
        width: 13px;
        margin: auto;
      }
      div{
        color: white;
        margin-left: 5px;
        font-size: 80%;
      }
    }
    .action-follow:hover{
      background: #3cabfd;
    }
  }
}
