@import '../../vars.scss';

@mixin user-feed-live{
  .thumbnail-holder{
    position: relative;
    .video-title{
      position: absolute;
      bottom: 0;
      padding: 10px 10px;
      color: white;
      background: rgba(0, 0, 0, 0.37);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 40px;
      min-height: 80px;
    }
    .video-icon{
      display:flex;
      align-items: center;
      img{
        max-height: 40px;
        max-width: 40px;
      }
    }
    .playing-members{
      display: flex;
      position: absolute;
      top: 0;
      width: 100%;
      margin-top: 10px;
      margin-left: 10px;
      .playing-members-list{
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        overflow: scroll;
        .playing-member-item{
          margin-left: 5px;
          width: 30px;
          height: 30px;
          flex: 0 0 auto;
          border-radius: 50%;
          box-shadow: $message-shadow;
          padding: 2px;

          .profilePicWrapper{
            width: 100%;
            height: 100%;
          }
        }
      }
      .playing-members-views{
        display: flex;
        align-items: center;
        .views-img{
          width: 15px;
          flex: 0 0 auto;
          height: auto;
        }
        .label{
          color: #989898;
          font-size: 70%;
          margin-left: 5px;
        }
      }
    }
  }
  .feed-live-footer{
    display: flex;
    padding: 10px 20px;
    place-items: center;
    align-content: center;

    flex-direction: row;
    .post-author-pic{
      width: 30px;
      flex: 0 0 auto;
      height: 30px;
      .profilePicWrapper{
        width: 100%;
        height: 100%;
      }
    }
    .post-author-name{
      margin-left: 20px;
      flex: 1 1 auto;
      place-self: center;
      align-self: center;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .post-live-join{
      flex: 0 0 auto;
      @include iconned-button(#02E7B2, 15px);
    }
  }

}
