@import '../../vars.scss';
@import './user-feed-title.scss';
@import './user-feed-live.scss';
@mixin user-feed-item{
  display: flex;
  flex-direction: column;
  $user-feed-item-width: 76.9%;
  .user-feed-item{
    cursor: pointer;
    flex: 0 0 $user-feed-item-width;
    max-width: $user-feed-item-width;
    align-self: center;
    min-width: $user-feed-item-width;
    box-shadow: $message-shadow;
    background: white;
    border-radius: 20px;
  }
  .user-feed-item-live-wrapper{
    flex: 0 0 $user-feed-item-width;
    max-width: $user-feed-item-width;
    min-width: $user-feed-item-width;
    align-self: center;
    &.active{
      padding: 10px;
      border-radius: 20px;
      background: $primary-gradient;
    }
    .feed-title-holder{
      @include user-feed-title;
    }
    .user-feed-item-live{
      @include user-feed-live;
      flex: 1 1 auto;
      max-width: 100%;
      min-width: 100%;
      margin-top: 0;
      font-size: 100%;
      .feed-live-footer{
        padding-right: 15px;
        padding-top: 10px;
        padding-left: 20px;
      }
    }
  }
  .user-feed-item-post{
    background: none;
    box-shadow: none;
    .feed-title-holder{
      @include user-feed-title;
    }
    .feed-post-content{
      @include feed-post-content;
      box-shadow: none;
      flex: 1 1 auto;
      width: 100%;
      background: none;
      border-radius: 0px;
      padding: 0;
      position: relative;
      font-size: 100%;
      .post-content{

        box-shadow: $message-shadow;
        background: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        .post-body{
          min-height: 72px;
        }
        .post-message{
          margin-top: auto;
          margin-bottom: auto;
          font-size: 110%;
          word-break: break-word;
          margin-left: 10px;
        }
        .post-time{
          color: #838383;
          font-size: 80%;
          text-align: right;
          padding-right: 10px;
          margin-bottom: 5px;
        }
        .post-attachments{
          padding-bottom: 0px;
        }
        .post-attachment-item{
          .message-video{
            margin-left: 0;
            margin-right: 0;
            outline: none;
          }
        }
      }
      .post-footer{
        display: flex;
        font-size: 100%;
        border-top: 1px solid lightgray;
        padding: 10px 20px;
        padding-right: 15px;
        padding-top: 10px;
        padding-left: 20px;
        .profilePicWrapper{
          width: 30px;
          height: 30px;
        }
        .post-author-name{
          margin-left: 10px;
          flex: 1 1;
          place-self: center;
          align-self: center;
          overflow-wrap: break-word;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .post-reactions{
          @include feed-elem-reactions(15px);
          place-content: center;
          place-items: center;
          font-size: 100%;
          margin-right: 0px;
          .reaction-comments{
            margin-right: 8px;
            grid-column-gap: 2px;
            img{
                width: 25px;
            }
          }
          .reaction-likes{
            img{
              width: 25px;
            }
          }
        }
      }
    }
    .post-comments{
      width: 100%;
      font-size: 90%;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      align-self: center;
      .no-comments{
        text-align: center;
        color: #ACACAC;
      }
      .comments-header{
        display: flex;
        padding-bottom: 5px;
      }
      .comments, .likes {
        display: flex;
        .label {
          font-family: $medium-font;
        }
        .value {
          margin-left: 5px;
          opacity: 0.59;
        }
      }
      .likes{
        margin-left: 10px;
      }
      .new-comment{
        padding-top: 10px;
        padding-bottom: 20px;
        .input{
          width: 100%;
          border: none;
          background: white;
          border-radius: 15px;
          padding-left: 20px;
          padding-right: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          outline: none;
        }
      }
      .post-comment-item{
        border-top: 1px solid #7070704a;
        padding-top: 5px;
        padding-bottom: 10px;
        .header {
          display: flex;
          flex-direction: row;
          .comment-author-pic{
            .profilePicWrapper{
              width: 20px;
              height: 20px;
            }
          }
          .comment-author-name{
            opacity: 0.59;
            margin-left: 10px;
            flex: 1 1 auto;
          }
          .comment-like{
            place-self: center;
            justify-self: flex-end;
            img{
              cursor: pointer;
              width: 15px;
            }
          }
        }
        .comment-content{
          font-size: 90%;
          padding-left: 31px;
        }
      }

    }
  }
  .user-feed-item-event{
    background: none;
    box-shadow: none;
    .feed-title-holder{
      @include user-feed-title;
    }
    @include events-list-item;
    font-size: 100%;
    .feed-title-holder{
      background: white;
      box-shadow: $message-shadow;

    }
    .feed-event-content{
      margin-top: 0px;
      padding-bottom: 10px;
      box-shadow: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: $message-shadow;
      .feed-event-date-root{
        margin-left: 0px;
        margin-right: 0px;
      }
      .feed-event-header{
        margin-right: 15px;
      }
      .feed-event-description{
        margin-left: 0;
        margin-right: 0;
      }
      .feed-event-footer{
        padding-right: 15px;
        padding-top: 10px;
        padding-left: 20px;
        .feed-reactions{
          font-size: 100%;
          margin-right: 12px;
          .reaction-comments{
            margin-right: 8px;
            grid-column-gap: 2px;
            img{
                width: 25px;
            }
          }
          .reaction-likes{
            img{
              width: 25px;
            }
          }
        }
        .feed-action{
          .action-join, .action-joined, .action-owner{
            font-size: 130%;
            padding: 4px 17px;
          }
        }
      }
      .feed-event-body{
        margin-left: 20px;
        .feed-event-pic{
          margin-left: -20px
        }
        .feed-event-header{
          .feed-event-title{
            text-shadow: 1px 1px 2px lightgrey;
            font-size: 145%;
          }
        }
      }
      &:hover{
        background: white;
      }
    }
    .event-content{
      .feed-event-comments{
        padding-left: 20px;
        padding-right: 20px;
        .comment-content{
          padding-left: 35px;
        }
        .new-comment{
          .input{
            background: white;
          }
        }
      }
    }
  }
}
