@import '../vars.scss';
@mixin chat-member{
  width: 35px;
  height: 35px;
  padding: 2px;
  border-radius: 50%;
  .member-wrapper{
    background: white;
    box-shadow: $message-shadow;
    border-radius: 50%;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2px;
  }
  .member-content{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    .profilePicWrapper{
      width: 100%;
      height: 100%;
    }
    .mic-holder{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 86px;
      height: 86px;
      align-items: center;
      place-items: center;
      align-content: center;
      place-content: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;

    }
    .video-holder{
      display: none;
    }

  }
  &.streaming-mic{
    width: 100px;
    height: 100px;
    background: $primary-gradient;
    padding: 5px;
    .member-content{
      .mic-holder{
        display: flex;

      }
    }
  }
  &.streaming-video{
    width: 150px;
    height: 150px;
    background: $primary-gradient;
    padding: 5px;
    .member-content{
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      .mic-holder{
        display: none;
      }
      .profilePicWrapper{
        display: none;
      }
      .video-holder{
        display: flex;
        display: flex;
        width: 200px;
        position: absolute;
        height: 150px;
        left: -25px;
        top: -2px;
        video{
          width: 200px;
          height: 150px;
        }
        .fp-engine{
          top: 0;
          position: absolute;
        }
        .fp-ui{
          display: none;
        }
        .fp-captions{
          display: none;
        }
        a{
          top: 0;
          left: 0;
          bottom: auto;
        }
        .fp-player{
          height: 150px;
        }
        .fp-ratio{
          display: none;
        }

      }
    }
  }

}
@mixin chat-members{
  display: flex;
  flex-direction: row;
  z-index: 200;
  .member{
    @include chat-member;
  }
  .remote-streams{
    display: flex;
    flex-direction: row;
  }
  &.fullscreen{
    flex-direction: column;
    .member{
      width: 120px;
      height: 120px;
      .member-content{
        .mic-holder{
          width: 112px;
          height: 112px;
        }
        .video-holder{
          height: 120px;
          width: 160px;
          left: -20px;
          video{
            height: 120px;
            width: 160px;
          }
          .fp-engine{
            height: 120px;
            width: 160px;
          }
        }
      }
    }
  }
}
