@import '../vars.scss';
@mixin chat-member{
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 50%;
  animation: width 1s,height 1s;
  .member-wrapper{
    background: white;
    pointer-events: none;
    box-shadow: $message-shadow;
    border-radius: 50%;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2px;
  }

  .member-content{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transform: translate3d(0,0,0);
    .profilePicWrapper{
      width: 100%;
      height: 100%;
    }
    .muted-holder{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 42px;
      height: 42px;
      align-items: flex-end;
      place-items: flex-end;
      align-content: center;
      place-content: center;
      &.active{
        display: flex;
      }
      img{
        width: 10px;
      }
    }
    .mic-holder{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 42px;
      height: 42px;
      animation: width,height;
      align-items: center;
      place-items: center;
      align-content: center;
      place-content: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      img{
        width: 15px;
      }

    }
    .video-holder{
      transform: translate3d(0,0,0);
      display: none;
      audio{
        display: none;
      }
      .loading-view{
        display: none;
        position: absolute;
        left: 50%;
        margin-left: -32px;
      }
      &.loading{
        .loading-view{
          display: flex;
        }
      }
    }
    .overlay{
      display: none;
      background: #000;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }

  }
  &.streaming-mic{
    background: $primary-gradient;
    .member-content{
      .mic-holder{
        display: flex;
      }
    }
  }
  &.streaming-video{
    background: $primary-gradient;
    .member-content{
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      .mic-holder{
        display: none;
      }
      .profilePicWrapper{
        display: none;
      }
      .video-holder{
        display: flex;
        display: flex;
        width: 56px;
        height: 42px;
        position: absolute;
        left: -11px;
        top: 0;
        video{
          width: 56px;
          height: 42px;
        }
      }

    }
  }
  &.large{
    width: 150px;
    height: 150px;
    padding: 5px;
    .muted-holder{
      width: 136px;
      height: 136px;
      img{
        width: 30px;
      }
    }
    .overlay{
      width: 136px;
      height: 136px;
    }
    .mic-holder{
      width: 136px;
      height: 136px;
      img{
        width: unset;
      }
    }
    .member-wrapper{
      .member-content{
        .video-holder{
          height: 136px;
          width: 182px;
          left: -23px;
          video{
            height: 136px;
            width: 182px;
          }
        }
      }
    }

  }
  &:hover{
    .overlay{
      display: flex;
    }
  }
}
@mixin chat-members{
  display: flex;
  flex-direction: row;
  z-index: 200;
  .member{
    @include chat-member;
    cursor: pointer;
  }
  .remote-streams{
    display: flex;
    flex-direction: row;
  }
  &.fullscreen{
    flex-direction: column;
    .member{
      &.large{
        width: 120px;
        height: 120px;
        .member-content{
          .mic-holder{
            height: 106px;
            width: 106px;
          }
          .overlay{
            width: 106px;
            height: 106px;
          }
          .muted-holder{
            height: 106px;
            width: 106px;
          }
          .video-holder{
            height: 106px;
            width: 142px;
            left: -20px;
            video{
              height: 106px;
              width: 142px;
            }
          }
        }
      }
    }
  }
}
