@import '../vars.scss';
@mixin streaming-control{
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  display: flex;
  place-items: center;
  align-items: center;
  .icon-mic{
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #EDEDED;
    margin-right: 2px;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    display: flex;
    place-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;

    &:hover{
      background: darken(#EDEDED, 30%);
    }
    .img{
      height: 20px;
    }
    .img.on{
      display: none;
    }
    &.active{
      .img.off{
        display: none;
      }
      .img.on{
        display: block;
      }
    }
  }
  .icon-camera{
    cursor: pointer;
    background: #EDEDED;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    width: 50px;
    height: 30px;
    display: flex;
    &:hover{
      background: darken(#EDEDED, 30%);
    }
    place-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;    
    .img{
      width: 15px;
    }
    .img.on{
      display: none;
    }
    &.active{
      .img.off{
        display: none;
      }
      .img.on{
        display: block;
      }
    }
  }
  &.streaming-mic{
    .icon-mic{
      background: #60D3FC;
    }
  }
  &.streaming-video{
    .icon-camera{
      background: #60D3FC;
    }
  }

}
