@import '../vars.scss';

@mixin videos-auth-list{
  display: flex;
  flex-direction: row;
  box-shadow: $message-shadow;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-radius: 25px;
  margin-top: 10px;
  .login-item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    &:hover{
      border-radius: 50%;
      background: lightgray;
      img{
        filter: invert(1);
      }
    }
    &.youtube{
      img{
        width: 35px;
      }
    }
    &.crunchroll{
      img{
        height: 30px;
      }

    }
    &.khan{
      img{
        height: 25px;  
      }

    }
  }

}
