@import '../vars.scss';
@mixin video-watchers-holder{
  .watchers{
    width: 100%;
  }
  .watcher{
    @include video-watcher-item;
  }
}
@mixin video-watcher-item($size:35px, $padding: 4px){
  .pic{
    width: $size;
    height: $size;
    background: white;
    border-radius: 50%;
    padding: $padding;
    box-shadow: $message-shadow;
  }
  .profilePicWrapper {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
