@import '../vars.scss';
@mixin video-watchers-holder{
  &.fullscreen{
    place-items: center;
    align-items: center;
    .broadcast-stream{
      pointer-events: all;
      margin-bottom: 10px;
      padding-right: 0px;
      display: flex;
      width: min-content;
    }
  }
  .watchers{
    width: 100%;
    display: flex;
  }
  .watcher{
    @include video-watcher-item;
  }
}
@mixin video-watcher-item($size:35px, $padding: 4px){
  .pic{
    width: $size;
    height: $size;
    background: white;
    border-radius: 50%;
    padding: $padding;
    box-shadow: $message-shadow;
  }
  .profilePicWrapper {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
