@import './watcher-item.scss';
body.fullscreen-video{

  #youtubeHolder{
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    height: 100% !important;
    #ytplayer{
      height: 100% !important;
      width: 100% !important;
      div{
        height: 100% !important;
        width: 100% !important;
      }
      video{
        height: 100% !important;
        width: 100% !important;
      }

    }
    .overlay{
      height: 100% !important;
      width: 100% !important;
    }

    .controlsOverlay{
      width: 100% !important;
      height: 100% !important;
      display: flex !important;
      background: none !important;
      .control{
        .play, .pause{
          display: none !important;
        }
      }

      .full-off{
        display: flex !important;

      }
      .collapse-video{
        display: none !important;
      }
      .full{
        display: none !important;
      }
    }
    // .watchers-holder {
    //   display: flex;
    //   z-index: 300;
    //   width: 200px !important;
    //   right: 0px !important;
    //   padding-left: 0px !important;
    //   padding-bottom: 40px;
    //   flex-direction: column !important;
    //   padding-top: 40px !important;
    //   overflow: scroll;
    //   height: 100% !important;
    //   pointer-events: all !important;
    //   .watchers-streamer,.watchers-other{
    //     height: min-content !important;
    //     display: flex !important;
    //     place-content: center !important;
    //     align-content: center !important;
    //     width: 100% !important;
    //     .pic{
    //       width: 120px !important;
    //       height: 120px !important;
    //     }
    //   }
    // }
  }
  .messages-holder-full{
    z-index: 200;
    top: 0;
    position: fixed;
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: row !important;
    bottom: 0px;
    height: 100%;
    display: none !important;
    padding-bottom: 60px;
    pointer-events: none;
    .messages-holder-content{
      background: rgba(0, 0, 0, 0.5);
      border-bottom-left-radius: 20px;
      flex: 1 0 auto;
      pointer-events: all;
      .in-reply-to{
        color: white;
        .reply-text{
          border-left-color: white !important;
          color: white !important;
        }
        .reply-close{
          filter: invert(1);
        }
      }
      .messagesHolder{
        .message-text{
          color: white !important;
          background: #212121 !important;
          &.mine{
            background: #585858 !important;
          }

        }
      }
      .newMessageHolder{
        .messageContent{
          color: white !important;
        }
      }
    }
    .messages-holder-sidebar{
      flex: 0 0 auto;
      pointer-events: all;
      min-width: 200px;
      display: flex;
      background: #000;
      flex-direction: column;
      .sidebar-members{

      }
    }
  }
  .feed-content-wrapper{
      &.mouse-on{
        .messages-holder-full{
          display: flex !important;
        }
      }
  }
}
