@import '../vars.scss';
@mixin youtube-item{
  position: relative;
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex: 1 1 50%;
  max-width: 50%;
  flex-direction: column;
  position: relative;
  .youtube-video-remove{
    width: min-content;
    position: absolute;
    right: -5px;
    background: white;
    border-radius: 50%;
    top: -10px;
    .icon{
      width: 20px;
      cursor: pointer;
      &:hover{
        filter: invert(1);
      }
    }
  }
  .youtube-video-add{
    position: absolute;
    right: 10px;
    background: rgba(111, 111, 111, 0.73);
    border-radius: 50%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    top: 9px;

    min-width: 23px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 23px;


    .label{
      display: none;
    }
    img{
      width: 10px;
      margin: auto;
      flex: 0 0 auto;
    }
    &:hover{
      padding: 0px 7px;
      background: darken(rgba(111, 111, 111, 0.73), 30%);
      .label{
        font-size: 70%;
        color: white;
        margin-left: 4px;
        display: block;
        width: max-content;

      }
    }
    cursor: pointer;
  }
  // display: grid;
  // grid-template-rows: max-content auto max-content max-content;
  // grid-row-gap: 2px;
  .request-overlay {
      display: none;
      position: absolute;
      width: 100%;
      left:0;
      top: 0;
      height: 100%;
      background: rgba(1,1,1,0.3);
      border-radius: 10px;
      .request-btn{
        margin: auto;
        background: blueviolet;
        color: white;
        padding: 10px 25px;
        border-radius: 20px;
        font-family: $medium-font;
      }
      .request-btn:hover{
        background: #5e1f98;
      }
  }
  .title-holder {
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .videoTitle {
    font-size: 80%;
    font-family: $medium-font;
    margin-bottom: 0;
  }

  .channel-title, .channel-desc {
    font-size: 65%;
    color: #696969;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .video-icon{
    display:flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    img{
      width: 25px;
    }
  }

  .thumbnail {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: $video-round-corner;
  }

  &:hover{
      background: rgb(218, 218, 218);
      border-radius: 10px;
      padding: 5px;
     .request-overlay {
       display:grid;
     }

     .block-with-text:after {
       background: rgb(218, 218, 218);;
     }
  }

  &.removable{
    cursor: unset;
    &:hover{
        background: none;
        .block-with-text:after {
          background: white;
        }
    }
  }
}
