@import './watcher-item.scss';
$sidebar-width: 125px;
body.fullscreen-video{
  .feed-content-wrapper{
    .watchers-holder{
      margin-left: 0 !important;
      padding-left: 0 !important;
      padding-top: 55px !important;
      margin-top: 0 !important;
      align-self: center !important;
      flex-direction: column !important;
      top: 0;
      display: flex !important;
      padding: 0;
      right: 0px !important;
      position: fixed !important;
      width: $sidebar-width !important;
      height: 100% !important;
      .watchers{
        flex: 1 1 auto !important;
        display: flex !important;
        flex-direction: column !important;
      }
      &.loading{

        .watchers-streamer{
          margin: 0 !important;
        }
        .watchers-other{
          margin-top: 0 !important;

        }
        .watchers{
          display: flex !important;
          height: auto !important;
        }
      }
      .controls{
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        place-items: flex-end;
        align-items: flex-end;
        padding-bottom: 20px;
        padding-right: 20px;
      }
      .mute, .full-off{
        display: flex;
        cursor: pointer;
        pointer-events: all;
        width: 40px;
        height: 40px;
        place-items: center;
        align-items: center;
        margin-bottom: 20px;
        pointer-events: all;
        img{
          width: 30px;
          height: auto;
        }
      }
      .watchers-streamer,.watchers-other{
        height: min-content !important;
        display: flex !important;
        place-content: center !important;
        align-content: center !important;
        width: 100% !important;
        .pic{
          width: 120px !important;
          height: 120px !important;
        }
      }
    }

  }
  #youtubeHolder{
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    height: 100% !important;
    #ytplayer{
      background: #000;
      height: 100% !important;
      width: 100% !important;
      div{
        height: 100% !important;
        width: 100% !important;
      }
      video{
        height: 100% !important;
        width: 100% !important;
      }

    }
    .overlay{
      height: 100% !important;
      width: 100% !important;
    }

    .controlsOverlay{
      width: 100% !important;
      height: 100% !important;
      display: flex !important;
      background: none !important;
      .control{
        .play, .pause{
          display: none !important;
        }
      }

      .close{
        display: none !important;
      }
      .full-off{
        display: none !important;
      }
      .mute{
        display: none !important;
      }
      .switch-holder{
        display: none !important;
      }
      .collapse-video{
        display: none !important;
      }
      .full{
        display: none !important;
      }
    }
  }
  .messages-holder-full{
    z-index: 200;
    top: 0;
    position: fixed;
    right: 0;
    width: 35.6%;
    display: flex;
    flex-direction: row !important;
    bottom: 0px;
    height: 100%;
    display: none !important;
    padding-bottom: 15px;
    pointer-events: none;
    flex-wrap: nowrap !important;
    .messages-holder-content{
      background: rgba(0, 0, 0, 0.5);
      border-bottom-left-radius: 20px;
      flex: 1 0 auto;
      pointer-events: all;
      width: 100px;
      .in-reply-to{
        color: white;
        .reply-text{
          border-left-color: white !important;
          color: white !important;
        }
        .reply-close{
          filter: invert(1);
        }
      }
      .messagesHolder{
        .message-scroll-date-holder{
          padding-right: $sidebar-width !important;
          place-content: center;
          align-content: center;
          .title{
            margin-right: 40px;
          }
        }
        .message-text-holder{
          flex: 1 1 90% !important;
          max-width: 90% !important;
        }
        .message-text{
          color: white !important;
          background: #212121 !important;

          &.mine{
            background: #585858 !important;
          }

        }
      }
      .newMessageHolder{
        border-top: none !important;
        background: #2C2C2C !important;
        border-radius: 40px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 20px !important;
        .in-reply-to{
          border-top: none !important;
        }
        .messageContent{
          color: white !important;
        }
      }
      .message-scroll-date-holder{}
    }
    .messages-holder-sidebar{
      flex: 0 0 auto;
      pointer-events: all;
      min-width: $sidebar-width;
      display: flex;      
      flex-direction: column;
      .sidebar-members{

      }
    }
  }
  .feed-content-wrapper{
      &.mouse-on{
        .messages-holder-full{
          display: flex !important;
        }
      }
  }
}
