<div class="help-about-root">
  <div class="top">
    <div class="left">
      <div class="left-header">
        <div class="label">
          Playnows
        </div>
        <div class="img">
          <img src="/assets/main.png" alt="branch image">
        </div>
      </div>
      <div class="text">
        Playnow is a new age video sharing app that allows you and your friends to watch
        <p>videos together. No more crowding around phone screens or sharing links.</p>
        <p>Watch a video in live time in a group chat!</p>
        <p>Watch together, anywhere and anytime!</p>
      </div>
    </div>
    <div class="right">
      <img src="/assets/help/about-logo.webp" alt="help about image">
    </div>
  </div>
  <div class="arrow" onclick="$('html, body').animate({scrollTop: $('.mainPage').height()}, 1000);">
    <svg preserveAspectRatio="xMidYMid meet" data-bbox="13.538 9.013 179.163 84.596" xmlns="http://www.w3.org/2000/svg" viewBox="13.538256645202637 9.013167381286621 179.16253662109375 84.5959701538086" role="img" style="stroke-width: 0px;">
      <g>
          <path d="M189.808 62.082c-.469 0-.944-.113-1.385-.356L103.12 15.2 17.817 61.726a2.883 2.883 0 0 1-3.925-1.153 2.887 2.887 0 0 1 1.156-3.922l86.688-47.286a2.9 2.9 0 0 1 2.769 0l86.688 47.286a2.886 2.886 0 0 1 1.153 3.922 2.874 2.874 0 0 1-2.538 1.509z"></path>
          <path d="M189.808 93.608c-.469 0-.944-.113-1.385-.356L103.12 46.723 17.817 93.252a2.883 2.883 0 0 1-3.925-1.153 2.887 2.887 0 0 1 1.156-3.922l86.688-47.289a2.9 2.9 0 0 1 2.769 0l86.688 47.289a2.886 2.886 0 0 1 1.153 3.922 2.874 2.874 0 0 1-2.538 1.509z"></path>
      </g>
    </svg>
  </div>
  <div class="bottom">
    <iframe width="670" height="386" src="https://www.youtube.com/embed/iu6s7mbN4w0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
