<div class="help-community-root">
  <div class="title-row">
  </div>
  <div class="terms-content">
    <p class="title">Community Guidelines</p>
    Playnows' purpose is to allow users to have a space to do anything together, starting with watching videos and listening to music together. And this means that there will always be interaction between you and your friends. The following guidelines help define what it means to be a user on Playnows and are how you can help keep the community a safe, friendly, and fun place for everyone.
<p class="header1">How to get the most out of Playnows</p>
<ul>
  <li>
Share videos you love. Funny videos, DIY videos, music videos, documentaries... Anything!
</li>
<li>
Build a profile that feels like you. Set a unique profile picture. Mona Lisa is great but we are sure that your friends would want to see you more than Mona Lisa!
</li>
<li>
Report inappropriate content. Help Playnows to become a safe and strong community by letting us know when something violates the rules. To report a video, tap the exclamation mark button on the video and then choose “Report.”
</li>
<li>
Be nice and fun!
</li>
</ul>
<p class="header1">General safety guidelines</p>
Violation of the following guidelines may result in your account and/or content being removed. We reserve the right to monitor and report content to authorities.
<ul>
<li>
DO NOT use the app if you are under 13. As per our Terms of Service, Playnows - Watch together is an app for users age 13 and over.
</li>
<li>
Be mindful of what you send or share. Playnows is strongly against explicit content, sexual content, or nudity.
</li>
<li>
DO NOT post, share, or send illegal content, threats, or hate speech. If you observe this sort of inappropriate behavior, please report it immediately.
</li>
<li>
DO NOT bully, harass, or disrespect other users. If you feel someone is harassing you, please report them. You can also block someone from texting you.
</li>
<li>
DO NOT impersonate another person. You must not use someone else’s photo, name, or likeness.
</li>
<li>
DO NOT post personal details. We strongly advise you to not send your home address, phone number, or any other personal details.
</li>
</ul>
We pride ourselves on having a positive, passionate, and fun community. Thank you for being great community members and helping make Playnows what it is today!
If you have questions or want to tell us what’s on your mind, email us at <a href="mailto:andrew.jang@playnowmessenger.com">andrew@playnows.com</a>.
  </div>
</div>
