<div class="help-contact-root">
  <div class="title">
    Need help using Playnows? Try visiting
    {{#link-to "welcome"}}
      Support
    {{/link-to}}
    .
  </div>
  <div class="contact-form">
    <div class="contact-title">
      Contact Us
    </div>
    <div class="title">
      Business Inquiries:
    </div>
    <div class="stitle">
      <div class="item">
        <span>In the U.S:</span> <a href="mailto:andrew.jang@playnowmessenger.com" rel="noopener" target="_blank">andrew@playnows.com</a>
      </div>
      <div class="item">
        <span>Outside the U.S:</span> <a href="mailto:victor@playnows.com" rel="noopener" target="_blank">victor@playnows.com</a>
      </div>
    </div>
    <div class="title">
      Press Inquiries:
    </div>
    <div class="stitle">
      <a href="mailto:andrew.jang@playnowmessenger.com" rel="noopener" target="_blank">info@playnows.com</a>
    </div>
    <div class="title">
      Legal Inquiries:
    </div>
    <div class="stitle">
      <a href="mailto:andrew.jang@playnowmessenger.com" rel="noopener" target="_blank">info@playnows.com</a>
    </div>
  </div>
</div>
