<div class="help-copyright-root">
  <div class="title-row">
  </div>
  <div class="terms-content">
    <p class="title">Copyright Policy</p>
    <p class="time">
    Last Modified: January 2, 2018
    </p>
    Playnows respects the intellectual property rights of others and we expect you to do the same.
    <p class="header1">Account Suspension or Termination</p>
    ​Your account may be suspended or terminated for multiple copyright violations or other violations of the Terms of Use.
    <p class="header1">Copyright Infringement Notification</p>
    ​If you believe that your copyright-protected work was posted on Playnows' site or Playnows - Watch together app, or otherwise hosted by Playnows, without authorization, you may submit a copyright infringement notification. The notification must include the following:
<ul>
  <li>
    An email address, physical address or phone number so that we and the uploader of your work can contact you.
  </li>
  <li>
    A clear and complete description of your work that you believe has been infringed.
  </li>
  <li>
    The URL or other identifying location of the allegedly infringing work.
  </li>
  <li>
    A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law.
  </li>
  <li>
    A statement, made under penalty of perjury, that the above information is accurate, and that you are the copyright owner or are authorized to act on behalf of the owner.
  </li>
  <li>
    The physical or electronic signature of the copyright owner or an authorized representative of the copyright owner. To satisfy this requirement, you may type your full legal name (not that of a company) at the bottom of your notification
  </li>
</ul>
    Submit the above information to us:
    <ul>
      <li>By Email: andrew@playnows.com</li>
      <li>By Mail: Playnows, Inc., 23 Romoda Rd., SMC # 0549, Canton, NY 13617​ </li>
    </ul>

    All information submitted in your copyright infringement notification may be forwarded to the poster of the content, to chillingeffects.org, or otherwise made public in any way by Playnows or a third party.
    <p class="header1">Copyright Infringement Counter-Notification</p>
    ​If you receive a copyright infringement notification that you believe to be in error, you may provide us with a counter-notification. It must include the following:
    <ul>
    <li>
      Your contact information, including your full legal name (not that of a company), an email address, a physical address, and a phone number. If you are an authorized representative of the uploader, such as an attorney, please be sure to specify your relationship to the uploader.
    </li>
  <li>
    Identify the location, including any URL, of the work that has been removed or disabled.
  </li>
  <li>
    You must agree to and include the following statement: "I consent to the jurisdiction of the Federal District Court for the district in which my address is located, or if my address is outside of the United States, the judicial district in which Playnows is located, and will accept service of process from the claimant." Playnows is located in Canton of New York.
  </li>
  <li>
    And the following statement: "I swear, under penalty of perjury, that I have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled."
</li>
<li>
    The physical or electronic signature of the copyright owner or an authorized representative of the copyright owner. To satisfy this requirement, you may type your full legal name (not that of a company) at the bottom of your electronic counter-notification.
</li>
</ul>
    Submit the above information to us:
    <ul>
      <li>By Email: andrew@playnows.com</li>
      <li>By Mail: Playnows, Inc., 23 Romoda Rd., SMC # 0549, Canton, NY 13617</li>
    </ul>

    The counter-notification process may take up to 10 business days to complete, so please be patient. During this time, the copyright claimant may file an action seeking a court order to keep the content down. Please note that we will forward the entire counter notice to the copyright claimant, including any personal information you provide, and the counter notice may be made public. The claimant may use this information to file a lawsuit against you.
    The decision to re-post any material is at Playnows' sole discretion.
  </div>
</div>
