<div class="help-root">
  <div class="help-header">
      {{#link-to "home" classNames="help-header-brand" tagName="div"}}
        <div class="label">
          Playnows
        </div>
        <div class="img">
          <img src="/assets/main.png" alt="branch image">
        </div>
      {{/link-to}}
      <div class="help-header-navigation">
        {{#link-to "welcome" classNames="link"}}
          Home
        {{/link-to}}
        {{#link-to "help.about" classNames="link"}}
          About Us
        {{/link-to}}
        {{#link-to "help.jobs" classNames="link"}}
          Jobs
        {{/link-to}}
        {{#link-to "help.contact" classNames="link"}}
          Contact
        {{/link-to}}
      </div>
  </div>
  <div class="help-content">
    {{outlet}}
  </div>
  <div class="help-footer">
    <div class="left">
    </div>
    <div class="sections">
      <div class="section1">
        <div class="column">
          <div class="column-header">
            Company
          </div>
          {{#link-to "help.about" classNames="item"}}
            About Playnows
          {{/link-to}}
          {{#link-to "help.jobs" classNames="item"}}
            Jobs
          {{/link-to}}
        </div>
        <div class="column">
          <div class="column-header">
            Legal
          </div>
          {{#link-to "help.terms" classNames="item"}}
            Terms of Use
          {{/link-to}}
          {{#link-to "help.privacy" classNames="item"}}
            Privacy Policy
          {{/link-to}}
          {{#link-to "help.copyright" classNames="item"}}
            Copyright
          {{/link-to}}
        </div>
        <div class="column">
          <div class="column-header">
            Community
          </div>
          {{#link-to "help.community" classNames="item"}}
            Community Guidelines
          {{/link-to}}
          {{#link-to "help.support" classNames="item"}}
            Support
          {{/link-to}}
        </div>
        <div class="column">
          <div class="column-header">
            Business
          </div>
          {{#link-to "help.branding" classNames="item"}}
            Branding
          {{/link-to}}
          {{#link-to "help.contact" classNames="item"}}
            Contact
          {{/link-to}}
        </div>
      </div>
      <div class="section2">
        <div class="social facebook">
          <a href="https://www.facebook.com/playnow.anywhere" target="_blank" rel="noopener">
            <img src="/assets/help/footer-facebook.webp" alt="link facebook">
          </a>
        </div>
        <div class="social twitter">
          <a href="https://twitter.com/playnows_" target="_blank" rel="noopener">
            <img src="/assets/help/footer-twitter.webp" alt="link twitter">
          </a>
        </div>
        <div class="social instagram">
          <a href="https://www.instagram.com/playnow.anywhere/" target="_blank" rel="noopener">
            <img src="/assets/help/footer-instagram.webp" alt="link instagram">
          </a>
        </div>
        <div class="social youtube">
          <a href="https://www.youtube.com/channel/UCVTL0zv3F-CLYgUniOdubJQ?" target="_blank" rel="noopener">
            <img src="/assets/help/footer-youtube.webp" alt="link youtube">
          </a>
        </div>
      </div>
      <div class="section3">
        <div class="link">
          {{#link-to "help.privacy" classNames="item"}}
            Privacy Policy
          {{/link-to}}
        </div>
        <div class="link terms">
          {{#link-to "help.terms" classNames="item"}}
            Terms of Use
          {{/link-to}}
        </div>
        <div class="inc">
          ©2019 Playnow, Inc. All rights reserved.
        </div>
      </div>
    </div>
    <div class="right">
    </div>
  </div>
</div>
