{{#welcome-body classNames="root" tagName="section" minHeight=0}}

  <div class="col-friends h-100">
    <div class="row-friends h-100">
      {{#home-friends-list classNames="h-100 friendsOutlet" model=sortedFriends onOpenCompose=(action "onOpenCompose")}}
        {{#if loading}}
          <div class="loading-holder h-100">
            <div class="lds-ripple">
              <div></div>
              <div></div>
            </div>
          </div>
        {{/if}}
      {{/home-friends-list}}

    </div>
  </div>
  <div class="col-child-content h-100">
    {{outlet}}
  </div>

{{/welcome-body}}
<footer></footer>
