<div class="search-root">
  {{#welcome-body classNames="search-content" tagName="section" minHeight=0}}
    <div class="root h-100">
      <div class="search users h-100">
        <div class="content h-100">
          <div class="search-header">
            <span class="noselect">People</span>
          </div>
          <div class="searching-label">
            <div>Searching: <span>{{model.query}}</span></div>
          </div>
          <div class="searchResult users">
            {{#if loadingUsers}}
              {{loading-view}}
            {{/if}}
            {{#each search.users as |user|}}
              <div class="search-user-holder">
                {{#search-user-item model=user classNames="search-user" addAction=(action "followUser")
                                    sent=sentRequests}}

                {{/search-user-item}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="search rooms h-100">
        <div class="content h-100">
          <div class="search-header">
            <span class="noselect">Rooms</span>
          </div>
          <div class="searchResult rooms">
            {{home-feed-list
              model=groupPublicSide.items
              isLoading=groupPublicSide.isLoading
              isPublic=true
              classNames="feed-list items-holder"
              onFollowGroup=(action "followGroup" bubbles=false)
              onUnFollowGroup=(action "unFollowGroup" bubbles=false)
              onJoinEvent=(action "onJoinEvent" bubbles=false) onLeaveEvent=(action "onLeaveEvent" bubbles=false)}}
          </div>
        </div>
      </div>
    </div>
  {{/welcome-body}}
</div>
<footer></footer>
