<div class="row">
  {{#welcome-body classNames="container-fluid justify-content-md-center col-10" tagName="section" minHeight=0}}
    <div class="row root h-100">
      <div class="col-6 search users h-100">
        <div class="content h-100">
          <div class="header">
            <span class="noselect">People</span>
          </div>
          <div class="searching-label">
            <div>Searching: <span>{{model.query}}</span></div>
          </div>
          <div class="searchResult users">
            {{#if loadingUsers}}
              {{loading-view}}
            {{/if}}
            {{#each search.users as |user|}}
              <div class="search-user-holder">
                {{#search-user-item model=user classNames="search-user" addAction=(action "followUser")
                                    sent=sentRequests}}

                {{/search-user-item}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-6 search rooms h-100">
        <div class="content row h-100">
          <div class="header">
            <span class="noselect">Rooms</span>
          </div>
          <div class="searchResult rooms col-12">
            <div class="row">
              {{#if loadingRooms}}
                {{loading-view}}
              {{/if}}
              {{#each search.rooms as |room|}}
                <div class="col-6">
                  {{#link-to "home.chat" room.id "room" classNames="room-chat-link"}}
                    {{#home-room-item model=room classNames="search-room"
                                      sent=sentRequests}}

                    {{/home-room-item}}
                  {{/link-to}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/welcome-body}}
</div>
<footer></footer>
