<div class="row">
  {{#welcome-body classNames="container-fluid justify-content-md-center col-10" tagName='section' minHeight=0}}
    <div class="row root h-100">
      <div class="col-6 search users h-100">
        <div class="content h-100">
          <div class="header">
            <span class="noselect">People</span>
          </div>
          <div class="searching-label">
            <div>Searching: <span>{{model.query}}</span></div>
          </div>
          <div class="searchResult users">
            {{#each search.users as |user|}}
              <div class="search-user-holder">
                {{#search-user-item model=user classNames='search-user' addAction=(action 'followUser')
                                    sent=sentRequests}}{{/search-user-item}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-6 search rooms h-100">
        <div class="content h-100">
          <div class="header">
            <span class="noselect">Rooms</span>
          </div>
          <div class="searchResult rooms row">
            {{#each search.rooms as |room|}}
              {{#link-to 'home.chat' room.id 'room' classNames='room-chat-link col-6'}}
                {{#home-room-item model=room classNames='search-room'
                                  sent=sentRequests}}{{/home-room-item}}
              {{/link-to}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/welcome-body}}
</div>
<footer></footer>